@import controllers.actions.LoginState
@import models.master._

@(pageNumber: Int, nfts: Seq[NFT], nftWhitelistSales: Seq[NFTWhitelistSale], collections: Seq[Collection])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@if(nftWhitelistSales.nonEmpty) {
    <div class="contentBody">
        <div class="container contentTableContainer" id="offeredNFTsList">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table contentTable">
                            <thead>
                                <tr>
                                    <th class="text-end tableFieldNo">@Messages(constants.View.OFFERS_TABLE_TITLE_NO)</th>
                                    <th class="tableFieldNftName">@Messages(constants.View.OFFERS_TABLE_TITLE_NAME)</th>
                                    <th class="tableFieldCollectionName">@Messages(constants.View.OFFERS_TABLE_TITLE_COLLECTION_NAME)</th>
                                    <th class="tableFieldSaleStart">@Messages(constants.View.OFFERS_TABLE_TITLE_SALE_START)</th>
                                    <th class="tableFieldSaleEnd">@Messages(constants.View.OFFERS_TABLE_TITLE_SALE_END)</th>
                                </tr>
                            </thead>
                            <tbody id="offerListTableBody">
                                @nftWhitelistSales.zipWithIndex.map { case (nftWhitelistSale, index) =>
                                    @defining(nfts.find(_.fileName == nftWhitelistSale.fileName)) { nft =>
                                        @if(nft.isDefined) {
                                            <tr>
                                                <td class="text-end tableFieldNo">@(index + 1)</td>
                                                <td onclick="getForm(jsRoutes.controllers.NFTController.modalView('@nft.get.fileName'))" class="tableFieldNftName">@nft.get.name</td>
                                                <td class="tableFieldCollectionName">@collections.find(_.id == nft.get.collectionId).map(_.name).getOrElse("")</td>
                                                <td class="tableFieldSaleStart">
                                                    <span id="startEpoch_@nftWhitelistSale.id">@nftWhitelistSale.startTimeEpoch</span>
                                                </td>
                                                <td class="tableFieldSaleEnd">
                                                    <span id="endEpoch_@nftWhitelistSale.id">@nftWhitelistSale.endTimeEpoch</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    <script>epochToDateTime('startEpoch_@nftWhitelistSale.id'); epochToDateTime('endEpoch_@nftWhitelistSale.id')</script>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
} else {
    <div id="noOfferedNftsPerPage" class="noOfferLeft"></div>
    <div id="noOffer" class="h-100 mt-3 d-flex flex-column justify-content-center align-items-center emptyOfferList">
        <div class="message">@Messages(constants.View.NO_NFT_OFFERS)</div>
    </div>
}