@import views.html.nft._

@(collection: master.Collection, nfts: Seq[master.NFT])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@*<div class="profileContainer">*@
    <div class="item item-center nftContainer">
        <div class="profileCover">
            <div class="profileCoverContainer" id="collectionUncompressedCoverImage_@collection.id"></div>
        </div>
        <div class="profile-card">
            <div class="profiles-container">
                <div class="nft-list">
@*                    <div class="header-with-icon">*@
@*                        <div class="form-top">*@
@*                            <div onclick="componentResource('centerContent', jsRoutes.controllers.CollectionController.all())" class="d-flex align-items-center title-icon back-button-icon">*@
@*                                <img src="@routes.Assets.versioned("images/icon/backArrow.png")"/>*@
@*                            </div>*@
@*                            <div class="collection-link">@collection.name</div>*@
@*                        </div>*@
@*                    </div>*@
                    <div class="nft-list-container">
                        <div class="row m-0">
                        @nfts.map { nft =>
                            @commonNFTCard(collection, nft)
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
         checkAndPushState(jsRoutes.controllers.CollectionController.viewCollection('@collection.id').url, '@collection.id', "collection");
         getImage(jsRoutes.controllers.CollectionController.collectionFile('@collection.id', '@constants.Collection.File.COVER', false), 'collectionUncompressedCoverImage_@collection.id');
    </script>
@*</div>*@