@import models.analytics.CollectionAnalysis
@(collectionAnalysis: CollectionAnalysis)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class="sticky-top item-sticky">
    <div class="card rightInfoCard">
        <div class="d-flex flex-column gap-1">
            <div class="analysisTitle">@Messages(constants.View.COLLECTION_TOTAL_NFT_TITLE)</div>
            <div class="analysisValue">@collectionAnalysis.totalNFTs</div>
        </div>
        <div class="separator"></div>
        <div class="d-flex flex-column gap-1">
            <div class="analysisTitle">@Messages(constants.View.COLLECTION_OWNER_TITLE)</div>
            <div class="analysisValue">@collectionAnalysis.owners</div>
        </div>
    </div>
</div>