@import views.html.base.commonStringValue
@import views.html.collection.details.commonFilterSection

@(collection: master.Collection)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="sticky-top item-sticky">
    <div class="card leftInfoCard">
        <div class="title">@collection.name</div>
        <div class="description">
            @collection.description
            <div class="d-flex align-items-center gap-2 mt-4">
                <i class="bi bi-link-45deg iconDefault iconMedium"></i>
                <div class="externalLink">@Messages(constants.View.COLLECTION_DETAIL_EXTERNAL_LINK)</div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="title">@Messages(constants.View.COLLECTION_DETAIL_CREATOR_TITLE)</div>
        <div class="d-flex gap-2 align-items-center mt-3">
            <div class="profilePicture">
                <img src="@routes.Assets.versioned("images/defaultCollectionCover.png")"/>
            </div>
            <div class="creatorName">
            @commonStringValue(message = Messages(constants.View.COLLECTION_DETAIL_CREATOR_TITLE), id = utilities.IdGenerator.getRandomHexadecimal, length = 5)
            </div>
        </div>
        <div class="separator"></div>
        <div class="d-flex gap-3 gap-sm-4 gap-md-2 gap-lg-2 align-items-center w-100">
            <a href="@collection.website" target="_blank">
                <i class="bi bi-globe2 iconDefault icon"></i>
            </a>
            @if(collection.getTwitter.isDefined) {
                <a href="@collection.getTwitter.getOrElse("#")" target="_blank">
                    <i class="bi bi-twitter iconDefault icon"></i>
                </a>
            }
            @if(collection.getInstagram.isDefined) {
                <a href="@collection.getInstagram.getOrElse("#")" target="_blank">
                    <i class="bi bi-instagram iconDefault icon"></i>
                </a>
            }
        </div>
    </div>

    <div class="card leftInfoCard">
        <div class="d-flex align-items-center justify-content-between title">
            <div class="d-flex gap-2 align-items-center">
                <i class="bi bi-sliders iconDefault iconMedium"></i>
                @Messages(constants.View.FILTER)
            </div>
            <div class="titleLink">@Messages(constants.View.FILTER_CLEAR_ALL)</div>
        </div>
        <div class="separator"></div>
        <div class="filterOptions">
            @commonFilterSection(constants.View.FILTER_TITLE_NFT_STATUS, Seq(constants.View.FILTER_NFT_STATUS_MINTED, constants.View.FILTER_NFT_STATUS_LISTED, constants.View.FILTER_NFT_STATUS_UNMINTED, constants.View.FILTER_NFT_STATUS_UNLISTED))
            <div class="innerSeparator"></div>
            @commonFilterSection(constants.View.FILTER_TITLE_AVAILABILITY, Seq(constants.View.FILTER_AVAILABILITY_OPTION_BUY_NOW, constants.View.FILTER_AVAILABILITY_OPTION_SHOW_ALL))
            <div class="innerSeparator"></div>
            @commonFilterSection(constants.View.FILTER_TITLE_FILE_TYPE, Seq(constants.View.FILTER_TITLE_FILE_TYPE_GIF, constants.View.FILTER_TITLE_FILE_TYPE_JPEG))
            <div class="innerSeparator"></div>
            <div class="filterOption priceRange" id="@constants.View.FILTER_TITLE_PRICE_RANGE">
                <div class="d-flex justify-content-between align-items-center optionTitle">
                    <span>@Messages(constants.View.FILTER_TITLE_PRICE_RANGE)</span>
                    <i class="bi bi-chevron-down iconDefault iconMedium" onclick="showFilterOptions('@constants.View.FILTER_TITLE_PRICE_RANGE')"></i>
                </div>
                <div class="options">
                    <div class="d-flex gap-3 flex-column justify-content-between align-items-center flex-wrap mt-3">
                        <input type="number" placeholder="Min"/>
                        <span class="label">@Messages(constants.View.TO)</span>
                        <input type="number" placeholder="Max"/>
                    </div>
                    <div class="mt-3 text-end filterButton">@Messages(constants.View.FILTER_APPLY_BUTTON)</div>
                </div>
            </div>
            <div class="mb-0 innerSeparator"></div>
        </div>
    </div>
</div>
<script src="@routes.Assets.versioned("javascripts/collections/filter.js")"></script>