@import views.html.nft._

@(collection: master.Collection)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class="item item-center nftContainer">
    <div class="profileCover">
        <div class="profileCoverContainer" id="collectionUncompressedCoverImage_@collection.id"></div>
    </div>
    <div class="profile-card">
        <div class="profiles-container">
            <div class="nft-list">


                <div class="nft-list-container">
                    <div id="nftsPerPage" class="row m-0 nftsPerPage">
                    </div>
                </div>
                    <!-- Loader -->
                <div class="loading">
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                </div>
                    <!-- End -->

                <!-- Skeleton Loading Start -->
                <div class="nft-list-container skeletonLoading">
                    <div id="nftsPerPage" class="row m-0 nftsPerPage">
                        <div class="row m-0 nftPage">
                            <div class="singleNFTCard col-sm-6 col-md-12 col-lg-6 col-xl-4 mt-3">
                                <div class="card border-0" style="cursor: pointer;">
                                    <div class="card-img rounded-0 shimmerBG media"></div>
                                    <div class="nft-detail p-3">
                                        <div class="d-flex flex-row gap-2 nft-creator-detail">
                                            <div class="rounded-circle creator-profile shimmerBG" style="width:34px; height:34px;"></div>
                                            <div class="d-flex flex-column justify-content-between">
                                                <span class="creator-name shimmerBG contentLine end"></span>
                                                <span class="creator-collection-name shimmerBG contentLine end"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row gap-1 align-items-center mt-3 shimmerBG contentLine"></div>
                                        </div>
                                    </div>
                                    <div class="m-0 nft-separator"></div>
                                    <div class="d-flex flex-row align-items-center justify-content-between nft-bottom shimmerBG contentLine end"></div>
                                </div>
                            </div>

                            <div class="singleNFTCard col-sm-6 col-md-12 col-lg-6 col-xl-4 mt-3">
                                <div class="card border-0" style="cursor: pointer;">
                                    <div class="card-img rounded-0 shimmerBG media"></div>
                                    <div class="nft-detail p-3">
                                        <div class="d-flex flex-row gap-2 nft-creator-detail">
                                            <div class="rounded-circle creator-profile shimmerBG" style="width:34px; height:34px;"></div>
                                            <div class="d-flex flex-column justify-content-between">
                                                <span class="creator-name shimmerBG contentLine end"></span>
                                                <span class="creator-collection-name shimmerBG contentLine end"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row gap-1 align-items-center mt-3 shimmerBG contentLine"></div>
                                        </div>
                                    </div>
                                    <div class="m-0 nft-separator"></div>
                                    <div class="d-flex flex-row align-items-center justify-content-between nft-bottom shimmerBG contentLine end"></div>
                                </div>
                            </div>

                            <div class="singleNFTCard col-sm-6 col-md-12 col-lg-6 col-xl-4 mt-3">
                                <div class="card border-0" style="cursor: pointer;">
                                    <div class="card-img rounded-0 shimmerBG media"></div>
                                    <div class="nft-detail p-3">
                                        <div class="d-flex flex-row gap-2 nft-creator-detail">
                                            <div class="rounded-circle creator-profile shimmerBG" style="width:34px; height:34px;"></div>
                                            <div class="d-flex flex-column justify-content-between">
                                                <span class="creator-name shimmerBG contentLine end"></span>
                                                <span class="creator-collection-name shimmerBG contentLine end"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row gap-1 align-items-center mt-3 shimmerBG contentLine"></div>
                                        </div>
                                    </div>
                                    <div class="m-0 nft-separator"></div>
                                    <div class="d-flex flex-row align-items-center justify-content-between nft-bottom shimmerBG contentLine end"></div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
                <!-- Skeleton Loading End -->

                <!-- Load more button -->
                <div id="loadMoreBtnContainer" class="d-flex justify-content-center form-button">
                    <button id="loadMoreCollectionButton" class="form-primary-button" onclick="loadCollections()">@Messages(constants.View.LOAD_MORE_BUTTON)</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@routes.Assets.versioned("javascripts/nfts/loadMore.js")" type="text/javascript"></script>
<script>
        loadFirstNFTBulk('nftsPerPage', jsRoutes.controllers.CollectionController.collectionNFTsPerPage('@collection.id', 1));
        checkAndPushState(jsRoutes.controllers.CollectionController.viewCollection('@collection.id').url, '@collection.id', "collection");
        getImage(jsRoutes.controllers.CollectionController.collectionFile('@collection.id', '@constants.Collection.File.COVER', false), 'collectionUncompressedCoverImage_@collection.id');
        setCollectionId('@collection.id');
</script>