@(title: String, options: Seq[String])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class="filterOption" id="@title">
    <div class="d-flex justify-content-between align-items-center optionTitle">
        <span>@Messages(title)</span>
        <i class="bi bi-chevron-down iconDefault iconMedium" onclick="showFilterOptions('@title')"></i>
    </div>
    <div class="options">
        <div class="d-flex flex-column gap-3 mt-3">
        @options.map { option =>
            <div class="d-flex gap-2 singleFilter">
                <input type="checkbox" class="cmuk-checkbox" id="@option"/>
                <label for="@option">@Messages(option)</label>
            </div>
        }
        </div>
    </div>
</div>
<script src="@routes.Assets.versioned("javascripts/collections/filter.js")"></script>