@import views.html.nft._
@import controllers.actions.LoginState

@(collection: master.Collection, nfts: Seq[master.NFT], likedNFTIds: Seq[String])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])
<div class="row m-0 nftPage">
    @if(nfts.nonEmpty) {
        @nfts.map { nft =>
            @if(loginState.isEmpty) {
                @commonNFTCard(collection, nft, None)
            } else {
                @commonNFTCard(collection, nft, Option(likedNFTIds.contains(nft.fileName)))
            }
        }
    } else {
        <div class="noNFT"></div>
    }
</div>

<script src="@routes.Assets.versioned("javascripts/nfts/wishlist.js")"></script>