@import views.html.nft._

@(collection: master.Collection, nfts: Seq[master.NFT])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="row m-0 nftPage">
    @if(nfts.nonEmpty) {
        @nfts.map { nft =>
            @commonNFTCard(collection, nft)
        }
    } else {
        <div class="noNFT"></div>
    }
</div>

<script>
    // Hide Load More button if NFTs are <= 5
    $(document).ready(function() {
        console.log($(".singleNFTCard").length);
        if($(".nftPage .singleNFTCard").length <= 5){
            $("#loadMoreBtnContainer").addClass("hide");
        }
    });
</script>