@import controllers.actions.LoginState
@import models.analytics.CollectionAnalysis
@import models.master.{Collection, Sale}
@import views.html.base.buttons._

@(collectionAnalysis: CollectionAnalysis, collection: Collection, sales: Seq[Sale], isMember: Boolean)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, optionalLoginState: Option[LoginState])

<div class="sticky-top item-sticky">
    <div class="card rightInfoCard">
        <script src="@utilities.PublicResource.getVersionedRoute("javascripts/collections/topRightCard.js")"></script>
        @if(optionalLoginState.isEmpty || sales.isEmpty || !isMember) {
            <div class="d-flex flex-column gap-1">
                <div class="analysisTitle">@Messages(constants.View.COLLECTION_TOTAL_NFT_TITLE)</div>
                <div class="analysisValue">@collectionAnalysis.totalNFTs</div>
            </div>
            @* <div class="mt-3">*@
            @* <div class="analysisTitle">@Messages(constants.View.MINTED_NFT_LABEL,0,topRightCard.totalNFTs)</div>*@
            @* <div class="mintedNftWeightage">*@
            @* <div class="progressBar">*@
            @* <span data-totalNFT="@topRightCard.totalNFTs" data-mintedNFT="1" style="width:0;"></span>*@
            @* </div>*@
            @* </div>*@
            @* </div>*@
            @* <div class="d-flex flex-column gap-1">*@
            @* <div class="analysisTitle">@Messages(constants.View.COLLECTION_OWNER_TITLE)</div>*@
            @* <div class="analysisValue">@topRightCard.owners</div>*@
            @* </div>*@
            @if(optionalLoginState.isDefined && optionalLoginState.get.isGenesisCreator && optionalLoginState.get.username == collection.creatorId) {
                <div class="separator"></div>
                @commonPrimaryButton(constants.View.CREATE_COLLECTION_SALE, JavaScript(s"saleOptions()"))
            }
        } else {
            @defining(sales.minBy(_.price)) { saleByMinimumPrice =>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="title">@Messages(constants.View.WHITELIST_SALE_TITLE)</div>
                    @if(saleByMinimumPrice.getStatus.id == constants.Sale.LIVE.id) {
                        <div class="liveBadge">@Messages(constants.View.SALE_LIVE_LABEL)</div>
                    }
                </div>
                <div class="d-flex align-items-center gap-1 mt-4">
                    <div class="analysisTitle">@Messages(constants.View.COLLECTION_SALE_PRICE)</div>
                    <div class="analysisValue">@saleByMinimumPrice.price.toString @Messages(constants.View.NFT_SALE_TOKEN_UNITS)</div>
                </div>
                <div class="d-flex flex-column gap-1 mt-3">
                    <div class="analysisValue">@Messages(constants.View.COLLECTION_MAXIMUM_MINT_PER_USER, saleByMinimumPrice.maxMintPerAccount)</div>
                </div>
                @if(saleByMinimumPrice.getStatus.id == constants.Sale.NOT_STARTED.id) {
                    <div class="d-flex flex-column gap-1 mt-3">
                        <div class="analysisTitle">@Messages(constants.View.SALE_START_TIME)</div>
                        <div id="countdown_@saleByMinimumPrice.startTimeEpoch" class="d-flex gap-2 analysisValue">
                        @saleByMinimumPrice.startTimeEpoch
                        </div>
                    </div>
                    <script>epochToDateTime('countdown_@saleByMinimumPrice.startTimeEpoch');</script>
                } else {
                    @if(saleByMinimumPrice.getStatus.id == constants.Sale.SOLD_OUT.id) {

                    } else {
                        <div class="d-flex flex-column gap-1 mt-3">
                            <div class="analysisTitle">@Messages(constants.View.SALE_ENDS_IN)</div>
                            <div id="countdown_@saleByMinimumPrice.endTimeEpoch" class="d-flex gap-2 analysisValue">
                                @saleByMinimumPrice.endTimeEpoch
                            </div>
                        </div>
                        <script>epochToDateTime('countdown_@saleByMinimumPrice.endTimeEpoch');</script>
                        <div class="separator"></div>
                        @commonPrimaryButton(Messages(constants.View.BUYNOW), JavaScript(s"getForm(jsRoutes.controllers.SaleController.buySaleNFTForm('${saleByMinimumPrice.id}', false))"), Symbol("class") -> "mt-4")
                    }
                }
            }

        }
    </div>
</div>
<div class="hidden" id="saleOptionModal">
    @views.html.sale.saleOption(s"${collection.id}")
</div>
<script src="@routes.Assets.versioned("javascripts/sale/sale.js")"></script>