@import controllers.actions.LoginState
@import models.analytics.CollectionAnalysis
@import models.master.{Collection, PublicListing, Sale}
@import views.html.base.buttons._
@import views.html.collection.details._

@(collectionAnalysis: CollectionAnalysis, collection: Collection, sale: Option[Sale], publicListing: Option[PublicListing], isMember: Boolean, publicListingSold: Long, whitelistSaleSold: Long)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, optionalLoginState: Option[LoginState])

<div class="sticky-top item-sticky">
    <div class="card rightInfoCard">
        <div class="d-flex flex-column gap-1">
            <div class="analysisTitle">@Messages(constants.View.COLLECTION_TOTAL_NFT_TITLE)</div>
            <div class="analysisValue">@collectionAnalysis.totalNFTs</div>
        </div>
        @if(optionalLoginState.isDefined) {
            @if(publicListing.isDefined) {
                @topRightPublicListing(collectionAnalysis = collectionAnalysis, collection = collection, publicListing = publicListing.get, publicListingSold = publicListingSold)
            }
            @if(sale.isDefined) {
                @topRightSale(collectionAnalysis = collectionAnalysis, collection = collection, sale = sale.get, isMember = isMember, whitelistSaleSold = whitelistSaleSold)
            }
            @if(optionalLoginState.get.username == collection.creatorId) {
                @if(publicListing.isEmpty && sale.isEmpty) {
                    @commonPrimaryButton(constants.View.CREATE_COLLECTION_SALE, JavaScript(s"saleOptions()"))
                }
                @if(publicListing.isEmpty && sale.isDefined) {
                    @commonPrimaryButton(constants.Form.CREATE_PUBLIC_LISTING.button, JavaScript(s"getForm(jsRoutes.controllers.PublicListingController.createPublicListingForm('${collection.id}'))"))
                }
                @if(publicListing.isDefined && sale.isEmpty) {
                    @commonPrimaryButton(constants.Form.CREATE_WHITELIST_SALE.button, JavaScript(s"getForm(jsRoutes.controllers.SaleController.createCollectionSaleForm(undefined, '${collection.id}'))"))
                }
            }
        } else {
            @if(publicListing.isDefined) {
                @topRightPublicListing(collectionAnalysis = collectionAnalysis, collection = collection, publicListing = publicListing.get, publicListingSold = publicListingSold)
            }
        }

    </div>
</div>
<div class="hidden" id="saleOptionModal">
    @views.html.sale.saleOption(s"${collection.id}")
</div>
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/sale/sale.js")"></script>