@import views.html.base.forms._
@main("Wallet Created Successfully") {
    <button>Click For Modal</button>
    @formModal() {
        @successModal(heading = "Wallet Created Successfully", subHeading = "Congratulations, your wallet has been created successfully.")
        @successModalAddressBox(Symbol("address") -> "dwafegrtefdvfhresv -39i539w0rej")
        <div class="form-information-message">
            <div class="form-information-icon"><img src="@routes.Assets.versioned("images/info.png")"/></div>
            <div class="form-information-text">Please securely store this to login to your wallet in future.</div>
        </div>
        <div class="form-accordion">
            <div class="accordion-box">
                <div class="accordion-toggle">
                    <h4>Show Advanced Properties<span class="icon"></span></h4>
                </div>
                <div class="accordion-content">
                    <div class="accordion-item">
                        <p>Path:</p>
                        <span>assetmantle@}hkjhkwedhiweh787899hihsiahi89w</span>
                    </div>
                    <div class="accordion-item">
                        <p>Chain:</p>
                        <span>assetmantle@}hkjhkwedhiweh787899hihsiahi89w</span>
                    </div>
@*                    <div class="accordion-item">*@
@*                        <p>Path:</p>*@
@*                        <span>assetmantle@}hkjhkwedhiweh787899hihsiahi89w</span>*@
@*                    </div>*@
@*                    <div class="accordion-item">*@
@*                        <p>Chain: </p>*@
@*                        <span>assetmantle@}hkjhkwedhiweh787899hihsiahi89w</span>*@
@*                    </div>*@
                </div>
            </div>
        </div>
        <div class="form-button">
            @formSecondaryButton(message = "Cancel")
            @formPrimaryButton(message = "Proceed to Sign Up")
        </div>
    }
}