@import views.html.base.forms._
@main("Connect Wallet"){
    <button>Click For Modal</button>
    @formModal(){
        @formHeader(label="Sign Up",subHeading = "Sign up using an existing wallet or create one.")
        <div class="wallet-list">
            <ul>
                <li>
                    <div class="wallet-item">
                        <div class="wallet-icon"><img src="@routes.Assets.versioned("images/connect wallet.png")"/></div>
                        <div class="wallet-title">Connect Wallet</div>
                        <div class="wallet-logo"><img src="@routes.Assets.versioned("images/Keplr Wallet Icon.png")"/></div>
                    </div>
                </li>
                <li>
                    <div class="wallet-item">
                        <div class="wallet-icon"><img src="@routes.Assets.versioned("images/import wallet.png")"/></div>
                        <div class="wallet-title">Import Wallet</div>
                        <div class="wallet-logo"><img src="@routes.Assets.versioned("images/Keplr Wallet Icon.png")"/></div>
                    </div>
                </li>
                <li>
                    <div class="wallet-item">
                        <div class="wallet-icon"><img src="@routes.Assets.versioned("images/create wallet.png")"/></div>
                        <div class="wallet-title">Create A New Wallet</div>
                        <div class="wallet-logo"><img src="@routes.Assets.versioned("images/assetMantleIcon.png")"/></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer-terms-condition">By creating an account, the user agrees to AssetMantle's <a class="link" href="#">Terms And Conditions</a></div>
        @formFooter(message = "Already have an account?", link = "#", linkMessage = "Sign In")
    }
}

