@import views.html.base.forms._
@main("Create AssetMantle Wallet") {
    <button>Click For Modal</button>
    @formModal() {
        @formHeader(label = "Create a Wallet")
        <div class="sub-heading-link">
            Already have a wallet? <a class="link" href="#">Connect</a> &nbsp;or <a class="link" href="#">Import Wallet</a>
        </div>
        <div class="form-heading">Points to keep in mind for safety of funds:</div>
        <div class="form-bullet-list">
            <ul>
                <li>Users need to securely store their mnemonic phrase (a.k.a. seed phrase). Losing or exposing the seed phrase can potentially lead to users' funds being stolen.</li>
                <li>Users can view and save their mnemonic while creating a wallet.</li>
                <li>Do not share seed phrase with anyone.</li>
            </ul>
        </div>
        <div class="form-copy-item">
            <div class="form-copy-text">Copy seed phrase</div>
            <div class="form-copy-icon"><img src="@routes.Assets.versioned("images/copy.png")"/></div>
        </div>
        <div class="form-seed-box-list">
            @seedInput("1", Symbol("phrase") -> "monkey", Symbol("class") -> "disable")
            @seedInput("12", Symbol("phrase") -> "honey", Symbol("class") -> "disable")
            @seedInput("18", Symbol("phrase") -> "food", Symbol("class") -> "disable")
            @seedInput("24", Symbol("phrase") -> "house", Symbol("class") -> "disable")
        </div>
        <div class="form-information-message">
            <div class="form-information-icon"><img src="@routes.Assets.versioned("images/info.png")"/></div>
            <div class="form-information-text">This will be used for verification on the next screen.</div>
        </div>
        <div class="form-button">
            @formSecondaryButton(message = "Cancel")
            @formPrimaryButton(message = "Next")
        </div>
    }
}