@import views.html.base.forms._
@main("Import Kepler Wallet Success") {
    <button>Click For Modal</button>
    @formModal() {
        @successModal(heading = "Wallet Imported Successfully", subHeading = "Keplr wallet has been successfully imported. Account details are as follows.")
        @successModalAddressBox(Symbol("userName") -> "Username", Symbol("address") -> "dwafegrtefdvfhresv -39i539w0rej")
        <div class="form-button">
        @formPrimaryButton(message = "Proceed to Sign up")
        </div>
    }
}