@import controllers.actions.LoginState

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider,loginState: Option[LoginState])

<div class="item item-center collectionContainer">
    <div class="profile-card">
        <div class="profiles-container">
            <div class="d-flex flex-xl-row flex-lg-column align-items-center justify-content-between card-header">
                <div class="left-option">
                    <div class="row" id="sectionMenu">
                        <div class="col mx-3 p-0 menuItem active" onclick="componentResource('collectionsPerPage', jsRoutes.controllers.CollectionController.collectionsPerPage(1, 'art')); showLoadMoreButton();">@Messages(constants.View.ART)</div>
                        @if(loginState.nonEmpty) {
                            <div class="col mx-3 p-0 menuItem" onclick="componentResource('collectionsPerPage', jsRoutes.controllers.CollectionController.wishListCollections(1, 'wishlist')); showLoadMoreButton();">
                            @Messages(constants.View.WISHLIST_MENU)
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="profile-list">
                <div id="collectionsPerPage" class="w-100 list grid-view-filter collectionsPerPage"></div>
            </div>

                <!-- Loader -->
            <div class="loading">
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
                <!-- End -->

                <!-- Load more button -->
            <div id="loadMoreBtnContainer" class="d-flex justify-content-center form-button">
                <button id="loadMoreCollectionButton" class="form-primary-button" onclick="loadCo()">@Messages(constants.View.LOAD_MORE_BUTTON)</button>
            </div>
        </div>
    </div>
</div>
<script>
        $("#sectionMenu .menuItem").on('click', function(){
            $("#sectionMenu").find(".active").removeClass("active");
            $(this).addClass("active");
        });
</script>
<script>
        componentResource('collectionsPerPage', jsRoutes.controllers.CollectionController.collectionsPerPage(1, 'art'));
        checkAndPushState(jsRoutes.controllers.CollectionController.viewCollections().url, '', "collections");
</script>
<script src="@routes.Assets.versioned("javascripts/collections/loadMore.js")" type="text/javascript"></script>