@import views.html.collection._

@(collections: Seq[master.Collection], collectionFiles: Seq[master.CollectionFile])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="m-0 p-0 collectionPage">
    @if(collections.nonEmpty) {
        @collections.map { collection =>
            <div class="mt-3 singleCollection">
                @commonCollectionCard(collection, JavaScript(s"viewCollection('${collection.id}')"), collectionCoverFile = collectionFiles.find(x => x.id == collection.id && x.documentType == constants.Collection.File.COVER).map(_.fileName), collectionProfileFile = collectionFiles.find(x => x.id == collection.id && x.documentType == constants.Collection.File.PROFILE).map(_.fileName))
            </div>
        }
    } else {
        <div class="noCollection"></div>
    }
</div>
<script>
        checkNumberOfCollections();
</script>