@import views.html.collection._

@(collections: Seq[master.Collection])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="m-0 p-0 collectionPage">
    @if(collections.nonEmpty) {
        @collections.map { collection =>
        <div class="singleCollection">
            @commonWishListCollectionPerPageCard(collection)
        </div>
        }
    } else {
        <div class="noCollection"></div>
    }

    <!-- Loader -->
    <div class="loading">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
    </div>
    <!-- End -->
</div>