@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class="item item-center collectionContainer">
    <div class="profile-card">
        <div class="profiles-container">
            <div class="d-flex flex-xl-row flex-lg-column align-items-center justify-content-between card-header">
                <div class="left-option">
                    <div class="row">
                        <div class="col mx-3 p-0 active">@Messages(constants.View.WISHLIST)</div>
                    </div>
                </div>
            </div>
            <div class="profile-list">
                <div id="collectionsPerPage" class="w-100 list grid-view-filter collectionsPerPage"></div>
            </div>
        </div>
    </div>
</div>
<script>
        componentResource('collectionsPerPage', jsRoutes.controllers.CollectionController.collectionsPerPage(1));
        checkAndPushState(jsRoutes.controllers.CollectionController.viewCollections().url, '', "collections");
</script>
<script src="@routes.Assets.versioned("javascripts/collections/loadMore.js")" type="text/javascript"></script>


