@import views.blockchainTransaction.companion.Nub
@import views.html.blockchainTransaction.commonSelectGas
@import views.html.base.form._

@(nubForm: Form[Nub.Data] = Nub.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.NUB, nubForm) {
    @commonInputInt(nubForm, constants.FormField.GAS_AMOUNT, Symbol("value") -> constants.Blockchain.DefaultMintAssetGasAmount, Symbol("class") -> "hidden")
    @commonSelectGas(nubForm)
    @commonInputPassword(nubForm, constants.FormField.PASSWORD)
}
