@import views.blockchainTransaction.companion.SendCoin
@import views.html.blockchainTransaction.commonSelectGas
@import views.html.base.form._
@import utilities.MicroNumber

@(sendCoin: Form[SendCoin.Data] = SendCoin.form, fromAddress: String, balance: MicroNumber)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.SEND_COIN, sendCoin) {
    @commonInputText(sendCoin, constants.FormField.FROM_ADDRESS, Symbol("value") -> fromAddress, Symbol("readonly") -> "readonly")
    @commonInputText(sendCoin, constants.FormField.TO_ADDRESS)
    <div class="sendCoinAmountField">
        <div id="availableBalance" class="availableBalance" onclick="setAvailableBalance('@constants.FormField.SEND_COIN_AMOUNT.name',@balance)">@Messages(constants.View.SEND_COIN_AVAILABLE_BALANCE, balance)</div>
        @commonInputMicornumber(sendCoin, constants.FormField.SEND_COIN_AMOUNT)
    </div>
    @commonInputInt(sendCoin, constants.FormField.GAS_AMOUNT, Symbol("value") -> constants.Blockchain.DefaultSendCoinGasAmount, Symbol("class") -> "hidden")
    @commonSelectGas(sendCoin)
    @commonInputPassword(sendCoin, constants.FormField.PASSWORD)
}
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/blockchainTransactions/sendCoin.js")" type="text/javascript"></script>
