@import controllers.actions.LoginState
@import views.html.base.form._
@import views.publicListing.companion.EditPublicListing
@import models.master.PublicListing

@(editPublicListingForm: Form[EditPublicListing.Data] = EditPublicListing.form, publicListing: PublicListing)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@commonForm(constants.Form.EDIT_PUBLIC_LISTING, editPublicListingForm) {
    @commonInputText(editPublicListingForm, constants.FormField.PUBLIC_LISTING_ID, Symbol("value") -> publicListing.id, Symbol("containerDivClass") -> "hidden", Symbol("readonly") -> true)
    @commonInputMicroNumber(editPublicListingForm, constants.FormField.PUBLIC_LISTING_PRICE)
    @commonInputInt(editPublicListingForm, constants.FormField.PUBLIC_LISTING_MAX_MINT_PER_ACCOUNT)
    @commonInputEpochTIme(editPublicListingForm, constants.FormField.PUBLIC_LISTING_START_EPOCH, setCurrentTime = false)
    @commonInputEpochTIme(editPublicListingForm, constants.FormField.PUBLIC_LISTING_END_EPOCH, setCurrentTime = false)
}