@import models.master.Whitelist
@import views.html.base.buttons._

@(whitelist: Whitelist)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

    @whitelist.name
    @whitelist.description
    @whitelist.maxMembers
    @whitelist.endEpoch

    @if((System.currentTimeMillis / 1000) <= whitelist.endEpoch) {
        @commonPrimaryButton(constants.View.ACCEPT_WHITELIST_INVITE, JavaScript(s"""getForm(jsRoutes.controllers.ProfileController.acceptInvite('${whitelist.id}'))"""))
    } else {
        @Messages(constants.View.WHITELIST_INVITE_EXPIRED)
    }
