@import views.profile.companion.CreateWhitelist
@import views.html.base.form._
@import views.html.base.forms.{commonFieldErrorMessage}
@import views.html.base.label._

@(createWhitelistForm: Form[CreateWhitelist.Data] = CreateWhitelist.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.ADD_WHITELIST_MEMBER, createWhitelistForm, showBackButton = true) {
    <div class="whitelistFormInfo">
        <div class="whitelistName">@Messages(constants.View.WHITELIST_NAME)</div>
        <div class="d-flex gap-2 align-items-center mt-4 copyInfo">
            <span>@Messages(constants.View.WHITELIST_MEMBER_COPY_LINK)</span>
            <img class="icon" src="@routes.Assets.versioned("images/icon/copy.png")"/>
        </div>
    </div>
    <div class="whitelistSeparator"></div>
    <div class="whitelistFieldMessage">
        @Messages(constants.View.WHITELIST_FIELD_MESSAGE)
    </div>
    <div class="inputField">
        <div class="inputFieldBody">
            <div class="usernameAvailability">
                @commonLabel(constants.FormField.WHITELIST_MEMBER_NAME.name)
                @commonInputText(createWhitelistForm, constants.FormField.WHITELIST_MEMBER_NAME, Symbol("id") -> "whitelistMemberName")
            </div>
        </div>
    </div>
}
