@import controllers.actions.LoginState
@import views.html.base.buttons._

@(whitelists: Seq[master.Whitelist])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@whitelists.zipWithIndex.map { case (x, index) =>
<tr>
    <td class="text-end tableFieldNo">@(index + 1)</td>
    <td class="tableFieldName">@x.name</td>
    <td class="text-end tableFieldMaxMembers">@x.maxMembers</td>
    <td id="startEpoch_@x.id" class="text-end tableFieldStartEpoch epochValue">@x.startEpoch</td>
    <td  id="endEpoch_@x.id" class="text-end tableFieldEndEpoch epochValue">@x.endEpoch</td>
    <td class="d-flex gap-3 text-end tableFieldAction whitelistActionButton">
        <div data-toggle="tooltip" data-placement="top" title="@x.description">
            <i class="bi bi-info-circle iconDefault iconMedium"></i>
        </div>
        <div onclick="getForm(jsRoutes.controllers.ProfileController.editWhitelistForm('@x.id'))">
            <i class="bi bi-pencil iconDefault iconMedium icon"></i>
        </div>
        <div>
            <div class="p-0 userAddressData username-data" data-value="@constants.CommonConfig.webAppUrl.concat(s"""/acceptWhitelistInvite/${x.id}""")"></div>
    <div class="text-end copyIcon" onclick="copyToClipboard(this); callSnackBar('@Messages(constants.View.LINK_COPIED)');">
        <i id="openWalletMenu" class="bi bi-share iconDefault iconMedium"></i>
    </div>
</div>
</td>
</tr>
<script>
    epochToDateTime('startEpoch_@x.id');
    epochToDateTime('endEpoch_@x.id');
</script>
}

