@import controllers.actions.LoginState
@import views.html.base.buttons._

@(whitelists: Seq[master.Whitelist])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@whitelists.zipWithIndex.map { case (whitelist, index) =>
<tr>
    <td class="text-end tableFieldNo">@(index + 1)</td>
    <td class="tableFieldName">@whitelist.name</td>
    <td class="tableFieldStatus">
        <div class="d-flex align-items-center gap-1">
            <span class="statusCircle onGoing"></span>
            @Messages(constants.View.WHITELIST_TABLE_STATUS_ONGOING)
        </div>
    </td>
    <td id="memberCount_@whitelist.id" class="text-end tableFieldTotalMembers">00</td>
    <td class="text-end tableFieldMaxMembers">@whitelist.maxMembers</td>
    <td class="text-end tableFieldSale">00</td>
    <td onclick="getForm(jsRoutes.controllers.ProfileController.leaveWhitelistDetails('@whitelist.id'))" class="tableFieldAction">@Messages(constants.View.WHITELIST_FIELD_ACTION_LEAVE)</td>
</tr>
<script>componentResource('memberCount_@whitelist.id', jsRoutes.controllers.ProfileController.whitelistTotalMembers('@whitelist.id'))</script>
}