@import controllers.actions.LoginState
@import views.html.base.buttons._

@(totalWhitelists: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@if(totalWhitelists > 0) {
    <div class="contentBody">
        <div class="container contentTableContainer" id="joinedWhitelist">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table contentTable">
                            <thead>
                                <tr>
                                    <th class="text-end tableFieldNo">@Messages(constants.View.WHITELIST_TABLE_TITLE_NO)</th>
                                    <th class="tableFieldName">@Messages(constants.View.WHITELIST_TABLE_TITLE_NAME)</th>
                                    <th class="tableFieldStatus">@Messages(constants.View.WHITELIST_TABLE_TITLE_STATUS)</th>
                                    <th class="text-end tableFieldTotalMembers">@Messages(constants.View.WHITELIST_TABLE_TITLE_TOTAL_MEMBERS)</th>
                                    <th class="text-end tableFieldMaxMembers">@Messages(constants.View.WHITELIST_TABLE_TITLE_MAX_MEMBERS)</th>
                                    <th class="text-end tableFieldSale">@Messages(constants.View.WHITELIST_TABLE_TITLE_COLLECTIONS_ON_SALE)</th>
                                    <th class="tableFieldAction"></th>
                                </tr>
                            </thead>
                            <tbody id="joinedWhitelistTableBody"></tbody>
                        </table>
                        <div id="joinedWhitelistPagination">
                            @commonSecondaryButton(constants.View.BACK, JavaScript(s"joinedWhitelistPaginationOnBack()"), Symbol("id") -> "joinedWhitelistPaginationBack")
                            @commonPrimaryButton(constants.View.NEXT, JavaScript(s"joinedWhitelistPaginationOnNext(${totalWhitelists}, ${constants.CommonConfig.Pagination.WhitelistPerPage})"), Symbol("id") -> "joinedWhitelistPaginationNext")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>joinedWhitelistPaginationOnNext(@totalWhitelists, @constants.CommonConfig.Pagination.WhitelistPerPage)</script>
} else {
    <div class="contentBody">
        <div class="h-100 d-flex flex-column justify-content-center align-items-center  emptyWhitelist">
            <div class="message">@Messages(constants.View.EMPTY_WHITELIST_JOINED)</div>
        </div>
    </div>
}