@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class="item item-center centerContainer">
    <div class="centerCard">
        <div class="contentContainer">
            <div class="d-flex flex-xl-row flex-lg-column align-items-center justify-content-between contentHeader">
                <div class="leftOptions">
                    <div class="row">
                        <div class="col mx-3 p-0 active">@Messages(constants.View.WHITELIST_MENU)</div>
                    </div>
                </div>
            </div>
            <div class="contentTitle">
                Test
            </div>
            <div class="contentBody">

            </div>
        </div>
    </div>
</div>


