@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class="item item-center collectionContainer">
    <div class="profile-card">
        <div class="profiles-container">
            <div class="d-flex flex-xl-row flex-lg-column align-items-center justify-content-between card-header">
                <div class="left-option">
                    <div class="row">
                        <div class="col mx-3 p-0 active">@Messages(constants.View.WISHLIST_MENU)</div>
                    </div>
                </div>
            </div>
            <div class="profile-list">
                <div id="collectionsPerPage" class="w-100 list grid-view-filter collectionsPerPage">
                    <div class="m-0 p-0 collectionPage">
                        <div class="singleCollection">
                            <a onclick="viewWishListCollection()">
                                <div class="single-profile-card commonCollectionCard">
                                    <div class="profile-section">
                                        <div id="collectionCoverImage">
                                            <div class="hero-img">
                                                <img src="@routes.Assets.versioned("images/defaultCollectionCover.png")"/>
                                            </div>
                                        </div>
                                        <div class="profile-detail">
                                            <div id="collectionProfileImage">
                                                <div class="profile-img">
                                                    <img src="@routes.Assets.versioned("images/defaultCollectionProfile.png")"/>
                                                </div>
                                            </div>
                                            <div id="content">
                                                <h1>@Messages(constants.View.WISHLIST_MENU)</h1>
                                                <p>@Messages(constants.View.WISHLIST_MENU)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


