@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class="item item-center centerContainer">
    <div class="centerCard">
        <div class="contentContainer">
            <div class="d-flex flex-xl-row flex-lg-column align-items-center justify-content-between contentHeader">
                <div class="leftOptions">
                    <div class="row">
                        <div class="col mx-3 p-0 active">
                            <div class="dropdownContainer">
                                <input class="dropdown" type="checkbox" id="offers" name="dropdown"/>
                                <label class="forDropdown d-flex align-items-center gap-1" for="offers">
                                    @Messages(constants.View.OFFERS_MENU)
                                <img src="@routes.Assets.versioned("images/icon/downArrowYellow.png")" width="20px" height="15px"/>
                                </label>
                                <div class="sectionDropdown">
                                    <a href="#">@Messages(constants.View.OFFERS_RECEIVED)</a>
                                    <div class="innerSeparator"></div>
                                    <a href="#">@Messages(constants.View.OFFERS_MADE)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center contentTitle">
                <!-- Offers Received Start -->
                <!-- <div class="title">@Messages(constants.View.OFFERS_RECEIVED)</div> -->
                <!--  Offers Received End -->

                <!--  Offers Made Start -->
                 <div class="title">@Messages(constants.View.OFFERS_MADE)</div>
                <!--  Offers Made End -->
            </div>

            <!-- Offers Collection Start -->
            <div class="item item-center">
                <div class="p-0 profile-card">
                    <div class="profiles-container">
                        <div class="profile-list">
                            <div id="collectionsPerPage" class="w-100 list grid-view-filter collectionsPerPage">
                                <div class="m-0 p-0 collectionPage">
                                    <div class="singleCollection">
                                        <a>
                                            <div class="single-profile-card commonCollectionCard">
                                                <div class="profile-section">
                                                    <div id="collectionCoverImage">
                                                        <div class="hero-img">
                                                            <img src="@routes.Assets.versioned("images/defaultCollectionCover.png")"/>
                                                        </div>
                                                    </div>
                                                    <div class="profile-detail">
                                                        <div id="collectionProfileImage">
                                                            <div class="profile-img">
                                                                <img src="@routes.Assets.versioned("images/defaultCollectionProfile.png")"/>
                                                            </div>
                                                        </div>
                                                        <div id="content">
                                                            <h1>@Messages(constants.View.COLLECTION_NAME)</h1>
                                                            <p>@Messages(constants.View.COLLECTION_DESCRIPTION)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Offers Collection End -->

            <div class="d-flex justify-content-between align-items-center contentTitle">
                <div class="title">@Messages(constants.View.OFFER_HISTORY)</div>
            </div>

            <div class="contentBody">
                <!-- Offers History Start -->
                <div class="container contentTableContainer" id="offersHistory">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="table-responsive">
                                <table class="table contentTable show">
                                    <thead>
                                        <tr>
                                            <th class="text-end tableFieldNo">@Messages(constants.View.OFFERS_TABLE_TITLE_NO)</th>
                                            <th class="tableFieldOfferName">@Messages(constants.View.OFFERS_TABLE_TITLE_NAME)</th>
                                            <th class="tableFieldPrice">@Messages(constants.View.OFFERS_TABLE_TITLE_PRICE)</th>
                                            <th class="tableFieldDuration">@Messages(constants.View.OFFERS_TABLE_TITLE_DURATION)</th>
                                            <th class="tableFieldRequestStatus">@Messages(constants.View.OFFERS_TABLE_TITLE_STATUS)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-end tableFieldNo">1</td>
                                            <td class="d-flex align-items-center gap-2 tableFieldOfferName">
                                                <img src="@routes.Assets.versioned("images/defaultOfferCover.png")" width="34px" height="34px" class="rounded"/>
                                                @Messages(constants.View.OFFERS_USERNAME)
                                            </td>
                                            <td class="text-end tableFieldPrice">00</td>
                                            <td class="tableFieldDuration">@Messages(constants.View.OFFERS_DURATION)</td>
                                            <td class="tableFieldRequestStatus statusAccepted">@Messages(constants.View.REQUEST_STATUS_ACCEPTED)</td>
                                        </tr>
                                        <tr>
                                            <td class="text-end tableFieldNo">2</td>
                                            <td class="d-flex align-items-center gap-2 tableFieldOfferName">
                                                <img src="@routes.Assets.versioned("images/defaultOfferCover.png")" width="34px" height="34px" class="rounded"/>
                                                @Messages(constants.View.OFFERS_USERNAME)
                                            </td>
                                            <td class="text-end tableFieldPrice">00</td>
                                            <td class="tableFieldDuration">@Messages(constants.View.OFFERS_DURATION)</td>
                                            <td class="tableFieldRequestStatus statusPending">@Messages(constants.View.REQUEST_STATUS_PENDING)</td>
                                        </tr>
                                        <tr>
                                            <td class="text-end tableFieldNo">3</td>
                                            <td class="d-flex align-items-center gap-2 tableFieldOfferName">
                                                <img src="@routes.Assets.versioned("images/defaultOfferCover.png")" width="34px" height="34px" class="rounded"/>
                                                @Messages(constants.View.OFFERS_USERNAME)
                                            </td>
                                            <td class="text-end tableFieldPrice">00</td>
                                            <td class="tableFieldDuration">@Messages(constants.View.OFFERS_DURATION)</td>
                                            <td class="tableFieldRequestStatus statusDeclined">@Messages(constants.View.REQUEST_STATUS_DECLINED)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Offers History End -->
            </div>
        </div>
    </div>
</div>