@import controllers.actions.LoginState
@import views.html.base.buttons._
@import views.html.base.commonAddressValue

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)
<div class="walletPopupContainer">
    <div class="d-flex flex-row justify-content-between headerContainer">
        <div class="d-flex flex-row align-content-between gap-2 userDetails">
            <img src="@routes.Assets.versioned("images/defaultCollectionProfile.png")" class="rounded-circle" width="40" height="40"/>
            <div class="ms-2 d-flex flex-column justify-content-between">
                <a href="@routes.ProfileController.viewProfile(loginState.username, constants.View.COLLECTED)" class="d-flex flex-row align-items-center p-0 profileItemLink">
                    <div class="userName">@loginState.username</div>
                </a>
                <div class="userBalance" id="walletBalance_@loginState.address"></div>
            </div>
        </div>
        <i id="openWalletMenu" class="bi bi-list iconDefault iconLarge" onclick="fetchKeys(); openCloseWalletScreen(this, 'addressBook');"></i>
    </div>
    <div class="row p-2 mx-0 mt-3 justify-content-between align-items-center userAddressBox">
        <div class="col-10 p-0 userAddressData username-data" data-value="@loginState.address">
            @commonAddressValue(message = loginState.address, id = utilities.IdGenerator.getRandomHexadecimal, length = 8)
        </div>
        <div class="col-2 text-end copyIcon" onclick="copyToClipboard(this);
        showSnackbar('', '@Messages(constants.View.ADDRESS_COPIED)', '@Messages(constants.View.NOTIFICATION_TITLE_INFO)');">
            <i id="openWalletMenu" class="bi bi-files iconDefault iconMedium"></i>
        </div>
    </div>
    <div class="d-flex justify-content-around text-center mt-3 buttons">
        <a href="https://app.osmosis.zone/?from=USDC&to=MNTL" target="_blank"><button class="secondaryButton">@Messages(constants.View.BUY_MORE)</button></a>
        @commonFormButton(constants.Form.SEND_COIN, Symbol("parameters") -> s"'${loginState.address}'", Symbol("class") -> "primaryButton")
    </div>
    <div class="separator"></div>

    <div class="detailContainer">
        <div class="menuList">
            <div class="menuItem">
                <a href="@routes.ProfileController.viewProfile(loginState.username, constants.View.COLLECTED)" class="d-flex gap-3">
                    <i class="bi bi-person iconDefault icon"></i>
                    <div class="profileMenuLabel">@Messages(constants.View.PROFILE)</div>
                </a>
            </div>
            <div class="innerSeparator"></div>
            <div class="menuItem">
                <a href="@routes.SettingController.viewSettings()" class="d-flex gap-3">
                    <i class="bi bi-gear iconDefault icon"></i>
                    <div class="profileMenuLabel">@Messages(constants.View.SETTINGS)</div>
                </a>
            </div>
            <div class="innerSeparator"></div>
            <div class="menuItem">
                <a onclick="getForm(@utilities.JsRoutes.getJsRouteString(constants.Form.SIGN_OUT.get, ""))" class="d-flex gap-3">
                    <i class="bi bi-box-arrow-right iconDefault icon"></i>
                    <div class="profileMenuLabel">@Messages(constants.View.SIGN_OUT)</div>
                </a>
            </div>
        </div>
    </div>

        <!-- Address Book -->
    <div id="addressBook" class="addressBook">
        <div class="d-flex flex-row gap-2 align-items-center justify-content-between mb-3 headerWithBackButton">
            <div class="headerTitle">@Messages(constants.View.ADDRESS_BOOK_TITLE)</div>
            <i id="addressBookCloseBtn" class="bi bi-x iconDefault iconLarge mt-1" style="cursor: pointer;" onclick="openCloseWalletScreen(this, 'addressBook')"></i>
        </div>
        <div class="d-flex flex-column justify-content-between">
            <div id="walletAddressList" class="mt-2 walletAddressList">
            </div>
            <div class="text-center d-flex flex-column align-items-end bottomMenu buttons">
                <div class="d-flex justify-content-center w-100">
                    <button id="newAddressOptionOpenBtn" class="d-flex gap-2 align-items-center primaryButton" onclick="getForm(jsRoutes.controllers.SettingController.addNewKey())">
                        <i class="bi bi-plus-circle iconDefault iconSmall"></i>
                        @Messages(constants.View.ADD_NEW_ADDRESS_LABEL)
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/settings/settings.js")" type="text/javascript"></script>
<script>fetchBalance('@loginState.address')</script>