@import controllers.actions.LoginState

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)
<div class="notificationPopupContainer">
    <div class="d-flex justify-content-between align-items-center headerContainer">
        <div class="title">@Messages(constants.View.NOTIFICATION_POPUP_TITLE)</div>
        <div class="titleLink">@Messages(constants.View.NOTIFICATION_POPUP_TITLE_LINK)</div>
    </div>
    <div class="separator"></div>
    <div class="emailContainer">
        <div class="text-end closeEmailContainer">
            <i class="bi bi-x iconDefault iconLarge"></i>
        </div>
        <div class="emailInputField">
            <span class="emailNotificationLabel">@Messages(constants.View.NOTIFICATION_POPUP_EMAIL_LABEL)</span>
            <input type="text" placeholder="email@@email.com"/>
            <div class="emailNotificationButton">@Messages(constants.View.NOTIFICATION_POPUP_EMAIL_SUBMIT)</div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="notificationList">
        <div class="notificationListTitle">@Messages(constants.View.NOTIFICATION_POPUP_TITLE_NEW)</div>
        <div class="list">
            <div class="mb-4 singleNotification">
                <div class="d-flex gap-2">
                    <div class="d-flex justify-content-center align-items-center notificationIcon">
                        <i class="bi bi-tag iconWhite"></i>
                    </div>
                    <div class="notificationDetail">
                        <div class="mb-2 title">@Messages(constants.View.NOTIFICATION_TITLE)</div>
                        <div class="mb-2 description">@Messages(constants.View.NOTIFICATION_DESCRIPTION)</div>
                        <div class="dateTime">@Messages(constants.View.NOTIFICATION_DATETIME)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="notificationList">
        <div class="notificationListTitle">@Messages(constants.View.NOTIFICATION_POPUP_TITLE_OLD)</div>
        <div class="list">
            <div class="mb-4 singleNotification">
                <div class="d-flex gap-2">
                    <div class="d-flex justify-content-center align-items-center notificationIcon">
                        <i class="bi bi-tag iconWhite"></i>
                    </div>
                    <div class="notificationDetail">
                        <div class="mb-2 title">@Messages(constants.View.NOTIFICATION_TITLE)</div>
                        <div class="mb-2 description">@Messages(constants.View.NOTIFICATION_DESCRIPTION)</div>
                        <div class="dateTime">@Messages(constants.View.NOTIFICATION_DATETIME)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loadOlderNotificationButton">@Messages(constants.View.NOTIFICATION_POPUP_LOAD_OLDER)</div>
    </div>
</div>