@(title: String, failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(left: Html = Html(""))(center: Html = Html(""))(right: Html = Html(""))(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="@routes.Assets.versioned("images/Favicon.ico")"/>
        <metaList charset="utf-8"></metaList>
        <metaList http-equiv="x-ua-compatible" content="ie=edge"></metaList>
        <metaList name="viewport" content="width=device-width, initial-scale=1"></metaList>
        <metaList content="@Messages(constants.View.META_DESCRIPTION)" name="description" property="og:description"></metaList>
        <title>@Messages(title) | @Messages(constants.View.APP_NAME)</title>
        <script src="@routes.JavaScriptRoutesController.javascriptRoutes" type="text/javascript" ></script>
        <script src="@routes.Assets.versioned("javascripts/library/jQuery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/library/dateRangePicker.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/library/moment.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/library/swiperBundle.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/componentResource.js")" type="text/javascript"></script>
    </head>
    <body>
        @left

        @center

        @right
    </body>
</html>