@import controllers.actions.LoginState
@import views.html.base._
@import helper._
@import constants.File.FileUploadForm

@(fileUploadForm: FileUploadForm, id: String, documentType: String, errorMessage: String = "")(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="uploadForm">
@CSRF.formField
    <div class="modalInfoBlock">
    <div id="uploadSelector_@documentType"  class="centerText uploadBox">
        <i class="bi bi-cloud-upload iconDefault uploadIcon"></i>
        <span class="uploadIcon" cmuk-icon="cloud-upload"></span>
        <div class="dropBox">
            @Messages(constants.View.DROP_FILE)
        </div>
        <p class="centerText">@Messages(constants.View.OR)</p>
        <button type="button" class="secondaryButton" id="browseUploadButton_@documentType">@Messages(constants.View.BROWSE)</button>
    </div>
    <div id="uploader_@documentType" class="centerText">
        <a id="fileName_@documentType" class="fileName"></a>
        <br>
        <div id="uploadControls_@documentType">
            <div class="progressContainer">
                <div class="progressBar" id="fileUploadProgressBar_@documentType"></div>
            </div>
            <div class="mt-0 horizontal-align">
                <button type="button" class="primaryButton" id="uploadButton_@documentType" >@Messages(constants.View.UPLOAD)</button>
            </div>
        </div>
    </div>
    <div id="uploadCompletionMessage_@documentType" class=""></div>
    </div>
</div>
<script>uploadFile(@utilities.JsRoutes.getJsRouteFunction(fileUploadForm.store), @utilities.JsRoutes.getJsRouteFunction(fileUploadForm.upload), '@id', '@documentType', '@fileUploadForm.fileTypes.mkString("_")', @fileUploadForm.maxFileSize)</script>
