@import controllers.actions.LoginState
@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, optionalLoginState: Option[LoginState])

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#ffffff;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Coding Yaar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <a href="#" class="btn fw-bold">Get in Touch</a>
        </div>
    </div>
</nav>

<!--
<div class="wrapper">
    <nav>
        <input type="checkbox" id="show-search"/>
        <input type="checkbox" id="show-menu"/>
        <label for="show-menu" class="menu-icon"></label>
        <div class="content">
            <div class="logo">
                <a href="@routes.IndexController.index()">
                    <img class="lazyload" src="@routes.Assets.versioned("images/mantlePlaceLogo.svg")" data-src="@routes.Assets.versioned("images/mantlePlaceLogo.svg")" class="logo"/>
                    <span class="appVersion">@Messages(constants.View.APP_VERSION)</span>
                </a>
            </div>
            <ul class="links">
                <li><a href="@routes.CollectionController.viewCollections()">@Messages(constants.View.EXPLORE)</a></li>
                <li>
                    <a class="desktop-link">@Messages(constants.View.CREATE)</a>
                    <input type="checkbox" id="show-features2">
                    <label for="show-features2">@Messages(constants.View.CREATE)</label>
                    <ul>
                        <li>
                            <div class="disable">@Messages(constants.View.COMING_SOON)</div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="desktop-link">@Messages(constants.View.SUPPORT)</a>
                    <input type="checkbox" id="show-features3">
                    <label for="show-features3">@Messages(constants.View.CREATE)</label>
                    <ul>
                        <li>
                            <div class="disable">@Messages(constants.View.COMING_SOON)</div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="right-menu">
            <label for="show-search" class="search-icon"><img src="@routes.Assets.versioned("images/icon/search.png")" width="20" height="20"/></label>
        @optionalLoginState match {
            case Some(loginState) => {
                <ul class="d-flex flex-row gap-2 align-items-center mb-0 links">
                    <li>
                        <a>@loginState.username</a>
                    </li>
                    <li class="user-wallet">
                        <a href="https://wallet.assetmantle.one/" target="_blank">
                            <img class="lazyload" src="@routes.Assets.versioned("images/icon/wallet.png")" class="wallet"/>
                        </a>
                    </li>
                    <li>
                        <a onclick="getForm(@utilities.JsRoutes.getJsRouteString(constants.Form.SIGN_OUT.get, ""))">
                            <img class="lazyload" src="@routes.Assets.versioned("images/icon/logout.png")" class="logout" width="22" height="22"/>
                        </a>
                    </li>
                </ul>
            }
            case _ => {
                <ul class="links">
                    <li><a onclick="getForm(@utilities.JsRoutes.getJsRouteString(constants.Form.SIGN_UP.get, ""))">@Messages(constants.View.SIGN_UP)</a></li>
                    <li><a onclick="getForm(@utilities.JsRoutes.getJsRouteString(constants.Form.SIGN_IN.get, ""))">@Messages(constants.View.SIGN_IN)</a></li>
                </ul>
            }
        }
        </div>

        <form action="#" class="search-box">
            <input type="text" placeholder="Type Something to Search..." required/>
            <button type="submit" class="go-icon">

            </button>
        </form>
    </nav>
</div>
    -->
