@import views.html.profile.wishlist.commonWishlistCollectionCard
@import controllers.actions.LoginState
@import views.html.base.buttons.commonPrimaryCallButton

@(accountId: String, collections: Seq[master.Collection])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

<div class="m-0 p-0 collectionPage wishlistCollectionsPerPage">
    @if(collections.nonEmpty) {
        @collections.map { collection =>
            <div class="mt-3 singleCollection">
                @commonWishlistCollectionCard(accountId, collection)
            </div>
        }
    } else {
        <div class="noCollectionLeft"></div>
        <div id="noCollection" class="hidden">
            @Messages(constants.View.NO_NFTS_LIKED)
            @commonPrimaryCallButton(constants.View.EXPLORE, routes.CollectionController.viewCollections(constants.View.DEFAULT_COLLECTION_SECTION))
        </div>
    }
</div>
<script src="@routes.Assets.versioned("javascripts/profile/wishlist/collectionPerPage.js")" type="text/javascript"></script>
<script>checkNoCollection()</script>