@import views.html.base.buttons.commonPrimaryButton
@import controllers.actions.LoginState

@(accountId: String, collection: master.Collection)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

<div class="item item-center nftContainer">
    <div class="profileCover">
        <div class="profileCoverContainer" id="collectionUncompressedCoverImage_@collection.id"></div>
    </div>
    <div class="profile-card">
        <div class="profiles-container">
            <div class="nft-list">
                <div class="nft-list-container">
                    <div id="nftsPerPage" class="row m-0 nftsPerPage">
                    </div>
                </div>
                    <!-- Loader -->
                <div class="loading">
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                </div>
                    <!-- End -->

                    <!-- Load more button -->
                <div id="loadMoreBtnContainer" class="d-flex justify-content-center horizontal-align">
                    @commonPrimaryButton(constants.View.LOAD_MORE_BUTTON, JavaScript(s"loadMoreNFTs('${accountId}', '${collection.id}')"), Symbol("id") -> "loadMoreCollectionButton")
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@routes.Assets.versioned("javascripts/profile/wishlist/nftLoadMore.js")" type="text/javascript"></script>
<script>checkAndLoadWishListCollectionNFTs('@accountId', '@collection.id', '@constants.Collection.File.COVER')</script>