@import views.html.profile.wishlist.commonWishlistCollectionCard
@import controllers.actions.LoginState

@(accountId: String, collections: Seq[master.Collection])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

<div class="m-0 p-0 collectionPage wishlistCollectionsPerPage">
    @if(collections.nonEmpty) {
        @collections.map { collection =>
            <div class="mt-3 singleCollection">
                @commonWishlistCollectionCard(accountId, collection)
            </div>
        }
    } else {
        <div class="noCollection"></div>
    }
</div>
<script>
        $(document).ready(function () {
            if ($(".wishlistCollectionsPerPage .singleCollection").length <= 5) {
                $("#loadMoreBtnContainer").addClass("hide");
            }
        });
</script>