@(collection: master.Collection)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<a onclick="componentResource('centerContent', jsRoutes.controllers.CollectionController.collection('@collection.id'))">
    <div class="single-profile-card">
        <div class="profile-section">
            <div id="collectionCoverImage_@collection.id"></div>
            <div class="profile-detail">
                <div id="collectionProfileImage_@collection.id"></div>
                <div id="content">
                    <h1>@collection.name</h1>
                    <p>@collection.description</p>
                </div>
            </div>
        </div>
    </div>
    <script>
            componentResource('collectionCoverImage_@collection.id', jsRoutes.controllers.CollectionController.collectionCoverFile('@collection.id'));
            componentResource('collectionProfileImage_@collection.id', jsRoutes.controllers.CollectionController.collectionProfileFile('@collection.id'));
    </script>
</a>