/**
 * Overlay
 * -- only show for tablet and up
 */
@media only screen and (min-width: 10em) {
    .modal-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    }
    .modal-overlay.active {
        opacity: 1;
        visibility: visible;
    }
}
/**
 * Modal
 */
.modal {
    background-color: var(--popup-bg);
    border: 2px solid var(--popup-stroke);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    position: relative;
    margin: 0 auto;
    width: 600px;
    max-width: 75rem;
    min-height: auto;
    padding: 32px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: scale(1.2);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modal .modal-content {
    width: 100%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;
}
.modal.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.modal.active .modal-content {
    opacity: 1;
}
.modal.active .close-modal {
    transform: translateY(10px);
    opacity: 1;
}

/**
 * Mobile styling
 */
@media only screen and (max-width: 39.9375em) {
    .modal {
        margin: 0 auto;
        width: 90%;
        -webkit-overflow-scrolling: touch;
        padding: 30px !important;
    }
}

/* Form Header Start*/
/* Large Header */
.modal .header .form-top{
    display: flex;
    justify-content: space-between;
}
.modal .header .form-top .form-title{
    font-family: var(--font-type-1);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    color: var(--dark);
}
.modal .header .form-sub-title{
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin:10px 0 25px 0;
    color: var(--inactive-gray);
}
/* Header with Icon */
.modal .header-with-icon .form-top{
    display: flex;
    align-items: center;
}
.modal .header-with-icon .form-top .title-icon{
    margin-right: 10px;
}
.modal .header-with-icon .form-top .title-text{
    font-family: var(--font-type-1);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    color: var(--dark);
    padding-bottom: 5px;
    margin-right: 20px;
}
.modal .header-with-icon .form-sub-title{
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin:12px 0 0 0;
    color: var(--text-medium);
}

/* Close Button */
.modal .form-close-btn{
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.modal .form-close-btn:before,
.modal .form-close-btn:after {
    content: '';
    width: 55%;
    height: 2px;
    background: var(--dark);
    position: absolute;
    top: 48%;
    left: 22%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.modal .form-close-btn:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.modal .form-close-btn:hover:before,
.modal .form-close-btn:hover:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.modal .form-close-btn:hover{
    background-color: var(--popup-stroke);
}

/* Wallet List (Sign Up Options) */
.modal .wallet-list li{
    border-bottom: 2px solid var(--line);
}
.modal .wallet-list .wallet-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 9px 15px 0 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.modal .wallet-list .wallet-item:hover{
    background-color: var(--popup-stroke);
}
.modal .wallet-list .wallet-item .wallet-title{
    font-family: var(--font-type-1);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: var(--mantle-off-white);
    flex-grow: 2;
    margin-left: 10px;
}

/* Footer */
.modal .form-footer{
    margin-top: 25px;
}
.modal .footer-terms-condition{
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    color: var(--mantle-off-white);
    margin-top: 15px;
}
.modal .footer-terms-condition .link{
    font-family: var(--font-type-1);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: var(--dark);
    margin-left: 5px;
    position: relative;
}
.modal .link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}
.modal .link:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.0, 2, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}
.modal .footer-message{
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    color: var(--inactive-gray);
}
.modal .footer-message .link{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: var(--dark);
    text-transform: capitalize;
    margin-left: 5px;
    position: relative;
}
.modal .msg-3{
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--inactive-gray);
}
.modal .msg-4{
    font-family: var(--font-type-2);
    font-size: 16px;
    color: var(--text-medium);
}

/* Form Button */
.form-button{
    display: flex;
    justify-content: end;
    margin-top: 40px;
    gap: 30px;
}
.form-button button{
    padding: 9px 0;
    width: 200px;
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}
.form-button .form-primary-button{
    color: var(--button-text);
    background-color: var(--dark);
    box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.2), inset 4px 4px 8px #FFD365;
    overflow: hidden;
    position: relative;
    z-index: 950;
    transition: color 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    border: 1px solid var(--dark);
}
.form-button .form-primary-button::before {
    content: '';
    position: absolute;
    top:0;
    background-color: var(--popup-bg);
    width: 105%;
    left: -115%;
    height: 100%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    z-index: -1;
}
.form-button .form-primary-button:hover{
    color: var(--dark);
}
.form-button .form-primary-button:hover::before{
    transform: translateX(105%);
}
.form-button .form-secondary-button{
    color: var(--dark);
    background-color: transparent;
    border: 1px solid var(--dark);
    overflow: hidden;
    position: relative;
    z-index: 950;
    transition: color 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.form-button .form-secondary-button::before{
    content: '';
    position: absolute;
    top:0;
    background-color: var(--dark);
    width: 105%;
    left: -115%;
    height: 100%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    z-index: -1;
}
.form-button .form-secondary-button:hover{
    color: var(--button-text);
}
.form-button .form-secondary-button:hover::before{
    transform: translateX(105%);
    box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.2), inset 4px 4px 8px #FFD365;
}

/* Successful Modal Icon Animation */
.header-success .form-success-icon{
    text-align: center;
}

/* Successful Modal Message */
.header-success .form-success-message{
    margin:10px 0 0 0;
    text-align: center;
}
.header-success .form-success-message .form-success-message-heading{
    font-family: var(--font-type-1);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    color: var(--dark);
    margin-top: 10px;
}
.header-success .form-success-message-sub-heading{
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-medium);
    margin-top: 10px;
    text-align: center;
}
.header-success .form-success-message .form-success-message-sub-text{
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-medium);
    margin: 10px 0px;
}

/* Form Address Box */
.form-address-box{
    background-color: var(--header-bg);
    border-radius: 16px;
    padding: 12px 14px;
    margin-top: 30px;
    font-family: var(--font-type-2);
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}
.form-address-box .form-address-box-item{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.form-address-box .address-box-label{
    text-align: right;
    color: var(--inactive-gray);
    margin-right:10px;
}
.form-address-box .address-box-text{
    color: var(--mantle-off-white);
    display: flex;
    align-items: center;

}
@media (max-width: 425px){
    .form-address-box{
        font-size: 14px;
    }
}
.form-address-box .form-copy-icon{
    margin-left: 5px;
}

/* Create Wallet */
.sub-heading-link{
    font-family: var(--font-type-2);
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    color: var(--inactive-gray);
}
.sub-heading-link .link{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: var(--dark);
    margin-left: 5px;
    position: relative;
}

/* Form Heading */
.form-heading{
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: var(--inactive-gray);
    margin-top: 25px;
}

/* Form Bullet List*/
.form-bullet-list{
    margin: 15px 25px;
}
.form-bullet-list ul{
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    list-style: disc;
    color: var(--inactive-gray);
}
.form-bullet-list ul li{
    margin: 15px 0;
}

/* Form Copy Item */
.form-copy-item,
.form-input-text{
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--text-medium);
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 5px;
}
.form-input-text{
    font-weight: 400;
}
.form-copy-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 4px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.form-copy-icon:hover{
    background-color: var(--popup-stroke);
}

/* Form Seed Box */
.form-seed-box-list{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 10px;
    font-family: var(--font-type-2);
    color: var(--mantle-off-white);
    gap: 10px;
}
.form-seed-box-list .form-seed-box{
    flex: 1 1 0;
}
.form-seed-box-list .form-seed-box .form-seed-box-number{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin-left: 5px;
}
.form-seed-box-list .form-seed-box .form-seed-box-phrase{
    text-align: center;
    color: var(--mantle-off-white);
    background: transparent;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid var(--inactive-gray);
    box-sizing: border-box;
    border-radius: 8px;
    margin-top:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    padding: 9px 0;
    outline:none;
}
.form-seed-box-list .form-seed-box .form-seed-box-phrase.disable{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    pointer-events: none;
}
.form-seed-box-list .form-seed-box .form-seed-box-phrase:focus-within{
    border-color: var(--dark);
}
.form-seed-box-list .form-seed-box .form-seed-box-phrase input{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border:none;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-family: var(--font-type-2);
    color: var(--mantle-off-white);
    font-size: 16px;
}
.form-seed-box-list .form-seed-box .form-seed-box-phrase input:focus{
    color: var(--dark);
}

/* Form Information Message */
.form-information-message{
    display: flex;
    margin-top: 15px;
    gap: 5px;
}
.form-information-message .form-information-icon img{
    width: 18px;
}
.form-information-message .form-information-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--font-type-2);
    color: var(--mantle-off-white);
}

/* Form Accordion */
.accordion-toggle {
    cursor:pointer;
    display: flex;
    align-items: center;
}
.accordion-toggle h4{
    font-family: var(--font-type-1);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: var(--dark);
}
.accordion-toggle .icon {
    color: var(--dark);
    margin-left: 5px;
}
.accordion-toggle .icon:before {
    display: inline-block;
    content: url('../images/Down-arrow.png');;
    font-size: 25px;
    line-height: 12px;
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    transition: .2s ease;
}
.accordion-toggle.open .icon:before {
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.accordion-content {
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display:none;
    word-break: break-word;
}
.accordion-content .accordion-item{
    display: flex;
    margin: 15px 0;
}
.accordion-content.default {
    display:block;
}
.accordion-box {
    padding: 1.5em 0em 0em 0;
}
.accordion-box p {
    text-align: right;
    flex: 15%;
    margin-right: 10px;
    color: var(--inactive-gray);
}
.accordion-box span {
    flex: 85%;
    color: var(--mantle-off-white);
}
@media (max-width:425px){
    .accordion-content{
        font-size: 14px;
    }
}


.form-heading{
    color:red;
}