@import controllers.actions.LoginState
@import views.html.base.form._
@import views.secondaryMarket.companion.Buy

@(buyForm: Form[Buy.Data] = Buy.form, nftId: String, secondaryMarketId: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@commonForm(constants.Form.BUY_FROM_SECONDARY_MARKET, buyForm) {
    @commonInputText(buyForm, constants.FormField.NFT_ID, Symbol("value") -> nftId, Symbol("containerDivClass") -> "hidden")
    @commonInputText(buyForm, constants.FormField.SECONDARY_MARKET_ID, Symbol("value") -> secondaryMarketId, Symbol("containerDivClass") -> "hidden")
    @commonInputPassword(buyForm, constants.FormField.PASSWORD)
}