@import controllers.actions.LoginState
@import models.blockchain.Block
@import models.blockchainTransaction.UserTransaction

@(userTransactions: Seq[UserTransaction], blocks: Seq[Block])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

    @userTransactions.map { userTransaction =>
        <tr>
            <td class="tableFieldHash"><a target=”_blank” href="https://explorer.assetmantle.one/transactions/@userTransaction.txHash">@userTransaction.txHash</a></td>
            <td class="text-center tableFieldType">@Messages(userTransaction.txType)</td>
            <td class="text-center tableFieldStatus">@if(userTransaction.status.isEmpty) {

            } else {
                @if(userTransaction.status.get){
                    <i class="bi bi-check-circle iconSuccess iconSmall"></i>
                }else{
                    <i class="bi bi-x-circle iconError iconSmall"></i>
                }
            }</td>
            <td id="transactionTime_@userTransaction.txHash">@userTransaction.txHeight.fold(0L)(x => blocks.find(_.height == x).fold(0L)(_.time))</td>
            <script>epochToDateTime('transactionTime_@userTransaction.txHash');</script>
        </tr>
    }