@main("Create New Collection"){
    <div class="collection-container">
        <div class="collection-left-panel">
            <div class="number-timeline-container">
                <ul class="timeline">
                    <li class="tl-item active" ng-repeat="item in retailer_history">
                        <div class="item-title">Choose Collection</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">Create NFT</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">Mint NFT</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">Sell NFT</div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="collection-right-panel">
            <div class="collection-right-panel-content">
                <div class="collection-right-panel-header">Create New Collection</div>

                <main class="collection-form">
                    <div class="collection-form-section-label">
                        <span>Basic Information</span>

                    </div>
                    <div class="form-field">
                        <div class="form-field-top">
                            <label for="thumbnail">Thumbnail</label>
                            <img src="@routes.Assets.versioned("images/info.png")" class="toolTipReference"/>
                            <a class="toolTip">
                                <span class="toolTipText">Best to use a square image of size 170x170 pixels or more.</span>
                            </a>
                        </div>
                        <div class="form-field-bottom">
                            <div class='file-input'>
                                <input type='file' id="thumbnail">
                                <label class='label' data-js-label>JPG, PNG, GIF, SVG (Max size: 100 MB)</label>
                                <span class='button'>
                                    <img src="@routes.Assets.versioned("images/upload.svg")"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-field-top">
                            <label for="banner">Banner</label>
                            <img src="@routes.Assets.versioned("images/info.png")" class="toolTipReference"/>
                            <a class="toolTip">
                                <span class="toolTipText">Best to use a square image of size 1024x768 pixels or more.</span>
                            </a>
                        </div>
                        <div class="form-field-bottom">
                            <div class='file-input'>
                                <input type='file' id="banner">
                                <label class='label' data-js-label>JPG, PNG, GIF, SVG (Max size: 100 MB)</label>
                                <span class='button'>
                                    <img src="@routes.Assets.versioned("images/upload.svg")"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-field-top">
                            <label for="collectionName">Collection name</label>
                        </div>
                        <div class="form-field-bottom">
                            <div class="input collection_field">
                                <input type="text" id="collectionName" placeholder="Provide a name for this collection" oninput="checkCollectionName()"/>
                                <i class="fa-regular fa-circle-check" id="btn"></i>
                            </div>
                        </div>
                        <div class="error-message collectionError">
                            <div class="error-info">
                                <img src="@routes.Assets.versioned("images/error.png")"/>
                                <lable>Collection name is already taken. Please try another.</lable>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-field-top">
                            <label for="description">Description</label>
                        </div>
                        <div class="form-field-bottom">
                            <textarea id="description" placeholder="Describe the collection in a few words"></textarea>
                            <div class="textarea-bottom-text">70/200 characters remaining</div>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-field-top">
                            <label for="externalLinks">External Links (Optional)</label>
                        </div>
                        <div class="form-field-bottom">
                            <input type="text" id="externalLinks" placeholder="https://example.com"/>
                        </div>
                    </div>

                    <div class="collection-form-section-label">
                        <span>Properties</span>
                        <img src="@routes.Assets.versioned("images/info.png")" class="toolTipReference"/>
                        <a class="toolTip">
                            <span class="toolTipText">Each NFT has some perceptible or imperceptible traits that are specified as "Properties". These properties establish the rarity of the NFT in the collection.</span>
                        </a>
                    </div>
                    <div class="form-field">
                        <div class="form-field-2-columns">
                            <div class="form-field-2-columns-row-main">
                                <div class="row">
                                    <div class="form-field-column">
                                        <div class="form-field-top">
                                            <label for="propertyName">Name</label>
                                        </div>
                                        <div class="form-field-bottom">
                                            <input type="text" id="propertyName" placeholder="e.g. Color"/>
                                        </div>
                                    </div>
                                    <div class="form-field-column">
                                        <div class="form-field-top">
                                            <label for="thumbnail">Type</label>
                                        </div>
                                        <div class="form-field-bottom">
                                            <span class="dropdown-el">
                                                <input type="radio" name="sortType" value="Relevance" checked="checked" id="disable-label"><label for="disable-label">Select Type</label>
                                                <input type="radio" name="sortType" value="Popularity" id="optionBoolean"><label for="optionBoolean">Boolean</label>
                                                <input type="radio" name="sortType" value="PriceIncreasing" id="optionString"><label for="optionString">String/Character</label>
                                                <input type="radio" name="sortType" value="PriceDecreasing" id="optionNumber"><label for="optionNumber">Number</label>
                                            </span>
                                        </div>
                                    </div>
                                    <img src="@routes.Assets.versioned("images/delete.svg")" class="delete-property"/>
                                </div>
                                <div class="row">
                                    <div class="require-field">
                                        <label>
                                            <input type="checkbox">
                                            <span></span>
                                            <p>Required</p>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-property" onclick="addCollectionProperty()">
                        <img src="@routes.Assets.versioned("images/addProperty.svg")"/>
                        <div class="add-property-msg">Add more properties</div>
                    </div>
                </main>

                <div class="grid-button">
                    <div class="form-button">
                        <button class="form-cancel-button">Save Draft</button>
                        <button class="form-next-button disable-button">Next</button>
                    </div>
                </div>

                @*                <div class="collection-grid">*@
                @*                    <div class="collection-grid-box new-collection">*@
                @*                        <img src="@routes.Assets.versioned("images/createcollection.svg")"/>*@
                @*                        <span class="collection-grid-box-label">Create new collection</span>*@
                @*                    </div>*@
                @*                    <div class="collection-grid-box">*@
                @*                        <img src="@routes.Assets.versioned("images/nftnotavailable.svg")"/>*@
                @*                        <span class="collection-grid-box-label">Collection 1</span>*@
                @*                    </div>*@
                @*                    <div class="collection-grid-box">*@
                @*                        <img src="@routes.Assets.versioned("images/nftnotavailable.svg")"/>*@
                @*                        <span class="collection-grid-box-label">Collection 2</span>*@
                @*                    </div>*@
                @*                    <div class="collection-grid-box">*@
                @*                        <img src="@routes.Assets.versioned("images/nftnotavailable.svg")"/>*@
                @*                        <span class="collection-grid-box-label">Collection 3</span>*@
                @*                    </div>*@
                @*                </div>*@


            </div>

        </div>
    </div>

}