@import controllers.actions.LoginState

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

@views.html.base.common(constants.View.HOME)
<style>
        html{
                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none;  /* Internet Explorer 10+ */
        }
        ::-webkit-scrollbar {
                width: 0px;
        }
</style>

@views.html.home.opener()

        <div class="container homeContainer" style="background-color: red;">
        demo
        </div>
<script>
        // Pre-loader
        intro = document.querySelector('.intro');
        window.addEventListener('DOMContentLoaded', ()=>{
            setTimeout(()=>{
                setTimeout(()=>{
                    intro.style.top = '-100vh';
                    intro.style.visibility = 'hidden';
                },3500);
            });
        });
</script>