@import views.html.Home._
@()(implicit messagesProvider: MessagesProvider)
@main(""){
    @* @opener() *@

    <div class="scroll-container">
        <section>
            <h1>Section One</h1>
        </section>
        <section>
            <h1>Section Two</h1>
        </section>
        <section>
            <h1>Section Three</h1>
        </section>
        <section>
            <h1>Section Four</h1>
        </section>
        <section>
            <h1>Section Five</h1>
        </section>
    </div>
}