@import views.html.home._
@import views.html.base._

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@main(""){
    @opener()
    @* @menu() *@
    @menuNoAccount()

    <div class="modal-overlay" id="commonModal">
        <div class="modal">
            <div class="modal-content" id="modal-content">
            </div>
        </div>
    </div>

    <div class="parent">
        <section class="smooth-scroll-section">
            <div class="hero-section section">
                <div class="row">
                    <div class="col-1">
                        <h2>@Messages(constants.View.HERO_SECTION_TITLE)</h2>
                        <p>@Messages(constants.View.HERO_SECTION_PARAGRAPH)</p>
                        <div class="buttons">
                            <button class="button-1"></button>
                            <button class="button-2" onclick="getForm(@utilities.JsRoutes.getJsRouteString(constants.Form.SIGN_UP.get, ""))">@Messages(constants.View.SIGN_UP)</button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="swiper mySwiper2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="lazyload" src="@routes.Assets.versioned("images/NFT/heroImage1.jpg")" alt=""/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="lazyload" src="@routes.Assets.versioned("images/NFT/heroImage2.jpg")" alt=""/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="lazyload" src="@routes.Assets.versioned("images/NFT/heroImage3.jpg")" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="smooth-scroll-section">
                <!-- Featured Section -->
            <div id="featured-section" class="featured-section section">
                <div class="featured-container-main">
                    <div class="landing-page-heading">@Messages(constants.View.FEATURED_SECTION_TITLE)</div>
                    <section class="featured-container">
                        <div class="swiper swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="featured-card">
                                        <div class="featured-card-img">
                                            <div class="image-container">
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "TENDERMIND_2.jpg", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "TENDERMIND_1.jpg", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "TENDERMIND_3.jpg", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "TENDERMIND_2.jpg", height = Option(550), width = Option(350))
                                            </div>
                                        </div>
                                        <div class="creator-main">
                                            <div class="creator-data">
                                                <div class="creator-img">
                                                    <img class="lazyload" src="@routes.Assets.versioned("images/NFT/profileHowRare.jpg")" alt=""/>
                                                </div>
                                                <div class="creator-detail">
                                                    <a href="https://twitter.com/how_rare_" target="_blank"><div class="creator-name">@Messages(constants.View.FEATURED_COLLECTION_NAME_1)</div><img class="lazyload" src="@routes.Assets.versioned("images/NFT/Frame.svg")" data-src="@routes.Assets.versioned("images/NFT/Frame.svg")"/></a>
                                                    <div class="creator-sub-name">@Messages(constants.View.FEATURED_CREATOR_NAME_1)</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="featured-card">
                                        <div class="featured-card-img">
                                            <div class="image-container">
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "ORBICs_2.jpg", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "ORBICs_1.jpg", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "ORBICs_3.jpg", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "ORBICs_2.jpg", height = Option(550), width = Option(350))
                                            </div>
                                        </div>
                                        <div class="creator-main">
                                            <div class="creator-data">
                                                <div class="creator-img">
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "Orbics.jpg")
                                                </div>
                                                <div class="creator-detail">
                                                    <a href="https://twitter.com/OrbicsNFT" target="_blank"><div class="creator-name">@Messages(constants.View.FEATURED_COLLECTION_NAME_2)</div><img class="lazyload" src="@routes.Assets.versioned("images/NFT/Frame.svg")" data-src="@routes.Assets.versioned("images/NFT/Frame.svg")"/></a>
                                                    <div class="creator-sub-name">@Messages(constants.View.FEATURED_CREATOR_NAME_2)</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="featured-card">
                                        <div class="featured-card-img">
                                            <div class="image-container">
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "EZZYLAND_1.jpg", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "EZZYLAND_2.jpg", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "EZZYLAND_3.jpg", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "EZZYLAND_1.jpg", height = Option(550), width = Option(350))
                                            </div>
                                        </div>
                                        <div class="creator-main">
                                            <div class="creator-data">
                                                <div class="creator-img">
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "Ezzy.jpg")
                                                </div>
                                                <div class="creator-detail">
                                                    <a href="https://twitter.com/ezzyland/" target="_blank"><div class="creator-name">@Messages(constants.View.FEATURED_COLLECTION_NAME_3)</div><img class="lazyload" src="@routes.Assets.versioned("images/NFT/Frame.svg")" data-src="@routes.Assets.versioned("images/NFT/Frame.svg")"/></a>
                                                    <div class="creator-sub-name">@Messages(constants.View.FEATURED_CREATOR_NAME_3)</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="featured-card">
                                        <div class="featured-card-img">
                                            <div class="image-container">
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "OsmoNot_1.jpg", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "OsmoNot_2.jpg", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "OsmoNot_3.jpg", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "OsmoNot_1.jpg", height = Option(550), width = Option(350))
                                            </div>
                                        </div>
                                        <div class="creator-main">
                                            <div class="creator-data">
                                                <div class="creator-img">
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "Nots NFTs.jpg")
                                                </div>
                                                <div class="creator-detail">
                                                    <a href="https://twitter.com/NotsNfts" target="_blank"><div class="creator-name">@Messages(constants.View.FEATURED_COLLECTION_NAME_4)</div><img class="lazyload" src="@routes.Assets.versioned("images/NFT/Frame.svg")" data-src="@routes.Assets.versioned("images/NFT/Frame.svg")"/></a>
                                                    <div class="creator-sub-name">@Messages(constants.View.FEATURED_CREATOR_NAME_4)</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="featured-card">
                                        <div class="featured-card-img">
                                            <div class="image-container">
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "IGOR_1.jpg", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "IGOR_2.jpg", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "IGOR_3.png", height = Option(550), width = Option(350))
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "IGOR_1.jpg", height = Option(550), width = Option(350))
                                            </div>
                                        </div>
                                        <div class="creator-main">
                                            <div class="creator-data">
                                                <div class="creator-img">
                                                @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "Igor PFP.png")
                                                </div>
                                                <div class="creator-detail">
                                                    <a href="https://twitter.com/Igor211988189" target="_blank"><div class="creator-name">@Messages(constants.View.FEATURED_COLLECTION_NAME_5)</div><img class="lazyload" src="@routes.Assets.versioned("images/NFT/Frame.svg")" data-src="@routes.Assets.versioned("images/NFT/Frame.svg")"/></a>
                                                    <div class="creator-sub-name">@Messages(constants.View.FEATURED_CREATOR_NAME_5)</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next">
                                <img class="lazyload" src="@routes.Assets.versioned("images/temp/right-arrow.svg")"/>
                            </div>
                            <div class="swiper-button-prev">
                                <img class="lazyload" src="@routes.Assets.versioned("images/temp/left-arrow.svg")"/>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </section>
        <section class="smooth-scroll-section">
                <!-- New Drops Section -->
            <div class="popular-section new-drop-section section">
                <section class="popular-container">
                    <div class="landing-page-heading">@Messages(constants.View.NEW_DROPS_SECTION_TITLE)</div>
                    <div class="swiper swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="nft-card">
                                    <div class="nft-card-image">
                                    @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "New Drop 1.png", height = Option(296), width = Option(296))
                                    </div>
                                    <div class="nft-card-bottom-section">
                                        <div class="nft-creator-info">
                                            <div class="nft-creator-profile">
                                                <img class="lazyload" src="@routes.Assets.versioned("images/NFT/bitsavageProfile.png")"/>
                                            </div>
                                            <div class="nft-creator-data">
                                                <a href="https://twitter.com/PhenomenalMark" target="_blank"><h4>@Messages(constants.View.NEW_DROPS_CREATOR_NAME_1)</h4><img src="https://staging.marketplace.assetmantle.one/assets/images/NFT/Frame.svg"/></a>
                                                <p>@Messages(constants.View.NEW_DROPS_COLLECTION_NAME_1)</p>
                                            </div>
                                        </div>
                                        <div class="nft-card-bottom">
                                            <div class="nft-card-token">
                                                <img class="lazyload" src="@routes.Assets.versioned("images/MantlePlace Token.png")" data-src="@routes.Assets.versioned("images/MantlePlace Token.png")"/>
                                            </div>
                                            <div class="nft-card-price">
                                                <h2>--</h2>
                                                <p>$--</p>
                                            </div>
                                            <div class="nft-card-like">
                                                <img class="lazyload" src="@routes.Assets.versioned("images/like.png")" data-src="@routes.Assets.versioned("images/like.png")"/>
                                                <p>--</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="nft-card">
                                    <div class="nft-card-image">
                                        @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "New Drop 2.png", height = Option(296), width = Option(296))
                                        @*                                        <img class="lazyload" src="@routes.Assets.versioned("images/NFT/newDropNFT2.jpg")" alt=""/>*@
                                    </div>
                                    <div class="nft-card-bottom-section">
                                        <div class="nft-creator-info">
                                            <div class="nft-creator-profile">
                                            @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "avif", fileName = "ALLONE.jpg", height = Option(45), width = Option(45))
                                            </div>
                                            <div class="nft-creator-data">
                                                <a href="https://twitter.com/Jeremytitusart" target="_blank"><h4>@Messages(constants.View.NEW_DROPS_CREATOR_NAME_2)</h4><img src="https://staging.marketplace.assetmantle.one/assets/images/NFT/Frame.svg"/></a>
                                                <p>@Messages(constants.View.NEW_DROPS_COLLECTION_NAME_2)</p>
                                            </div>
                                        </div>
                                        <div class="nft-card-bottom">
                                            <div class="nft-card-token">
                                                <img class="lazyload" src="@routes.Assets.versioned("images/MantlePlace Token.png")" data-src="@routes.Assets.versioned("images/MantlePlace Token.png")"/>
                                            </div>
                                            <div class="nft-card-price">
                                                <h2>--</h2>
                                                <p>$--</p>
                                            </div>
                                            <div class="nft-card-like">
                                                <img class="lazyload" src="@routes.Assets.versioned("images/like.png")"  data-src="@routes.Assets.versioned("images/like.png")"/>
                                                <p>--</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="nft-card">
                                    <div class="nft-card-image">
                                        @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "New_Drop_3.png", height = Option(296), width = Option(296))
                                        @*                                        <img class="lazyload" src="@routes.Assets.versioned("images/NFT/newDropNFT3.jpg")" alt=""/>*@
                                    </div>
                                    <div class="nft-card-bottom-section">
                                        <div class="nft-creator-info">
                                            <div class="nft-creator-profile">
                                            @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "avif", fileName = "Ancientruins.jpg", height = Option(45), width = Option(45))
                                            </div>
                                            <div class="nft-creator-data">
                                                <a href="https://twitter.com/dreamyvisualz" target="_blank"><h4>@Messages(constants.View.NEW_DROPS_CREATOR_NAME_3)</h4><img src="https://staging.marketplace.assetmantle.one/assets/images/NFT/Frame.svg"/></a>
                                                <p>@Messages(constants.View.NEW_DROPS_COLLECTION_NAME_3)</p>
                                            </div>
                                        </div>
                                        <div class="nft-card-bottom">
                                            <div class="nft-card-token">
                                                <img class="lazyload" src="@routes.Assets.versioned("images/MantlePlace Token.png")" data-src="@routes.Assets.versioned("images/MantlePlace Token.png")"/>
                                            </div>
                                            <div class="nft-card-price">
                                                <h2>--</h2>
                                                <p>$--</p>
                                            </div>
                                            <div class="nft-card-like">
                                                <img class="lazyload" src="@routes.Assets.versioned("images/like.png")" data-src="@routes.Assets.versioned("images/like.png")"/>
                                                <p>--</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="nft-card">
                                    <div class="nft-card-image">
                                        @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "webp", fileName = "New Drop.jpg", height = Option(296), width = Option(296))
                                        @*                                        <img class="lazyload" src="@routes.Assets.versioned("images/NFT/newDropNFT4.jpg")" alt=""/>*@
                                    </div>
                                    <div class="nft-card-bottom-section">
                                        <div class="nft-creator-info">
                                            <div class="nft-creator-profile">
                                            @commonImage(lowQuality = Option(5), highQuality = 10, blur = Option(5), fileFormat = "avif", fileName = "Shainefer.jpg", height = Option(45), width = Option(45))
                                            </div>
                                            <div class="nft-creator-data">
                                                <a href="https://twitter.com/Shai_Nefer_" target="_blank"><h4>@Messages(constants.View.NEW_DROPS_CREATOR_NAME_4)</h4><img src="https://staging.marketplace.assetmantle.one/assets/images/NFT/Frame.svg"/></a>
                                                <p>@Messages(constants.View.NEW_DROPS_COLLECTION_NAME_4)</p>
                                            </div>
                                        </div>
                                        <div class="nft-card-bottom">
                                            <div class="nft-card-token">
                                                <img class="lazyload" src="@routes.Assets.versioned("images/MantlePlace Token.png")" data-src="@routes.Assets.versioned("images/MantlePlace Token.png")"/>
                                            </div>
                                            <div class="nft-card-price">
                                                <h2>--</h2>
                                                <p>$--</p>
                                            </div>
                                            <div class="nft-card-like">
                                                <img class="lazyload" src="@routes.Assets.versioned("images/like.png")" data-src="@routes.Assets.versioned("images/like.png")"/>
                                                <p>--</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </section>
            </div>
        </section>
        <section class="smooth-scroll-section">
                <!-- Landing Page Info Section -->
            <div class="landing-page-info-section section">
                <div class="info-title">
                    <h2>@Messages(constants.View.HOW_IT_WORKS_SECTION_TITLE)</h2>
                    <p>@Messages(constants.View.HOW_IT_WORKS_SECTION_SUBTITLE)</p>
                </div>
                <div class="info-steps-container">
                    <div class="info-steps">
                        <div class="info-step">
                            <div class="info-image">
                                <img class="lazyload" src="@constants.CommonConfig.webAppUrl.concat(s"/cdn-cgi/image/anim=false,q=20,f=avif,blur=10/assets/images/AssetMantle Icon GIFs/Create account.gif")" data-src="@constants.CommonConfig.webAppUrl.concat(s"/cdn-cgi/image/q=10,f=avif/assets/images/AssetMantle Icon GIFs/Create account.gif")" class="create-account-img"/>

                            </div>
                            <div class="info-label">
                            @Messages(constants.View.CREATE_ACCOUNT)
                            </div>
                        </div>
                        <div class="info-next-step-image">
                            <img class="lazyload" src="@routes.Assets.versioned("images/Union.png")" data-src="@routes.Assets.versioned("images/Union.png")"/>
                        </div>
                        <div class="info-step">
                            <div class="info-image">
                                <img class="lazyload" src="@constants.CommonConfig.webAppUrl.concat(s"/cdn-cgi/image/anim=false,q=20,f=avif,blur=10/assets/images/AssetMantle Icon GIFs/Mint NFTs.gif")" data-src="@constants.CommonConfig.webAppUrl.concat(s"/cdn-cgi/image/q=10,f=avif/assets/images/AssetMantle Icon GIFs/Mint NFTs.gif")" class="mint-nfts-img"/>

                            </div>
                            <div class="info-label">
                            @Messages(constants.View.MINT_NFTS)
                            </div>
                        </div>
                        <div class="info-next-step-image">
                            <img class="lazyload" src="@routes.Assets.versioned("images/Union.png")" data-src="@routes.Assets.versioned("images/Union.png")"/>
                        </div>
                        <div class="info-step">
                            <div class="info-image">
                                <img class="lazyload" src="@constants.CommonConfig.webAppUrl.concat(s"/cdn-cgi/image/anim=false,q=20,f=avif,blur=10/assets/images/AssetMantle Icon GIFs/Sell.gif")" data-src="@constants.CommonConfig.webAppUrl.concat(s"/cdn-cgi/image/q=10,f=avif/assets/images/AssetMantle Icon GIFs/Sell.gif")" class="buy-sell-img"/>

                            </div>
                            <div class="info-label">
                            @Messages(constants.View.BUY_SELL)
                            </div>
                        </div>
                        <div class="info-next-step-image">
                            <img class="lazyload" src="@routes.Assets.versioned("images/Union.png")" data-src="@routes.Assets.versioned("images/Union.png")"/>
                        </div>
                        <div class="info-step">
                            <div class="info-image">
                                <img class="lazyload" src="@constants.CommonConfig.webAppUrl.concat(s"/cdn-cgi/image/anim=false,q=20,f=avif,blur=10/assets/images/AssetMantle Icon GIFs/Engage.gif")" data-src="@constants.CommonConfig.webAppUrl.concat(s"/cdn-cgi/image/q=10,f=avif/assets/images/AssetMantle Icon GIFs/Engage.gif")" class="engage-img"/>

                            </div>
                            <div class="info-label">
                            @Messages(constants.View.ENGAGE)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-step-button">
                    <button></button>
                </div>
            </div>
        </section>
        <section class="smooth-scroll-section">
                <!-- Landing Page Info Section 2 -->
            <div class="landing-page-info-section-2 section">
                <div class="info-title">
                    <h2>@Messages(constants.View.ASSETMANTLE_DIFFERENCE_SECTION_TITLE)</h2>
                    <p>@Messages(constants.View.ASSETMANTLE_DIFFERENCE_SECTION_SUBTITLE)</p>
                </div>
                <div class="info-card-container">
                    <div class="cards">
                        <div class="card c1">
                            <div class="card-image">
                                <img class="lazyload" src="@constants.CommonConfig.webAppUrl.concat(s"/cdn-cgi/image/anim=false,q=20,f=avif,blur=10/assets/images/AssetMantle Icon GIFs/Multi chain access.gif")" data-src="@routes.Assets.versioned("images/AssetMantle Icon GIFs/Multi chain access.gif")"/>
                            </div>
                            <div class="card-detail">
                                <h2>@Messages(constants.View.FEATURE_BLOCK_TITLE_1)</h2>
                                <p>@Messages(constants.View.FEATURE_BLOCK_PARAGRAPH_1)</p>
                            </div>
                        </div>
                        <div class="card c2">
                            <div class="card-image">
                                <img class="lazyload" src="@constants.CommonConfig.webAppUrl.concat(s"/cdn-cgi/image/anim=false,q=20,f=avif,blur=10/assets/images/AssetMantle Icon GIFs/Negligible minting fee final.gif")" data-src="@routes.Assets.versioned("images/AssetMantle Icon GIFs/Negligible minting fee final.gif")" />
                            </div>
                            <div class="card-detail">
                                <h2>@Messages(constants.View.FEATURE_BLOCK_TITLE_2)</h2>
                                <p>@Messages(constants.View.FEATURE_BLOCK_PARAGRAPH_2)</p>
                            </div>
                        </div>
                        <div class="card c3">
                            <div class="card-image">
                                <img class="lazyload" src="@constants.CommonConfig.webAppUrl.concat(s"/cdn-cgi/image/anim=false,q=20,f=avif,blur=10/assets/images/AssetMantle Icon GIFs/Multiple payments.gif")" data-src="@routes.Assets.versioned("images/AssetMantle Icon GIFs/Multiple payments.gif")"/>
                            </div>
                            <div class="card-detail">
                                <h2>@Messages(constants.View.FEATURE_BLOCK_TITLE_3)</h2>
                                <p>@Messages(constants.View.FEATURE_BLOCK_PARAGRAPH_3)</p>
                            </div>
                        </div>
                        <div class="card c4">
                            <div class="card-image">
                                <img class="lazyload" src="@constants.CommonConfig.webAppUrl.concat(s"/cdn-cgi/image/anim=false,q=20,f=avif,blur=10/assets/images/AssetMantle Icon GIFs/Complete customisation.gif")" data-src="@routes.Assets.versioned("images/AssetMantle Icon GIFs/Complete customisation.gif")"/>
                            </div>
                            <div class="card-detail">
                                <h2>@Messages(constants.View.FEATURE_BLOCK_TITLE_4)</h2>
                                <p>@Messages(constants.View.FEATURE_BLOCK_PARAGRAPH_4)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="smooth-scroll-section section-footer">
        @footer()
        </section>
    </div>

}