@(user:String = "")(implicit messagesProvider: MessagesProvider)

<div class="wrapper">
    <nav>
        <input type="checkbox" id="show-search"/>
        <input type="checkbox" id="show-menu"/>
        <label for="show-menu" class="menu-icon"></label>
        <div class="content">
            <div class="logo"><a href="#"><img class="lazyload" src="@routes.Assets.versioned("images/mantlePlaceLogo.svg")" data-src="@routes.Assets.versioned("images/mantlePlaceLogo.svg")" class="logo"/></a></div>
            <ul class="links">
                <li><a href="#">@Messages(constants.View.EXPLORE)</a>
                    <ul>
                        <li>
                            <div class="disable">@Messages(constants.View.COMING_SOON)</div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="desktop-link">@Messages(constants.View.CREATE)</a>
                    <input type="checkbox" id="show-features">
                    <label for="show-features">@Messages(constants.View.CREATE)</label>
                    <ul>
                        <li>
                            <div class="disable">@Messages(constants.View.COMING_SOON)</div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">@Messages(constants.View.SUPPORT)</a>
                    <ul>
                        <li>
                            <div class="disable">@Messages(constants.View.COMING_SOON)</div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="right-menu">
            <ul class="d-flex flex-row gap-4 align-items-center mb-0 links">
                <li>
                    @user
                </li>
                <li class="user-wallet">
                    <a href="https://wallet.assetmantle.one/" target="_blank">
                        <img class="lazyload" src="@routes.Assets.versioned("images/icon/wallet.png")" class="wallet"/>
                    </a>
                </li>
                <li>
                    <img class="lazyload" src="@routes.Assets.versioned("images/icon/logout.png")" class="logout" width="22" height="22"/>
                </li>
            </ul>
        </div>

        <form action="#" class="search-box">
            <input type="text" placeholder="Type Something to Search..." required/>
            <button type="submit" class="go-icon"></button>
        </form>
    </nav>
</div>