@()(implicit messagesProvider: MessagesProvider)
<div class="card border-0">
    <div class="card-img">
        <img src="@routes.Assets.versioned("images/temp/thumbnail.png")" class="w-100"/>
    </div>
    <div class="nft-detail p-3">
        <div class="d-flex flex-row gap-2 nft-creator-detail">
            <div class="creator-profile">
                <img src="@routes.Assets.versioned("images/tempUserProfile.png")" class="rounded-circle" width="34" height="34"/>
            </div>
            <div class="d-flex flex-column">
                <span class="creator-name">NFT Name</span>
                <span class="creator-collection-name">Collection Name</span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row gap-1 align-items-center mt-3">
                <div class=""><img src="@routes.Assets.versioned("images/NFTCard/token.png")" width="24" height="27"/></div>
                <div class="nft-mantle-price">--</div>
                <div class="nft-dollar-price">($--)</div>
            </div>
            <div class="d-flex align-items-center gap-1 mt-3">
                <div class=""><img src="@routes.Assets.versioned("images/NFTCard/like.png")" width="16" height="16"/></div>
                <div class="nft-likes">--</div>
            </div>
        </div>
    </div>
    <div class="m-0 nft-separator"></div>
    <div class="d-flex flex-row align-items-center justify-content-between m-3 nft-bottom">
        <div class="setting">
                <!--<img src="@routes.Assets.versioned("images/NFTCard/meatballMenu.png")"/>-->
        </div>
        <div class="buy-now-btn">@Messages(constants.View.BUYNOW)</div>
    </div>
</div>