@import helper._
@import views.html.base.buttons._
@import views.html.base.forms._

@(formTemplate: constants.Form, formData: Form[_], showBackButton: Boolean = false, closeButton:Boolean = true, showSubtitle: Boolean = true, showScreen:String = "", hideScreen:String = "", isModal:Boolean = false, submitDisable:Boolean = false, target:String = "modal-content", customSubmit: JavaScript = JavaScript(""), runBeforeSubmit: JavaScript = JavaScript(""))(fieldset: Html)(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)

@form(action = formTemplate.post, Symbol("onkeypress") -> "submitFormOnEnter(event,this)") {
@*    <fieldset>*@
    @if(showSubtitle) {
        @if(showBackButton){
            <div class="header-with-icon">
                <div class="form-top">
                    <div class="title-icon back-button-icon" onclick="showHideModalScreen('@showScreen', '@hideScreen')">
                        <img src="@routes.Assets.versioned("images/icon/backArrow.png")"/>
                    </div>
                    <div class="title-text">@Messages(formTemplate.title)</div>
                    @if(closeButton){
                        <a class="form-close-btn close-modal" onclick="closeModal()"></a>
                    }
                </div>
                @if(showSubtitle){
                    <div class="form-sub-title" style="margin-bottom: 24px;">@Messages(formTemplate.subTitle)</div>
                }
            </div>
        } else{
            <div class="header">
                <div class="form-top">
                    <div class="form-title">@Messages(formTemplate.title)</div>
                    <a class="form-close-btn close-modal" onclick="closeModal()"></a>
                </div>
                @if(showSubtitle){
                    <div class="form-sub-title">@Messages(formTemplate.subTitle)</div>
                }
            </div>
        }
    }else{
        @if(showBackButton){
            <div class="header-with-icon">
                <div class="form-top">
                    <div class="title-icon back-button-icon" onclick="showHideModalScreen('@showScreen', '@hideScreen')">
                        <img src="@routes.Assets.versioned("images/icon/backArrow.png")"/>
                    </div>
                    <div class="title-text">@Messages(formTemplate.title)</div>
                    @if(closeButton){
                        <a class="form-close-btn close-modal" onclick="closeModal()"></a>
                    }
                </div>
            </div>
        } else{
            <div class="header">
                <div class="form-top">
                    <div class="form-title">@Messages(formTemplate.title)</div>
                    <a class="form-close-btn close-modal" onclick="closeModal()"></a>
                </div>
            </div>
        }
    }
    @if(formData.hasGlobalErrors) {
        <ul id="formGlobalErrors">

            <div class="toast active">

                <div class="toast-content">
@*                    <i class="fas fa-solid fa-check check"></i>*@
                    <img src="@routes.Assets.versioned("images/icon/error.png")" class="check"/>

                    <div class="message">
                        <span class="text text-1">Error</span>
                        @for(error <- formData.globalErrors) {
                            <li>
                                <span class="text text-2">@error.format</span>
                            </li>
                        }

                    </div>
                </div>
            </div>


        </ul>
    }

        <div id="formBody">
            @CSRF.formField
            @fieldset

            <div id="formSubmitButton">
            @if(customSubmit != JavaScript("")) {
                @commonJavascriptButton(formTemplate.submit, customSubmit)
            } else {
                @if(submitDisable){
                    @commonJavascriptButton(formTemplate.submit, JavaScript(s"$runBeforeSubmit;" + s"submitForm('${isModal}', this, '${target}')"), Symbol("id") -> formTemplate.submit.replace("../../../../public", "_"), Symbol("class") -> "disable")
                }else{
                    @commonJavascriptButton(formTemplate.submit, JavaScript(s"$runBeforeSubmit;" + s"submitForm('${isModal}', this, '${target}')"), Symbol("id") -> formTemplate.submit.replace("../../../../public", "_"))
                }

            }
            </div>
        </div>
@*    </fieldset>*@
}
