@import views.html.base.buttons._
@import views.html.base.form._
@import helper._

@(formTemplate: constants.Form, formData: Form[_], targetElementID: String, approvalStatus: Option[Boolean])(fieldset: Html)(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)

<script src="@routes.Assets.versioned("../../../../public/javascripts/verifyReject.js")" type="text/javascript"></script>

@form(action = formTemplate.post, Symbol("onkeypress") -> "submitFormOnEnter(event,this)") {
    <fieldset class="cmuk-fieldset cmuk-form-stacked">
        @CSRF.formField
        @fieldset
        @commonCheckbox(formData, constants.FormField.STATUS, Symbol("containerDivClass") -> "hidden")
        @if(formData.hasGlobalErrors) {
            <ul class="signUpErrorList">
            @for(error <- formData.globalErrors) {
                <li class="error">@error.format</li>
            }
            </ul>
        }
        @approvalStatus match {
            case Some(status: Boolean) => {
                @if(status) {
                    <span cmuk-icon="check"></span>
                    @commonJavascriptButton(constants.View.Button.REJECT, JavaScript(s"verifyReject(this,'${targetElementID}',false)"), 'class -> "cmuk-button-danger cmuk-button-small")
                } else {
                    <span cmuk-icon="close"></span>
                    @commonJavascriptButton(constants.View.Button.APPROVE, JavaScript(s"verifyReject(this,'${targetElementID}',true)"), 'class -> "cmuk-button-success cmuk-button-small")
                }
            }
            case None => {
                @commonJavascriptButton(constants.View.Button.APPROVE, JavaScript(s"verifyReject(this,'${targetElementID}',true)"), 'class -> "cmuk-button-success cmuk-button-small")
                @commonJavascriptButton(constants.View.Button.REJECT, JavaScript(s"verifyReject(this,'${targetElementID}',false)"), 'class -> "cmuk-button-danger cmuk-button-small")
            }
        }
    </fieldset>
}