@import helper._
@import constants.FormField.IntFormField

@(formData: Form[_], formField: IntFormField, step: Option[Int] = None, fieldClass: Option[String] = None, fieldID: Option[String] = None, required: Boolean = true)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@Messages(formField.name): <span id='@Seq(formField.name, "Value").mkString("")'>@formField.minimumValue</span>
@input(formData(formField.name)) { (id, name, value, args) =>
    <input type='range' name='@name' id='@fieldID.getOrElse(id)' class='@fieldClass.getOrElse("cmuk-range")' value='@formField.minimumValue' step='@step.getOrElse(1)' min='@formField.minimumValue' max='@formField.maximumValue' required='@required' oninput='showRangeSliderValue(this, "@Seq(formField.name, "Value").mkString("")")' @toHtmlArgs(args)>
}
<script src="@routes.Assets.versioned("../../../../public/javascripts/rangeSlider.js")" type="text/javascript"></script>