@import views.html.base.form._
@import views.html.helper.repeatWithIndex
@import views.nft.companion.AddProperties
@import models.common.Collection.Property

@(addPropertiesForm: Form[AddProperties.Data] = AddProperties.form, collectionId: String, fileName: String, collectionProperties: Seq[Property])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.NFT_ADD_PROPERTIES, addPropertiesForm) {
    @commonInputText(addPropertiesForm, constants.FormField.COLLECTION_ID, Symbol("value") -> collectionId, Symbol("containerDivClass") -> "hidden")
    @commonInputText(addPropertiesForm, constants.FormField.NFT_FILE_NAME, Symbol("value") -> fileName, Symbol("containerDivClass") -> "hidden")
    @defining(Option(constants.FormField.NFT_PROPERTIES)) { implicit nestedFormField =>
        <div class="propertyContainer">
            @repeatWithIndex(addPropertiesForm(constants.FormField.NFT_PROPERTIES.name), min = collectionProperties.length) { (propertyField, index) =>
                @defining(Option(propertyField)) { implicit sequentialFormField =>
                    <div id='@Seq(constants.View.COLLECTION_PROPERTY, index).mkString("_")' class="singlePropertyContainer active">
                        @commonInputText(addPropertiesForm, constants.FormField.NFT_PROPERTY_NAME, Symbol("value") -> collectionProperties(index).name)
                        @commonInputText(addPropertiesForm, constants.FormField.NFT_PROPERTY_VALUE, Symbol("value") -> collectionProperties(index).`value`)
                        @collectionProperties(index).meta
                        @collectionProperties(index).mutable
                        @collectionProperties(index).required
                    </div>
                }
            }
        </div>
    }
}