@(nft: master.NFT)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class="sticky-top item-sticky">
    <div class="card leftInfoCard">
        <div class="title">@nft.name</div>
        <div class="description">
            @nft.description
        </div>
        <div class="separator"></div>
        <div class="categorySection">
            <div class="title">@Messages(constants.View.NFT_CATEGORY_TITLE)</div>
            <div class="d-flex flex-row flex-wrap justify-content-between categoryList">
                <div class="mt-2 categoryBadge">@Messages(constants.View.ART)</div>
            </div>
        </div>
    </div>
</div>