@import views.html.base.form._
@import views.nft.companion.NFTBasicDetail
@import views.html.base.commonUploadFile
@import views.html.base.buttons._

@(nftBasicDetailForm: Form[NFTBasicDetail.Data] = NFTBasicDetail.form, collectionId: String, fileName: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.NFT_BASIC_DETAIL, nftBasicDetailForm) {
    @commonInputText(nftBasicDetailForm, constants.FormField.NFT_NAME)
    @commonDescriptionText(nftBasicDetailForm, constants.FormField.NFT_DESCRIPTION)
    @commonInputText(nftBasicDetailForm, constants.FormField.COLLECTION_ID, Symbol("value") -> collectionId, Symbol("containerDivClass") -> "hidden")
    @commonInputText(nftBasicDetailForm, constants.FormField.NFT_FILE_NAME, Symbol("value") -> fileName, Symbol("containerDivClass") -> "hidden")

    @commonPrimaryButton(constants.View.NEXT, JavaScript(s"getForm(jsRoutes.controllers.NFTController.tagsForm('${collectionId}','${fileName}'))"))
}