@import controllers.actions.LoginState
@import views.html.base.buttons._
@import views.html.base.form._

@(collectionList: Seq[(String, String)])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div class="mb-4 modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">@Messages(constants.View.CREATE_NFT_TITLE)</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()">
                &times;
    </button>
</div>

@* @collectionList.map(_._1) *@
@* @collectionList.map(_._2) *@

<div class="createNft">
    <span class="createNftSelectCollection">@Messages(constants.View.CREATE_NFT_FIELD_SELECT_COLLECTION_LABEL)</span>
    <div class="mt-1">
        @commonDropDown(constants.View.CREATE_NFT_FIELD_SELECT_COLLECTION, collectionList.map(_._2))
    </div>

    <div class="mt-3">
        <div class="footerMessage">
            <span>@Messages(constants.View.CREATE_NFT_NEW_COLLECTION_LABEL)</span>
            <a class="link" onclick="getForm(@utilities.JsRoutes.getJsRouteString(constants.Form.CREATE_COLLECTION.get, ""))">@Messages(constants.View.CREATE_NFT_NEW_COLLECTION_LINK)</a>
        </div>
    </div>

    <div class="horizontal-align">
@*//        @commonPrimaryButton(constants.View.NEXT, JavaScript(s"getForm(jsRoutes.controllers.NFTController.uploadNFTFileForm('${collectionList.head._1}'))"))*@
        @commonPrimaryButton(constants.View.NEXT, JavaScript(s"getForm(jsRoutes.controllers.NFTController.tagsForm('${collectionList.head._1}','test.png'))"))
    </div>
</div>