@import views.html.base.form._
@import views.nft.companion.NFTTags

@(nftTagsForm: Form[NFTTags.Data] = NFTTags.form, collectionId: String, fileName: String, tags: Seq[String])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.NFT_TAGS, nftTagsForm, submitDisable = false, showBackButton = true) {
    @commonInputText(nftTagsForm, constants.FormField.NFT_TAGS, Symbol("class") -> "hidden", Symbol("value") -> tags.mkString(","))
    @commonInputText(nftTagsForm, constants.FormField.COLLECTION_ID, Symbol("value") -> collectionId, Symbol("containerDivClass") -> "hidden")
    @commonInputText(nftTagsForm, constants.FormField.NFT_FILE_NAME, Symbol("value") -> fileName, Symbol("containerDivClass") -> "hidden")

    <div class="hashtagWrapper">
        <div class="content">
            <label for="hashtagField">@Messages(constants.View.CREATE_NFT_TAG_LABEL)</label>
            <ul id="hashtagList" class="mt-1">
                <input type="text" id="hashtagField"/>
            </ul>
        </div>
        <div class="mt-1 view">
            <p><span>@constants.NFT.Tags.MaximumAllowed</span> @Messages(constants.View.CREATE_NFT_TAG_REMAINING_LABEL)</p>
        </div>
    </div>
}
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/nfts/createNft.js")"></script>
@if(tags.nonEmpty) {
    @tags.map { tag =>
        <script>
            addProperty('@tag');
        </script>
    }
}
<script>
    setTagBackButton('@collectionId','@fileName');
</script>