@import views.whiteList.companion.Invite
@import views.html.base.form._

@(inviteForm: Form[Invite.Data] = Invite.form, whiteListId: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.WHITE_LIST_INVITE, inviteForm) {
    @commonInputText(inviteForm, constants.FormField.WHITE_LIST_ID, Symbol("value") -> whiteListId)
    @commonInputInt(inviteForm, constants.FormField.WHITE_LIST_INVITE_START_EPOCH)
    @commonInputInt(inviteForm, constants.FormField.WHITE_LIST_INVITE_END_EPOCH)
}
