@import views.html.nft._

@(collection: master.Collection)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div>
    <script>
        componentResource('leftContent', jsRoutes.controllers.CollectionController.info('@collection.id'));
        componentResource('centerContent', jsRoutes.controllers.CollectionController.collectionNFTs('@collection.id'));
        checkAndPushState(jsRoutes.controllers.CollectionController.viewCollection('@collection.id').url, '@collection.id', "collection");
    </script>
</div>
