@import views.html.base.nft._

@(collection: master.Collection, nfts: Seq[master.NFT])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="profileContainer">
    <div class="item item-center">
        <div class="profile-card">
            <div class="profiles-container">
                <div class="nft-list me-3">
                    <div class="header-with-icon">
                        <div class="d-flex flex-row align-items-center gap-2 form-top">
                            <div class="title-icon back-button-icon">
                                <img src="@routes.Assets.versioned("images/icon/backArrow.png")"/>
                            </div>
                            <div class="collection-link">@collection.name</div>
                        </div>
                    </div>
                    <div class="nft-list">
                        <div class="row">
                            @nfts.map { nft =>
                                @commonNFTCard(collection, nft)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        checkAndPushState(jsRoutes.controllers.CollectionController.viewCollection().url, '@collection.id', "collection");
</script>
