@(collection: master.Collection, onClickFunction: JavaScript)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<a onclick="@onClickFunction">
    <div class="single-profile-card commonCollectionCard artCollection">
        <div class="profile-section">
            <div id="collectionCoverImage_@collection.id">
                <div class="hero-img">
                @collection.getCoverFileURL.fold {
                    <img src="@routes.Assets.versioned("images/defaultCollectionCover.png")"/>
                } { uri =>
                    <img src="@uri">
                }
                </div>
            </div>
            <div class="profile-detail">
                <div id="collectionProfileImage_@collection.id">
                    <div class="profile-img">
                    @collection.getProfileFileURL.fold {
                        <img src="@routes.Assets.versioned("images/defaultCollectionProfile.png")"/>
                    } { uri =>
                        <img src="@uri">
                    }
                    </div>
                </div>
                <div id="content">
                    <h1>@collection.name</h1>
                    <a href="/profile/@collection.creatorId">
                        <p>
                        @Seq("@", collection.creatorId).mkString
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</a>