@main("Create New NFT Screen 1"){
    <div class="collections-container">
        <div class="collections-left-panel">
            <div class="number-timeline-container">
                <ul class="timeline">
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">Choose Collection</div>
                    </li>
                    <li class="tl-item active" ng-repeat="item in retailer_history">
                        <div class="item-title">Create NFT</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">Mint NFT</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">Sell NFT</div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="collections-right-panel">
            <div class="collections-right-panel-content">
                <div class="collections-right-panel-header">Create New NFT</div>

                <main class="collections-form">
                    <div class="collections-form-section-label">
                        <span>Basic Information</span>
                    </div>

                    <div class="form-field">
                        <div class="form-field-top">
                            <label for="thumbnail">Category</label>
                        </div>
                        <div class="form-field-bottom">
                            <span class="dropdown-el">
                                <input type="radio" name="sortType" value="Relevance" checked="checked" id="disable-label"><label for="disable-label">Select Category</label>
                                <input type="radio" name="sortType" value="Popularity" id="optionBoolean"><label for="optionBoolean">Boolean</label>
                                <input type="radio" name="sortType" value="PriceIncreasing" id="optionString"><label for="optionString">String/Character</label>
                                <input type="radio" name="sortType" value="PriceDecreasing" id="optionNumber"><label for="optionNumber">Number</label>
                            </span>
                        </div>
                    </div>

                    <div class="form-field">
                        <div class="form-field-top">
                            <label for="thumbnail">Asset</label>
                            <img src="@routes.Assets.versioned("images/info.png")" class="toolTipReference"/>
                            <a class="toolTip">
                                <span class="toolTipText">Upload your asset in any of admissible formats listed. The maximum size of an asset can be 100 MB.</span>
                            </a>
                        </div>
                        <div class="form-field-bottom">
                            <div class='file-input'>
                                <input type='file' id="thumbnail">
                                <label class='label' data-js-label>JPG, PNG, GIF, SVG</label>
                                <span class='button'>
                                    <img src="@routes.Assets.versioned("images/upload.svg")"/>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-field">
                        <div class="form-field-top">
                            <label for="externalLinks">External Links (Optional)</label>
                        </div>
                        <div class="form-field-bottom">
                            <input type="text" id="externalLinks" placeholder="https://example.com"/>
                        </div>
                    </div>

                    <div class="form-field">
                        <div class="form-field-top">
                            <label for="description">Description</label>
                        </div>
                        <div class="form-field-bottom">
                            <textarea id="description" placeholder="Describe the collections in a few words"></textarea>
                            <div class="textarea-bottom-text">70/200 characters remaining</div>
                        </div>
                    </div>

                    <div class="collections-form-section-label">
                        <span>Tags</span>
                        <img src="@routes.Assets.versioned("images/info.png")" class="toolTipReference"/>
                        <a class="toolTip">
                            <span class="toolTipText">Use hashtags to boost discoverability of NFTs.</span>
                        </a>
                    </div>

                    <div class="collections-form-tag-field">
                        <div>
                        <div class="form-field-2-columns">
                            <div class="form-field-2-columns-row-main">
                                <div class="row">
                                    <div class="form-field-column">
                                        <div class="form-field-top">
                                            &nbsp;
                                        </div>
                                        <div class="form-field-bottom">
                                            <input type="text" id="tagName" placeholder="Hashtag 1"/>
                                        </div>
                                    </div>
                                    <img src="@routes.Assets.versioned("images/delete.svg")" class="delete-property" onclick="removeCollectionTag(this)"/>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="add-property" onclick="addCollectionTag()">
                        <img src="@routes.Assets.versioned("images/addProperty.svg")"/>
                        <div class="add-property-msg">Add more tags</div>
                    </div>

                    <div class="collections-form-section-label">
                        <span>Properties</span>
                        <img src="@routes.Assets.versioned("images/info.png")" class="toolTipReference"/>
                        <a class="toolTip">
                            <span class="toolTipText">Each NFT has some perceptible or imperceptible traits that are specified as "Properties". These properties establish the rarity of the NFT in the collections.</span>
                        </a>
                    </div>
                    <div class="form-field">
                        <div class="form-field-2-columns">
                            <div class="form-field-2-columns-row-main">
                                <div class="row">
                                    <div class="form-field-column">
                                        <div class="form-field-top">
                                            <label for="propertyName">Name</label>
                                        </div>
                                        <div class="form-field-bottom">
                                            <input type="text" id="propertyName" placeholder="Cigar"/>
                                        </div>
                                    </div>
                                    <div class="form-field-column">
                                        <div class="form-field-top">
                                            <label for="thumbnail">Value</label>
                                        </div>
                                        <div class="form-field-bottom">
                                            <span class="dropdown-el">

                                                <input type="radio" name="sortType" value="Relevance" checked="checked" id="option-true"><label for="option-true">True</label>
                                                <input type="radio" name="sortType" value="Relevance" checked="checked" id="option-false"><label for="option-false">False</label>

                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-field-2-columns">
                            <div class="form-field-2-columns-row-main">
                                <div class="row">
                                    <div class="form-field-column">
                                        <div class="form-field-top">
                                            <label for="propertyName">Name</label>
                                        </div>
                                        <div class="form-field-bottom">
                                            <input type="text" id="propertyName" placeholder="Eyes"/>
                                        </div>
                                    </div>
                                    <div class="form-field-column">
                                        <div class="form-field-top">
                                            <label for="thumbnail">Value</label>
                                        </div>
                                        <div class="form-field-bottom">
                                            <input type="text" placeholder="Type"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-field-2-columns">
                            <div class="form-field-2-columns-row-main">
                                <div class="row">
                                    <div class="form-field-column">
                                        <div class="form-field-top">
                                            <label for="propertyName">Name</label>
                                        </div>
                                        <div class="form-field-bottom">
                                            <input type="text" id="propertyName" placeholder="Happiness"/>
                                        </div>
                                    </div>
                                    <div class="form-field-column">
                                        <div class="form-field-top">
                                            <label for="thumbnail">Value</label>
                                        </div>
                                        <div class="form-field-bottom">
                                            <span class="dropdown-el">
                                                <input type="radio" name="sortType" value="Relevance" checked="checked" id="disable-label"><label for="disable-label">Select Type</label>
                                                <input type="radio" name="sortType" value="Popularity" id="optionBoolean"><label for="optionBoolean">Boolean</label>
                                                <input type="radio" name="sortType" value="PriceIncreasing" id="optionString"><label for="optionString">String/Character</label>
                                                <input type="radio" name="sortType" value="PriceDecreasing" id="optionNumber"><label for="optionNumber">Number</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-property" onclick="addCollectionProperty()">
                        <img src="@routes.Assets.versioned("images/addProperty.svg")"/>
                        <div class="add-property-msg">Add more properties</div>
                    </div>

                    <div class="collections-form-section-label">
                        <span>Sale Details</span>
                    </div>

                    <div class="form-field">
                        <div class="form-field-top">
                            <label for="thumbnail">Type of Sale</label>
                        </div>
                        <div class="form-field-bottom">
                            <span class="dropdown-el">
                                <input type="radio" name="sortType" value="Relevance" checked="checked" id="disable-label"><label for="disable-label">Select Category</label>
                                <input type="radio" name="sortType" value="Popularity" id="optionBoolean"><label for="optionBoolean">Boolean</label>
                                <input type="radio" name="sortType" value="PriceIncreasing" id="optionString"><label for="optionString">String/Character</label>
                                <input type="radio" name="sortType" value="PriceDecreasing" id="optionNumber"><label for="optionNumber">Number</label>
                            </span>
                        </div>
                    </div>

                    <div class="form-field">
                        <div class="form-field-top">
                            <label for="externalLinks">Sale Price</label>
                            <img src="@routes.Assets.versioned("images/info.png")" class="toolTipReference"/>
                            <a class="toolTip">
                                <span class="toolTipText">Enter value in whole numbers (1, 69, 420, etc.) or decimals (0.1, 6.9, 4.2, etc.).
                                    E.g.: Enter 10,000.69 as "10000.69"</span>
                            </a>
                        </div>
                        <div class="form-field-bottom">
                            <input type="text" placeholder="Mention selling price in $MNTL"/>
                        </div>
                    </div>

                    <div class="form-field">
                        <div class="form-field-top">
                            <label for="externalLinks">Creator fee (Royalty)</label>
                        </div>
                        <div class="form-field-bottom">
                            <input type="text" placeholder="Maximum creator fee percentage: 50%"/>
                        </div>
                    </div>

                    <div class="form-field">
                        <div class="form-field-top">
                            <label for="externalLinks">Duration</label>
                        </div>
                        <div class="form-field-bottom">
                            <input type="text" name="daterange" placeholder="DD/MM/YYYY-DD/MM/YYYY" class="dateRangeField" onclick="setDateRange()"/>
                        </div>
                    </div>

                    <div class="form-bottom">
                        <div class="form-bottom-msg">
                            <div class="form-bottom-text">Do you want to set this content as NSFW?</div>
                            <img src="@routes.Assets.versioned("images/info.png")" class="toolTipReference"/>
                            <a class="toolTip">
                                <span class="toolTipText">If your work is NSFW, like violence, pornography and other explicit content for adults, you must mark it so. This will help AssetMantle provide a safe search experience to all.</span>
                            </a>
                        </div>
                        <div class="form-bottom-switch-btn">
                            <input type="checkbox" id="switch" class="form-bottom-switch"/>
                            <label for="switch">Toggle</label>
                        </div>
                    </div>
                </main>

                <div class="grid-button">
                    <div class="form-button">
                        <button class="form-cancel-button">Save Draft</button>
                        <button class="form-next-button disable-button">Next</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

}