@main("Create New Collection Save Draft") {
    <div class="container">
        <div class="form-container">
            <div class="main-container">
                <div class="forms">
                    <div class="form">
                        <div class="form-top">
                            <div class="form-top-title">
                                <div class="form-top-title-text">Save Draft</div>
                            </div>
                            <a class="form-close-btn" href="#"></a>
                        </div>
                        <div class="msg-4">
                            Click confirm to save draft.
                        </div>
                        <div class="form-button">
                            <button class="form-next-button">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}