@import views.html.base.form._
@import views.collection.companion.Create

@(createForm: Form[Create.Data] = Create.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.CREATE_COLLECTION, createForm) {
    @commonInputText(createForm, constants.FormField.COLLECTION_NAME)
    @commonDescriptionText(createForm, constants.FormField.COLLECTION_DESCRIPTION)
    @commonSelect(createForm, constants.FormField.COLLECTION_CATEGORY)
    @views.html.base.form.commonDropDown(constants.View.ART, Seq(constants.View.ART, constants.View.PHOTOGRAPHY, constants.View.MISCELLANEOUS))
    @commonInputURL(createForm, constants.FormField.COLLECTION_WEBSITE, Symbol("required") -> false)
    @commonInputURL(createForm, constants.FormField.COLLECTION_TWITTER, Symbol("required") -> false)
    @commonInputURL(createForm, constants.FormField.COLLECTION_INSTAGRAM, Symbol("required") -> false)
}