@main("Mint NFT"){
    <div class="collection-container">
        <div class="collection-left-panel">
            <div class="number-timeline-container">
                <ul class="timeline">
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">Choose Collection</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">Create NFT</div>
                    </li>
                    <li class="tl-item active" ng-repeat="item in retailer_history">
                        <div class="item-title">Mint NFT</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">Sell NFT</div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="collection-right-panel">
            <div class="collection-right-panel-content">
                <div class="collection-right-panel-header">Mint NFT</div>

                <main class="collection_main bg-grid">
                    <article class="mint_card">
                        <div class="mint_card_top">
                            <div class="mint_card_top_title">Mint Now</div>
                            <div class="mint_card_top_label">Coming Soon</div>
                        </div>
                        <div class="mint_card_bottom">
                            <div class="mint_card_msg">Mint NFT at negligible costs. Ready to sell instantly.</div>
                        </div>
                    </article>
                    <article class="mint_card mint_available" onclick="collectionCardSelect(this)">
                        <div class="mint_card_top">
                            <div class="mint_card_top_title">Mint Later</div>
                        </div>
                        <div class="mint_card_bottom">
                            <div class="mint_card_msg">List NFT for sale now and mint anytime later to sell.</div>
                        </div>
                    </article>
                </main>

                <div class="grid-button">
                    <div class="form-button">
                        <button class="form-cancel-button disable-button-no-bg">Save Draft</button>
                        <button class="form-next-button disable-button">Next</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

}