@main("NFT Created Success"){
    <div class="container">
        <div class="form-container">
            <div class="main-container">
                <div class="forms">
                    <div class="form">
                        <div class="form-top">
                            <div class="form-success-icon">
                                <div class="form-success-animation">
                                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                        <circle class="checkmark-circle" cx="26" cy="26" r="25" fill="none" />
                                        <path class="checkmark-check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                    </svg>
                                </div>
                            </div>
                            <a class="form-close-btn form-hidden" href="#"></a>
                        </div>
                        <div class="form-hidden">
                            <div class="form-success-message">
                                <div class="form-success-message-heading">NFT Created Successfully</div>
                                <div class="form-success-message-sub-text">NFT created and added to the collection successfully.<br>
                                    Mint the NFT to make a sale.</div>
                                <div class="form-success-message-sub-text" style="color:var(--mantle-off-white); margin-top: 20px;">Redirecting In A Few Seconds...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}