@main("Select Collection"){
    <div class="collections-container">
        <div class="collections-left-panel">
            <div class="number-timeline-container">
                <ul class="timeline">
                    <li class="tl-item active" ng-repeat="item in retailer_history">
                        <div class="item-title">Choose Collection</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">Create NFT</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">Mint NFT</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">Sell NFT</div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="collections-right-panel">
            <div class="collections-right-panel-content">
                <div class="collections-right-panel-header">Select Collection</div>
                <div class="collections-right-panel-description">AssetMantle requires any NFT to be part of a collections. Please create a new collections or choose from the existing ones.</div>

                <main class="collection_main bg-grid">
                    <article class="collection_card" onclick="collectionCardSelect(this)">
                        <div class="card_img">
                            <img src="@routes.Assets.versioned("images/createcollection.svg")"/>
                        </div>
                        <div class="card_label">
                            <p>Create new collections</p>
                        </div>
                    </article>
                    <article class="collection_card" onclick="collectionCardSelect(this)">
                        <div class="card_img">
                            <img src="@routes.Assets.versioned("images/nftnotavailable.svg")"/>
                        </div>
                        <div class="card_label">
                            <p>Collection 1</p>
                        </div>
                    </article>
                    <article class="collection_card" onclick="collectionCardSelect(this)">
                        <div class="card_img">
                            <img src="@routes.Assets.versioned("images/nftnotavailable.svg")"/>
                        </div>
                        <div class="card_label">
                            <p>Collection 2</p>
                        </div>
                    </article>
                    <article class="collection_card" onclick="collectionCardSelect(this)">
                        <div class="card_img">
                            <img src="@routes.Assets.versioned("images/nftnotavailable.svg")"/>
                        </div>
                        <div class="card_label">
                            <p>Collection 3</p>
                        </div>
                    </article>
                    <article class="collection_card" onclick="collectionCardSelect(this)">
                        <div class="card_img">
                            <img src="@routes.Assets.versioned("images/nftnotavailable.svg")"/>
                        </div>
                        <div class="card_label">
                            <p>Collection 4</p>
                        </div>
                    </article>
                </main>

                <div class="grid-button">
                    <div class="form-button">
                        <button class="form-next-button disable-button">Next</button>
                    </div>
                </div>

@*                <div class="collections-grid">*@
@*                    <div class="collections-grid-box new-collections">*@
@*                        <img src="@routes.Assets.versioned("images/createcollection.svg")"/>*@
@*                        <span class="collections-grid-box-label">Create new collections</span>*@
@*                    </div>*@
@*                    <div class="collections-grid-box">*@
@*                        <img src="@routes.Assets.versioned("images/nftnotavailable.svg")"/>*@
@*                        <span class="collections-grid-box-label">Collection 1</span>*@
@*                    </div>*@
@*                    <div class="collections-grid-box">*@
@*                        <img src="@routes.Assets.versioned("images/nftnotavailable.svg")"/>*@
@*                        <span class="collections-grid-box-label">Collection 2</span>*@
@*                    </div>*@
@*                    <div class="collections-grid-box">*@
@*                        <img src="@routes.Assets.versioned("images/nftnotavailable.svg")"/>*@
@*                        <span class="collections-grid-box-label">Collection 3</span>*@
@*                    </div>*@
@*                </div>*@


            </div>

        </div>
    </div>

}