<div class="card profile-card">
    <div class="d-flex flex-column flex-lg-row gap-3 gap-md-2 gap-lg-3 align-items-center">
        <img src="@routes.Assets.versioned("images/tempBG.png")" class="rounded-circle" width="40" height="40"/>
        <div class="ml-3 user-profile-name">User568</div>
    </div>
    <div class="row p-0 user-address-box">
        <div class="col-10 p-0 user-address-data">mantle10...x4hg4</div>
        <div class="col-2 text-end copy-icon"><img src="@routes.Assets.versioned("images/copy.png")" class="profile-icon"/></div>
    </div>
    <div class="user-join-date">Joined April 2022</div>
    <div class="user-profile-data">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
    </div>
    <div class="separator"></div>
    <div class="row mt-3">
        <div class="col-2 col-md-2 text-end offset-md-3 offset-4"><a href="#"><img src="@routes.Assets.versioned("images/icon/website.png")" class="profile-icon"/></a></div>
        <div class="col-2 col-md-2 text-end"><a href="#"><img src="@routes.Assets.versioned("images/icon/twitter.png")" class="profile-icon"/></a></div>
        <div class="col-2 col-md-2 text-end"><a href="#"><img src="@routes.Assets.versioned("images/icon/instagram.png")" class="profile-icon"/></a></div>
        <div class="col-2 col-md-2 text-end"><a href="#"><img src="@routes.Assets.versioned("images/icon/share.png")" class="profile-icon"/></a></div>
    </div>
</div>