@import views.html.base.profile.components._
<div class="profile-card">
    <div class="profile-stats">
        <ul class="p-0 m-0">
            <li>
                @singleStateBox(icon="totalNFT.png", title="Total NFT’s", value=12)
            </li>
            <li>
                @singleStateBox(icon="totalcollection.png", title="Total Collections", value=4)
            </li>
            <li>
                @singleStateBox(icon="totalsales.png", title="Total Sales", value=12)
            </li>
        </ul>
    </div>
</div>