@import views.html.base.profile.components._
@()(implicit messagesProvider: MessagesProvider)
<div class="profile-card">
    <div class="profiles-container">
        <div class="d-flex flex-xl-row flex-lg-column align-items-center justify-content-between card-header">
            <div class="left-option">
                <div class="row">
                    <div class="col mx-3 p-0">@Messages(constants.View.CREATED)</div>
                    <div class="col mx-3 p-0">@Messages(constants.View.COLLECTED)</div>
                    <div class="col mx-3 p-0 active">@Messages(constants.View.WISHLIST)</div>
                </div>
            </div>
            <div class="right-option">
                <div class="right-option-header">
                    <div class="option-with-icon">
                        <img src="@routes.Assets.versioned("images/icon/sort.png")" class="profile-icon"/>
                        @Messages(constants.View.SORT)
                    </div>
                    <div class="option-with-icon">
                        <img src="@routes.Assets.versioned("images/icon/filter.png")" class="profile-icon"/>
                        @Messages(constants.View.FILTER)
                    </div>
                    <div class="option-layout">
                        <div class="option grid-view-button active">
                            <div class="grid-icon profile-icon"></div>
                        </div>
                        <div class="option list-view-button">
                            <div class="list-icon profile-icon"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- NFT List -->
        <div class="nft-list me-3">
            <div class="collection-link">Collection Name</div>
            <div class="nft-list">
                <div class="row">
                    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4">
                        @singleNFTCard()
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4">
                        @singleNFTCard()
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4">
                        @singleNFTCard()
                    </div>
                </div>
            </div>
        </div>

        <!-- Collection List: Grid View -->
        <div class="profile-list">
            <ol class="list grid-view-filter">
@*                <li>*@
@*                    @gridViewProfileCard(cover = "tempBG.png", profile = "TempUserProfile.png", creatorName = "Beluga Cat", creatorAbout = "Consectetur adipiscing amet")*@
@*                </li>*@
@*                <li>*@
@*                    @gridViewProfileCard(cover = "tempBG.png", profile = "TempUserProfile.png", creatorName = "Beluga Cat", creatorAbout = "Consectetur adipiscing ametConsectetur adipiscing ametConsectetur adipiscing ametConsectetur adipiscing amet")*@
@*                </li>*@
@*                <li>*@
@*                    @gridViewProfileCard(cover = "tempBG.png", profile = "TempUserProfile.png", creatorName = "Beluga Cat", creatorAbout = "Consectetur adipiscing amet")*@
@*                </li>*@
@*                <li>*@
@*                    @gridViewProfileCard(cover = "tempBG.png", profile = "TempUserProfile.png", creatorName = "Beluga Cat", creatorAbout = "Consectetur adipiscing amet")*@
@*                </li>*@
@*                <li>*@
@*                    @gridViewProfileCard(cover = "tempBG.png", profile = "TempUserProfile.png", creatorName = "Beluga Cat", creatorAbout = "Consectetur adipiscing amet")*@
@*                </li>*@
@*                <li>*@
@*                    @gridViewProfileCard(cover = "tempBG.png", profile = "TempUserProfile.png", creatorName = "Beluga Cat", creatorAbout = "Consectetur adipiscing amet")*@
@*                </li>*@
@*                <li>*@
@*                    @gridViewProfileCard(cover = "tempBG.png", profile = "TempUserProfile.png", creatorName = "Beluga Cat", creatorAbout = "Consectetur adipiscing amet")*@
@*                </li>*@
@*                <li>*@
@*                    @gridViewProfileCard(cover = "tempBG.png", profile = "TempUserProfile.png", creatorName = "Beluga Cat", creatorAbout = "Consectetur adipiscing amet")*@
@*                </li>*@
@*                <li>*@
@*                    @gridViewProfileCard(cover = "tempBG.png", profile = "TempUserProfile.png", creatorName = "Beluga Cat", creatorAbout = "Consectetur adipiscing amet")*@
@*                </li>*@
@*                <li>*@
@*                    @gridViewProfileCard(cover = "tempBG.png", profile = "TempUserProfile.png", creatorName = "Beluga Cat", creatorAbout = "Consectetur adipiscing amet")*@
@*                </li>*@
            </ol>

            <!-- Collection List: List View -->
            <div class="container list-view-filter">
                <table class="table table-fixed">
                    <thead>
                        <tr>
                            <th class="col-xs-1">No.</th>
                            <th class="col-xs-2">Collection Name</th>
                            <th class="col-xs-3">Collection Description</th>
                            <th class="col-xs-2">Price</th>
                            <th class="col-xs-2">Creator</th>
                            <th class="col-xs-2">Endorsements</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>

                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">John</td>
                            <td class="col-xs-3">Doe</td>
                            <td class="col-xs-6">johndoe@@email.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="@routes.Assets.versioned("javascripts/profile/creatorProfile.js")"></script>