<div class="container p-0 sticky-top item-sticky">
    <div class="card profile-card">
        <div class="d-flex flex-row gap-3 gap-md-2 gap-lg-3 align-items-center">
            <img src="@routes.Assets.versioned("images/tempBG.png")" class="rounded-circle" width="40" height="40"/>
            <div class="ml-3 user-profile-name">User568</div>
        </div>
        <div class="row p-0 user-address-box">
            <div class="col-10 p-0 user-address-data">mantle10...x4hg4</div>
            <div class="col-2 d-flex copy-icon"><img src="@routes.Assets.versioned("images/copy.png")" class="profile-icon"/></div>
        </div>
        <div class="user-join-date">Joined April 2022</div>
        <div class="user-profile-data">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
        </div>
        <div class="separator"></div>

        <div class="row mt-3">
            <div class="col-2 col-md-2 text-end offset-md-3 offset-4"><a href="#"><img src="@routes.Assets.versioned("images/icon/website.png")" class="profile-icon"/></a></div>
            <div class="col-2 col-md-2 text-end"><a href="#"><img src="@routes.Assets.versioned("images/icon/twitter.png")" class="profile-icon"/></a></div>
            <div class="col-2 col-md-2 text-end"><a href="#"><img src="@routes.Assets.versioned("images/icon/instagram.png")" class="profile-icon"/></a></div>
            <div class="col-2 col-md-2 text-end"><a href="#"><img src="@routes.Assets.versioned("images/icon/share.png")" class="profile-icon"/></a></div>
        </div>


@*        <div class="user-profile-social">*@
@*            <ul>*@
@*                <li><a href="#"><img src="@routes.Assets.versioned("images/icon/website.png")" class="profile-icon"/></a></li>*@
@*                <li><a href="#"><img src="@routes.Assets.versioned("images/icon/twitter.png")" class="profile-icon"/></a></li>*@
@*                <li><a href="#"><img src="@routes.Assets.versioned("images/icon/instagram.png")" class="profile-icon"/></a></li>*@
@*                <li><a href="#"><img src="@routes.Assets.versioned("images/icon/share.png")" class="profile-icon"/></a></li>*@
@*            </ul>*@
@*        </div>*@
    </div>

        <!-- Creator Stats -->
    <div class="profile-card">
        <div class="profile-stats">
            <ul style="padding: 0px;">
                <li>
                    <div class="stats-card">
                        <img src="@routes.Assets.versioned("images/icon/totalNFT.png")" class="profile-icon"/>
                        <div class="stats-title">Total NFT’s</div>
                        <div class="stats-number">12</div>
                    </div>
                </li>
                <li>
                    <div class="stats-card">
                        <img src="@routes.Assets.versioned("images/icon/totalcollection.png")" class="profile-icon"/>
                        <div class="stats-title">Total Collections</div>
                        <div class="stats-number">4</div>
                    </div>
                </li>
                <li>
                    <div class="stats-card">
                        <img src="@routes.Assets.versioned("images/icon/totalsales.png")" class="profile-icon"/>
                        <div class="stats-title">Total Sales</div>
                        <div class="stats-number">12</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--
<div class="container mt-5 d-flex justify-content-center">

    <div class="card p-3">

        <h5>Popular Profiles</h5>

        <div class="d-flex justify-content-between mt-2 align-items-center">

            <div class="d-flex flex-row">

                <img src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle" width="40">

                <div class="d-flex flex-column ml-1 about">
                    <span class="font-weight-bold">Madison</span>
                    <small>585 posts</small>
                </div>

            </div>

            <button class="btn btn-outline-success btn-sm follow">Follow</button>

        </div>

        <hr>


        <div class="d-flex justify-content-between mt-2 align-items-center">

            <div class="d-flex flex-row">

                <img src="https://i.imgur.com/tmdHXOY.jpg" class="rounded-circle" width="40">

                <div class="d-flex flex-column ml-1 about">
                    <span class="font-weight-bold">Anna Sthesia</span>
                    <small>285 posts</small>
                </div>

            </div>

            <button class="btn btn-outline-success btn-sm follow">Follow</button>

        </div>

        <hr>

        <div class="d-flex justify-content-between mt-2 align-items-center">

            <div class="d-flex flex-row">

                <img src="https://i.imgur.com/C4egmYM.jpg" class="rounded-circle" width="40">

                <div class="d-flex flex-column ml-1 about">
                    <span class="font-weight-bold">Paul Moliv</span>
                    <small>585 posts</small>
                </div>

            </div>

            <button class="btn btn-outline-success btn-sm follow">Follow</button>

        </div>
    </div>
</div>

    -->

@*<div class="profile-card">*@
@*    <div class="user-profile-top">*@
@*        <div class="user-profile-pic">*@

@*                    </div>*@
@*        <div class="user-profile-name">*@
@*                        User568*@
@*        </div>*@
@*    </div>*@
@*    <div class="user-address-box">*@
@*        <div class="user-address-data">mantle10...x4hg4</div>*@
@*        <div class="copy-icon"><img src="@routes.Assets.versioned("images/copy.png")"/></div>*@
@*    </div>*@
@*    <div class="user-join-date">*@
@*                    Joined April 2022*@
@*    </div>*@
@*    <div class="user-profile-data">*@
@*                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.*@
@*    </div>*@
@*    <div class="separator"></div>*@
@*    <div class="user-profile-social">*@
@*        <ul>*@
@*            <li><a href="#"><img src="@routes.Assets.versioned("images/icon/website.png")"/></a></li>*@
@*            <li><a href="#"><img src="@routes.Assets.versioned("images/icon/twitter.png")"/></a></li>*@
@*            <li><a href="#"><img src="@routes.Assets.versioned("images/icon/instagram.png")"/></a></li>*@
@*            <li><a href="#"><img src="@routes.Assets.versioned("images/icon/share.png")"/></a></li>*@
@*        </ul>*@
@*    </div>*@
@*</div>*@