@import views.html.base.profile.components._
@()(implicit messagesProvider: MessagesProvider)
<div class="profile-card">
    @userActivityCardTitle(icon = "recentActivity.png", title = "User568’s Activity", bottomSeparator = true)
    <div class="notification-container">
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut risus at lectus vehicula malesuada sed ac elit. Donec a posuere magna, sed varius augue. Sed cursus risus nec odio tempor, scelerisqu.")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut risus at lectus vehicula malesuada sed ac elit. Donec a posuere magna, sed varius augue. Sed cursus risus nec odio tempor, scelerisqu.")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
    </div>
    @userActivityCardTitle(icon = "trending.png", title = "Trending Collections", topSeparator = true, bottomSeparator = true)
    <div class="notification-container">
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
    </div>
    @userActivityCardTitle(icon = "recent.png", title = "Recently Viewed", topSeparator = true, bottomSeparator = true)
    <div class="notification-container">
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
        @singleActivityNotification(thumbnail="defaultCollectionCover.png", detail="Details of this notification")
    </div>
</div>