@import controllers.actions.LoginState
@import models.common.Coin
@import models.master.SecondaryMarket
@import models.blockchain.Order
@import views.html.base.buttons._

@(secondaryMarkets: Seq[SecondaryMarket], orders: Seq[Order], latestBlock: Int, tokenPrice: Double)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

<div id="marketListings">
    <div class="title">
        <ul class="d-flex flex-row justify-content-between">
            <li>@Messages(constants.View.MARKET_LISTINGS)</li>
            <li><i class="bi bi-chevron-up iconDefault dropdownIcon" id="showHidePropertyButton" onclick=""></i></li>
        </ul>
    </div>
    <div >
        <div class="d-flex flex-row flex-wrap gap-3">
            <table>
                <tr>
                    <th>@Messages(constants.View.SELL_QUANTITY)</th>
                    <th>@Messages(constants.View.PRICE)</th>
                    <th>@Messages(constants.View.SELLER)</th>
                    <th>@Messages(constants.View.ORDER_ENDS_IN)</th>
                    <th></th>
                </tr>
                @secondaryMarkets.map { secondaryMarket =>
                    <tr>
                        <td>@secondaryMarket.quantity</td>
                        <td>@Coin(denom = secondaryMarket.denom, amount = secondaryMarket.price).getAmountWithNormalizedDenom()</td>
                        <td><a href="/profile/@secondaryMarket.sellerId">@secondaryMarket.sellerId</a></td>
                        <td>@orders.find(_.idString == secondaryMarket.orderId).fold(0L)(_.getExpiryFromNow(latestBlock)) </td>
                        <td>
                            @commonPrimaryButton(Messages(constants.View.BUYNOW), JavaScript(s"getForm(jsRoutes.controllers.SecondaryMarketController.buyForm('${secondaryMarket.id}'))"), Symbol("class") -> "mt-4")
                            @if(loginState.isDefined && loginState.get.username == secondaryMarket.sellerId) {
                                @commonSecondaryButton(Messages(constants.View.CANCEL_ORDER), JavaScript(s"getForm(jsRoutes.controllers.SecondaryMarketController.cancelForm('${secondaryMarket.nftId}', '${secondaryMarket.id}'))"), Symbol("class") -> "mt-4")
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
