@import controllers.actions.LoginState

@(nftId: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, optionalLoginState: Option[LoginState])

<div class="contentBody">
    <div class="container contentTableContainer" id="tradeSellOrders">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="table-responsive">
                    <table class="table contentTable">
                        <thead>
                            <tr>
                                <th class="tableFieldName">@Messages(constants.View.TRADE_TABLE_TITLE_NAME)</th>
                                <th class="text-center tableFieldPrice">@Messages(constants.View.TRADE_TABLE_TITLE_PRICE)</th>
                                <th class="text-center tableFieldAmount">@Messages(constants.View.TRADE_TABLE_TITLE_AMOUNT)</th>
                                <th class="text-center tableFieldTotal">@Messages(constants.View.TRADE_TABLE_TITLE_TOTAL)</th>
                                <th class="tableFieldAction"></th>
                            </tr>
                        </thead>
                        <tbody id="tradeSellOrdersTableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        componentResource('tradeSellOrdersTableBody', jsRoutes.controllers.NFTController.sellOrdersPerPage('@nftId', 1))
</script>