@import views.html.base._
@import views.html.base.profile._
@import views.html.home._
@()(implicit messagesProvider: MessagesProvider)
@main("") {
    @menu()
    <div class="profileContainer">
        <div class="item item-sticky">

            <div class="profile-card">
                <div class="user-profile-top">
                    <div class="user-profile-pic"></div>
                    <div class="user-profile-name">
                        User568
                    </div>
                </div>
                <div class="user-address-box">
                    <div class="user-address-data">mantle10...x4hg4</div>
                    <div class="copy-icon"><img src="@routes.Assets.versioned("images/copy.png")"/></div>
                </div>
                <div class="user-join-date">
                    Joined April 2022
                </div>
                <div class="user-profile-data">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                </div>
                <div class="separator"></div>
                <div class="user-profile-social">
                    <ul>
                        <li><a href="#"><img src="@routes.Assets.versioned("images/icon/website.png")"/></a></li>
                        <li><a href="#"><img src="@routes.Assets.versioned("images/icon/twitter.png")"/></a></li>
                        <li><a href="#"><img src="@routes.Assets.versioned("images/icon/instagram.png")"/></a></li>
                        <li><a href="#"><img src="@routes.Assets.versioned("images/icon/share.png")"/></a></li>
                    </ul>
                </div>
            </div>

            <!-- Creator Stats -->
            <div class="profile-card">
                <div class="profile-stats">
                    <ul>
                        <li>
                            <div class="stats-card">
                                <img src="@routes.Assets.versioned("images/icon/totalNFT.png")"/>
                                <div class="stats-title">Total NFT’s</div>
                                <div class="stats-number">12</div>
                            </div>
                        </li>
                        <li>
                            <div class="stats-card">
                                <img src="@routes.Assets.versioned("images/icon/totalcollection.png")"/>
                                <div class="stats-title">Total Collections</div>
                                <div class="stats-number">4</div>
                            </div>
                        </li>
                        <li>
                            <div class="stats-card">
                                <img src="@routes.Assets.versioned("images/icon/totalsales.png")"/>
                                <div class="stats-title">Total Sales</div>
                                <div class="stats-number">12</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="item item-center">
            <!-- Profiles card -->
            <div class="profile-card">
                <div class="profiles-container">
                    <div class="card-header">
                        <div class="left-option">
                            <ul>
                                <li>Created</li>
                                <li>Collected</li>
                                <li>Favorites</li>
                            </ul>
                        </div>
                        <div class="right-option">
                            <div class="right-option-header">
                                <div class="option-with-icon">
                                    <img src="@routes.Assets.versioned("images/icon/sort.png")"/>
                                    Sort
                                </div>
                                <div class="option-with-icon">
                                    <img src="@routes.Assets.versioned("images/icon/filter.png")"/>
                                    Filter
                                </div>
                                <div class="option-layout">
                                    <div class="option grid-view-button">
                                        <i class="fa fa-th"></i>
                                    </div>
                                    <div class="option list-view-button">
                                        <i class="fa-solid fa-bars"></i>
                                    </div>
                                    <div class="option">
                                        <i class="fa-solid fa-list"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-list">
                        <ol class="list grid-view-filter">
                            <li>
                                <div class="single-profile-card">
                                    <div class="hero-img">
                                        <img src="http://emilcarlsson.se/assets/forest.jpg"/>
                                    </div>
                                    <div id="profile-img">
                                        <img src="https://img.itch.zone/aW1nLzY2ODk0NzIuanBn/original/vBoTfJ.jpg" alt="" />
                                    </div>
                                    <div id="content">
                                        <h1>Beluga Cat</h1>
                                        <p>Consectetur adipiscing amet</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-profile-card">
                                    <div class="hero-img">
                                        <img src="http://emilcarlsson.se/assets/forest.jpg"/>
                                    </div>
                                    <div id="profile-img">
                                        <img src="https://img.itch.zone/aW1nLzY2ODk0NzIuanBn/original/vBoTfJ.jpg" alt="" />
                                    </div>
                                    <div id="content">
                                        <h1>Beluga Cat</h1>
                                        <p>Consectetur adipiscing amet</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-profile-card">
                                    <div class="hero-img">
                                        <img src="http://emilcarlsson.se/assets/forest.jpg"/>
                                    </div>
                                    <div id="profile-img">
                                        <img src="https://img.itch.zone/aW1nLzY2ODk0NzIuanBn/original/vBoTfJ.jpg" alt="" />
                                    </div>
                                    <div id="content">
                                        <h1>Beluga Cat</h1>
                                        <p>Consectetur adipiscing amet</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-profile-card">
                                    <div class="hero-img">
                                        <img src="http://emilcarlsson.se/assets/forest.jpg"/>
                                    </div>
                                    <div id="profile-img">
                                        <img src="https://img.itch.zone/aW1nLzY2ODk0NzIuanBn/original/vBoTfJ.jpg" alt="" />
                                    </div>
                                    <div id="content">
                                        <h1>Beluga Cat</h1>
                                        <p>Consectetur adipiscing amet</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-profile-card">
                                    <div class="hero-img">
                                        <img src="http://emilcarlsson.se/assets/forest.jpg"/>
                                    </div>
                                    <div id="profile-img">
                                        <img src="https://img.itch.zone/aW1nLzY2ODk0NzIuanBn/original/vBoTfJ.jpg" alt="" />
                                    </div>
                                    <div id="content">
                                        <h1>Beluga Cat</h1>
                                        <p>Consectetur adipiscing amet</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-profile-card">
                                    <div class="hero-img">
                                        <img src="http://emilcarlsson.se/assets/forest.jpg"/>
                                    </div>
                                    <div id="profile-img">
                                        <img src="https://img.itch.zone/aW1nLzY2ODk0NzIuanBn/original/vBoTfJ.jpg" alt="" />
                                    </div>
                                    <div id="content">
                                        <h1>Beluga Cat</h1>
                                        <p>Consectetur adipiscing amet</p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="item item-sticky">

            <!-- Creator Activity Card -->
            <div class="profile-card">
                <div class="activity-top">
                    <img src="@routes.Assets.versioned("images/icon/recent.png")"/>
                    <div class="title">User568’s Activity</div>
                </div>
                <div class="separator"></div>
                <div class="activity-card">
                    <div class="recent-activity-card">
                        <img src="@routes.Assets.versioned("images/icon/transfer.png")"/>
                        <div class="activity-details">
                            <div class="activity-title">
                                Transferred
                                <div class="activity-thumbnail"></div>
                            </div>
                            <div class="activity-message">NFT Name lorem ipsum set dorem (1) to Creator’s name.</div>
                            <div class="activity-date-time">12/02/2022 12:05:02 </div>
                            <div class="activity-transaction-detail">
                                <img src="@routes.Assets.versioned("images/icon/external.png")"/>
                                Transaction Details
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activity-card">
                    <div class="recent-activity-card">
                        <img src="@routes.Assets.versioned("images/icon/minted.png")"/>
                        <div class="activity-details">
                            <div class="activity-title">
                                Minted
                                <div class="activity-thumbnail"></div>
                            </div>
                            <div class="activity-message">NFT Name lorem ipsum set dorem (1) to Creator’s name.</div>
                            <div class="activity-date-time">12/02/2022 12:05:02 </div>
                            <div class="activity-transaction-detail">
                                <img src="@routes.Assets.versioned("images/icon/external.png")"/>
                                Transaction Details
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activity-card">
                    <div class="recent-activity-card">
                        <img src="@routes.Assets.versioned("images/icon/transfer.png")"/>
                        <div class="activity-details">
                            <div class="activity-title">
                                Transferred
                                <div class="activity-thumbnail"></div>
                            </div>
                            <div class="activity-message">NFT Name lorem ipsum set dorem (1) to Creator’s name.</div>
                            <div class="activity-date-time">12/02/2022 12:05:02 </div>
                            <div class="activity-transaction-detail">
                                <img src="@routes.Assets.versioned("images/icon/external.png")"/>
                                Transaction Details
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activity-card">
                    <div class="recent-activity-card">
                        <img src="@routes.Assets.versioned("images/icon/minted.png")"/>
                        <div class="activity-details">
                            <div class="activity-title">
                                Minted
                                <div class="activity-thumbnail"></div>
                            </div>
                            <div class="activity-message">NFT Name lorem ipsum set dorem (1) to Creator’s name.</div>
                            <div class="activity-date-time">12/02/2022 12:05:02 </div>
                            <div class="activity-transaction-detail">
                                <img src="@routes.Assets.versioned("images/icon/external.png")"/>
                                Transaction Details
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}