@import controllers.actions.LoginState
@import views.html.base.form._
@import helper._
@import views.account.companion.AddCustodialKey

@(addCustodialKeyForm: Form[AddCustodialKey.Data] = AddCustodialKey.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.ADD_CUSTODIAL_KEY, addCustodialKeyForm) {
    @commonInputText(addCustodialKeyForm, constants.FormField.WALLET_ADDRESS)
    @commonInputText(addCustodialKeyForm, constants.FormField.SEEDS)
    @commonInputText(addCustodialKeyForm, constants.FormField.ADD_KEY_PASSWORD)
    @commonInputText(addCustodialKeyForm, constants.FormField.ADD_KEY_CONFIRM_PASSWORD)
}