@import views.account.companion.ChangePassword
@import views.html.base.form._
@import views.html.base.label._

@(changePassword: Form[ChangePassword.Data] = ChangePassword.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.CHANGE_PASSWORD, changePassword) {
    <div class="modal-body">
        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    @commonLabel(constants.FormField.OLD_PASSWORD.name)
                    @commonInputPassword(changePassword, constants.FormField.OLD_PASSWORD, Symbol("autocomplete") -> "off", Symbol("id") -> "oldPassword")
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    @commonLabel(constants.FormField.CHANGE_PASSWORD.name)
                    @commonInputPassword(changePassword, constants.FormField.CHANGE_PASSWORD, Symbol("autocomplete") -> "off", Symbol("id") -> "changePassword")
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    @commonLabel(constants.FormField.CHANGE_CONFIRM_PASSWORD.name)
                    @commonInputPassword(changePassword, constants.FormField.CHANGE_CONFIRM_PASSWORD, Symbol("autocomplete") -> "off", Symbol("id") -> "changeConfirmPassword")
                </div>
            </div>
        </div>
    </div>
}
<script>
        $("#formSubmitButton .buttonPrimary").addClass("disable");
        $("#oldPassword, #changePassword, #changeConfirmPassword").keyup(function (){
            if ($.trim(oldPassword.value).length && $.trim(changePassword.value).length && $.trim(changeConfirmPassword.value).length) {
                $("#formSubmitButton .buttonPrimary").removeClass("disable");
            } else {
                $("#formSubmitButton .buttonPrimary").addClass("disable");
            }
        });
</script>
