@import views.account.companion.CreateWalletSeedPhrase
@import views.html.base.form._

@(createWalletSeedPhraseForm: Form[CreateWalletSeedPhrase.Data] = CreateWalletSeedPhrase.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.CREATE_WALLET_SEED_PHRASE, createWalletSeedPhraseForm, backButton = 1) {
    <div class="form-input-text">
        <div class="form-phrase-text">@Messages(constants.View.ENTER_SEED_PHRASE)</div>
    </div>
    <div class="form-seed-box-list">
        <div class="form-seed-box">
            <div class="form-seed-box-number">1</div>
            @commonInputText(createWalletSeedPhraseForm, constants.FormField.SEED_PHRASE_1, Symbol("autocomplete") -> "off", Symbol("placeholder") -> "")
        </div>
        <div class="form-seed-box">
            <div class="form-seed-box-number">12</div>
            @commonInputText(createWalletSeedPhraseForm, constants.FormField.SEED_PHRASE_2, Symbol("autocomplete") -> "off", Symbol("placeholder") -> "")
        </div>
        <div class="form-seed-box">
            <div class="form-seed-box-number">18</div>
            @commonInputText(createWalletSeedPhraseForm, constants.FormField.SEED_PHRASE_3, Symbol("autocomplete") -> "off", Symbol("placeholder") -> "")
        </div>
        <div class="form-seed-box">
            <div class="form-seed-box-number">24</div>
            @commonInputText(createWalletSeedPhraseForm, constants.FormField.SEED_PHRASE_4, Symbol("autocomplete") -> "off", Symbol("placeholder") -> "")
        </div>
    </div>
    <div class="form-information-message">
        <div class="form-information-icon"><img src="@routes.Assets.versioned("images/info.png")"/></div>
        <div class="form-information-text">@Messages(constants.View.SEED_PHRASE_INFO)</div>
    </div>
}