@import views.account.companion.ForgotPasswordNewPassword
@import views.html.base.form._
@import views.html.base.label._
@import views.html.base.forms.formFooter
@import views.html.base.forms.commonFieldErrorMessage

@(forgotPasswordNewPasswordForm: Form[ForgotPasswordNewPassword.Data] = ForgotPasswordNewPassword.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.FORGOT_PASSWORD_NEW_PASSWORD, forgotPasswordNewPasswordForm) {
    <div class="inputField">
        <div class="inputFieldBody">
            @commonLabel(constants.FormField.FORGOT_PASSWORD.name)
            @commonInputPassword(forgotPasswordNewPasswordForm, constants.FormField.FORGOT_PASSWORD, 'id -> "forgotNewPassword", 'onblur -> """checkNewPassword()""")
            <div class="error-message">
                <div class="error-info error-info-1">
                    <span class="error-icon"></span>
                    <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_1)</span>
                </div>
                <div class="error-info error-info-2">
                    <span class="error-icon"></span>
                    <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_2)</span>
                </div>
                <div class="error-info error-info-3">
                    <span class="error-icon"></span>
                    <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_3)</span>
                </div>
                <div class="error-info error-info-4">
                    <span class="error-icon"></span>
                    <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_4)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="inputField">
        <div class="inputFieldBody">
            <div class="usernameAvailability">
                @commonLabel(constants.FormField.FORGOT_CONFIRM_PASSWORD.name)
                <div class="fieldIcon showPassword" id="showPassword" onclick="showPassword()">
                    <span class="eyeIcon closeEye">
                        <img src="@routes.Assets.versioned("images/icon/Hide.png")"/>
                    </span>
                    <span class="eyeIcon openEye hidden">
                        <img src="@routes.Assets.versioned("images/icon/Show.png")"/>
                    </span>
                </div>
                @commonInputPassword(forgotPasswordNewPasswordForm, constants.FormField.FORGOT_CONFIRM_PASSWORD, 'id -> "forgotNewConfirmPassword", 'oninput -> """checkPasswords()""")
                @commonFieldErrorMessage(id = "repeatPasswordError", message = Messages(constants.View.REPEAT_PASSWORD_MISMATCH))
            </div>
        </div>
    </div>
}
<script src="@routes.Assets.versioned("javascripts/account/forgotPassword.js")" type="text/javascript"></script>