@import views.account.companion.ForgotPassword
@import views.html.base.form._
@import views.html.base.forms.{commonFieldErrorMessage,formHeader,formHeaderWithBackButton,successModal,formPrimaryButton}
@import views.html.base.label._

@(forgetPassword: Form[ForgotPassword.Data] = ForgotPassword.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.FORGET_PASSWORD, forgetPassword, showBackButton = true, showScreen="#forgotPasswordUsername", hideScreen = "#forgotPasswordSeedInput") {

    <div id="forgotPasswordUsername" style="margin-bottom: 0px;">
        <div class="inputField">
            <div class="inputFieldBody">
                @commonLabel(constants.FormField.USERNAME.name)
                @commonInputText(forgetPassword, constants.FormField.USERNAME, Symbol("placeholder") -> Messages(constants.View.FORGOT_PASSWORD_USERNAME), Symbol("id") -> "username", Symbol("autocomplete") -> "off", Symbol("oninput") -> "enableNavigationButton(0)")
                @commonFieldErrorMessage(id = "usernameError",message = Messages(constants.View.FORGOT_PASSWORD_USERNAME_ERROR))
            </div>
        </div>
        <div class="inputField" style="margin-top: 24px;">
            <div class="inputFieldBody">
                @commonLabel(constants.FormField.WALLET_ADDRESS.name)
                @commonInputText(forgetPassword, constants.FormField.WALLET_ADDRESS, Symbol("placeholder") -> Messages(constants.View.FORGOT_PASSWORD_ADDRESS), Symbol("id") -> "walletAddress", Symbol("autocomplete") -> "off", Symbol("oninput") -> "enableNavigationButton(0);")
                @commonFieldErrorMessage(id = "walletAddressError",message = Messages(constants.View.FORGOT_PASSWORD_WALLET_ADDRESS_ERROR))
            </div>
        </div>
        <div class="form-button">
            <button type="button" class="form-primary-button" id="navigationButtonPage0" onclick="showHideForgotModalScreen('#forgotPasswordSeedInput','#forgotPasswordUsername',1)">@Messages(constants.View.NEXT)</button>
        </div>
    </div>

    <div id="forgotPasswordSeedInput" style="display: none; margin-bottom: 0px;">
        <div class="form-input-text">
            <div class="form-phrase-text">@Messages(constants.View.SEED_PHRASE_MESSAGE)</div>
        </div>
        <div class="form-seed-box-list">
            <div class="form-seed-box">
                <div class="form-seed-box-number">1</div>
                @commonInputText(forgetPassword, constants.FormField.SEED_PHRASE_1, Symbol("id") -> "phrase1", Symbol("class") -> "form-seed-box-phrase", Symbol("autocomplete") -> "off", Symbol("placeholder") -> "", Symbol("oninput") -> "enableNavigationButton(1)")
            </div>
            <div class="form-seed-box">
                <div class="form-seed-box-number">2</div>
                @commonInputText(forgetPassword, constants.FormField.SEED_PHRASE_2, Symbol("id") -> "phrase2", Symbol("class") -> "form-seed-box-phrase", Symbol("autocomplete") -> "off", Symbol("placeholder") -> "", Symbol("oninput") -> "enableNavigationButton(1)")
            </div>
            <div class="form-seed-box">
                <div class="form-seed-box-number">3</div>
                @commonInputText(forgetPassword, constants.FormField.SEED_PHRASE_3, Symbol("id") -> "phrase3", Symbol("class") -> "form-seed-box-phrase", Symbol("autocomplete") -> "off", Symbol("placeholder") -> "", Symbol("oninput") -> "enableNavigationButton(1)")
            </div>
            <div class="form-seed-box">
                <div class="form-seed-box-number">4</div>
                @commonInputText(forgetPassword, constants.FormField.SEED_PHRASE_4, Symbol("id") -> "phrase4", Symbol("class") -> "form-seed-box-phrase", Symbol("autocomplete") -> "off", Symbol("placeholder") -> "", Symbol("oninput") -> "enableNavigationButton(1)")
            </div>
        </div>
        <div class="seedPhraseError">
            <div id="phraseError" class="errorMessage">
                <div class="errorContainer">
                    <span><img src="@routes.Assets.versioned("images/icon/error.png")"/></span>
                    <span>@Messages(constants.View.FORGOT_PASSWORD_USERNAME_ERROR)</span>
                </div>
            </div>
        </div>
        <div class="form-information-message">
            <div class="form-information-icon"><img src="@routes.Assets.versioned("images/icon/info.png")"/></div>
            <div class="form-information-text">@Messages(constants.View.SEED_PHRASE_WARNING_MESSAGE)</div>
        </div>
        <div class="form-button">
            <button type="button" class="form-primary-button" id="navigationButtonPage1" onclick="showHideForgotModalScreen('#forgotPasswordSetPassword','#forgotPasswordSeedInput',2)">@Messages(constants.View.NEXT)</button>
        </div>
    </div>

        <div id="forgotPasswordSetPassword" style="display: none; margin-bottom: 0px;">
        <div class="inputField" style="margin-bottom: 24px;">
            <div class="inputFieldBody">
                @commonLabel(constants.FormField.FORGOT_PASSWORD.name)
                @commonInputPassword(forgetPassword, constants.FormField.FORGOT_PASSWORD, 'id -> "forgotNewPassword", 'onblur -> """checkNewPassword()""", Symbol("oninput") -> "enableNavigationButton(2)")
                <div class="error-message">
                    <div class="error-info error-info-1">
                        <span class="error-icon"></span>
                        <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_1)</span>
                    </div>
                    <div class="error-info error-info-2">
                        <span class="error-icon"></span>
                        <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_2)</span>
                    </div>
                    <div class="error-info error-info-3">
                        <span class="error-icon"></span>
                        <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_3)</span>
                    </div>
                    <div class="error-info error-info-4">
                        <span class="error-icon"></span>
                        <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_4)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="inputField" style="margin-bottom: 24px;">
            <div class="inputFieldBody">
                <div class="usernameAvailability">
                    @commonLabel(constants.FormField.FORGOT_CONFIRM_PASSWORD.name)
                    <div class="fieldIcon showPassword" id="showPassword" onclick="showPassword()">
                        <span class="eyeIcon closeEye">
                            <img src="@routes.Assets.versioned("images/icon/Hide.png")"/>
                        </span>
                        <span class="eyeIcon openEye hidden">
                            <img src="@routes.Assets.versioned("images/icon/Show.png")"/>
                        </span>
                    </div>
                    @commonInputPassword(forgetPassword, constants.FormField.FORGOT_CONFIRM_PASSWORD, 'id -> "forgotNewConfirmPassword", Symbol("oninput") -> "checkPasswords(); enableNavigationButton(2);")
                    @commonFieldErrorMessage(id = "repeatPasswordError", message = Messages(constants.View.REPEAT_PASSWORD_MISMATCH))
                </div>
            </div>
        </div>
    </div>

    <div id="forgotPasswordSuccess" style="display:none; margin-bottom: 0px;">
        @successModal(heading = Messages(constants.View.FORGOT_PASSWORD_SUCCESS_TITLE), subHeading = Messages(constants.View.FORGOT_PASSWORD_SUCCESS_SUBTITLE))
        <div class="form-button">
            @formPrimaryButton(message = "Sign In")
        </div>
    </div>
}
<script src="@routes.Assets.versioned("javascripts/account/forgotPassword.js")" type="text/javascript"></script>