@import views.account.companion.ForgotPasswordUsername
@import views.html.base.form._
@import views.html.base.label._
@import views.html.base.forms.formFooter
@import views.html.base.forms.commonFieldErrorMessage

@(forgotPasswordUsernameForm: Form[ForgotPasswordUsername.Data] = ForgotPasswordUsername.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.FORGOT_PASSWORD_USERNAME, forgotPasswordUsernameForm) {
    <div class="inputField">
        <div class="inputFieldBody">
            @commonLabel(constants.FormField.USERNAME.name)
            @commonInputText(forgotPasswordUsernameForm, constants.FormField.USERNAME, Symbol("autocomplete") -> "off")
            @commonFieldErrorMessage(id = "incorrectUsernameError", message = Messages(constants.View.INCORRECT_USERNAME))
        </div>
    </div>
}