@import views.account.companion.ForgotPassword
@import views.html.base.form._
@import views.html.base.forms.commonFieldErrorMessage
@import views.html.base.forms.formFooter
@import views.html.base.forms.multiStepNavigator
@import views.html.base.label._

@(forgetPassword: Form[ForgotPassword.Data] = ForgotPassword.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.FORGET_PASSWORD, forgetPassword) {
    @commonInputText(forgetPassword, constants.FormField.USERNAME)
    @commonInputText(forgetPassword, constants.FormField.WALLET_ADDRESS)
    @commonInputText(forgetPassword, constants.FormField.SEED_PHRASE_1)
    @commonInputText(forgetPassword, constants.FormField.SEED_PHRASE_2)
    @commonInputText(forgetPassword, constants.FormField.SEED_PHRASE_3)
    @commonInputText(forgetPassword, constants.FormField.SEED_PHRASE_4)
    @commonInputText(forgetPassword, constants.FormField.FORGOT_PASSWORD)
    @commonInputText(forgetPassword, constants.FormField.FORGOT_CONFIRM_PASSWORD)
}