@import views.account.companion.SignUp
@import views.html.base.form._
@import views.html.base.forms.commonFieldErrorMessage
@import views.html.base.forms.formFooter
@import views.html.base.label._

@(signUpForm: Form[SignUp.Data] = SignUp.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.SIGN_UP, signUpForm) {
    <div class="inputField">
        <div class="inputFieldBody">
            <div class="usernameAvailability">
                @commonLabelIcon(constants.FormField.USERNAME.name, Messages(constants.View.SIGN_UP_TOOLTIP))
                <div id="checkIcon" class="fieldIcon checkIcon">
                    <img src="@routes.Assets.versioned("images/Verified Username.png")"/>
                </div>
                @commonInputText(signUpForm, constants.FormField.USERNAME, Symbol("class") -> "inputBox", 'id -> "signUpUsername", Symbol("autocomplete") -> "off", 'oninput -> """checkUserAvailability()""")
                @commonFieldErrorMessage(id = "usernameAvailableError",message = Messages(constants.View.USERNAME_NOT_AVAILABLE))
            </div>
        </div>
    </div>

    @commonCheckbox(signUpForm, constants.FormField.USERNAME_AVAILABLE, Symbol("containerDivClass") -> "hidden")

    <div class="inputField">
        <div class="inputFieldBody">
            <div class="usernameAvailability">
                @commonLabel(constants.FormField.SIGNUP_PASSWORD.name)
                @commonInputPassword(signUpForm, constants.FormField.SIGNUP_PASSWORD, 'id -> "signUpPassword")
            </div>
        </div>
    </div>

    <div class="inputField">
        <div class="inputFieldBody">
            <div class="usernameAvailability">
                @commonLabel(constants.FormField.SIGNUP_CONFIRM_PASSWORD.name)
                <div class="fieldIcon showPassword" id="showPassword" onclick="showPassword()">
                    <span class="eyeIcon closeEye">
                        <img src="@routes.Assets.versioned("images/icon/Hide.png")"/>
                    </span>
                    <span class="eyeIcon openEye hidden">
                        <img src="@routes.Assets.versioned("images/icon/Show.png")"/>
                    </span>
                </div>
                @commonInputPassword(signUpForm, constants.FormField.SIGNUP_CONFIRM_PASSWORD, 'id -> "signUpConfirmPassword", 'oninput -> """checkPasswords()""")
                @commonFieldErrorMessage(id = "repeatPasswordError",message = Messages(constants.View.REPEAT_PASSWORD_MISMATCH))
            </div>
        </div>
    </div>

    @formFooter("Already have an account?","#","Sign In")
}
<script src="@routes.Assets.versioned("javascripts/account/signUp.js")" type="text/javascript"></script>