@import views.account.companion.SignUp
@import views.html.base.form._

@(signUpForm: Form[SignUp.Data] = SignUp.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.SIGN_UP, signUpForm) {
    @commonInputText(signUpForm, constants.FormField.USERNAME, Symbol("class") -> "inputBox", Symbol("autocomplete") -> "off")
    @commonCheckbox(signUpForm, constants.FormField.USERNAME_AVAILABLE)
    @commonInputPassword(signUpForm, constants.FormField.SIGNUP_PASSWORD)
    @commonInputPassword(signUpForm, constants.FormField.SIGNUP_CONFIRM_PASSWORD)
}


@*    <div class="container">*@
@*        <div class="form-container">*@
@*            <div class="main-container">*@
@*                <div class="forms">*@
@*                    <div class="form">*@
@*                        <div class="form-top">*@
@*                            <div class="form-title">Sign Up</div>*@
@*                            <div class="form-close-btn"><img src="@routes.Assets.versioned("images/Close.png")"/></div>*@
@*                            <a class="form-close-btn" href="#"></a>*@
@*                        </div>*@
@*                        <div class="form-sub-title">Sign up using an existing wallet or create one.</div>*@
@*                        <div class="wallet-list">*@
@*                            <ul>*@
@*                                <li>*@
@*                                    <div class="wallet-item">*@
@*                                        <div class="wallet-icon"><img src="@routes.Assets.versioned("../../../public/images/connect%20wallet.png")"/></div>*@
@*                                        <div class="wallet-title">Connect Wallet</div>*@
@*                                        <div class="wallet-logo"><img src="@routes.Assets.versioned("../../../public/images/Keplr%20Wallet%20Icon.png")"/></div>*@
@*                                    </div>*@
@*                                </li>*@
@*                                <li>*@
@*                                    <div class="wallet-item">*@
@*                                        <div class="wallet-icon"><img src="@routes.Assets.versioned("../../../public/images/import%20wallet.png")"/></div>*@
@*                                        <div class="wallet-title">Import Wallet</div>*@
@*                                        <div class="wallet-logo"><img src="@routes.Assets.versioned("../../../public/images/Keplr%20Wallet%20Icon.png")"/></div>*@
@*                                    </div>*@
@*                                </li>*@
@*                                <li>*@
@*                                    <div class="wallet-item">*@
@*                                        <div class="wallet-icon"><img src="@routes.Assets.versioned("../../../public/images/create%20wallet.png")"/></div>*@
@*                                        <div class="wallet-title">Create A New Wallet</div>*@
@*                                        <div class="wallet-logo"><img src="@routes.Assets.versioned("../../../public/images/Asset%20Mantle%20Icon.png")"/></div>*@
@*                                    </div>*@
@*                                </li>*@
@*                            </ul>*@
@*                        </div>*@
@*                        <div class="form-footer">*@
@*                            <div class="msg-1">*@
@*                                By creating an account, the user agrees to AssetMantle's <a class="link" href="#">Terms And Conditions</a>*@
@*                            </div>*@
@*                            <div class="msg-2">*@
@*                                Already have an account? <a class="link" href="#">Sign In</a>*@
@*                            </div>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
@*}*@