@import views.account.companion.SignIn
@import views.html.base.form._
@import views.html.base.label._
@import views.html.base.forms.formFooter
@import views.html.base.forms.commonFieldErrorMessage

@(signInForm: Form[SignIn.Data] = SignIn.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.SIGN_IN, signInForm) {
    <div class="inputField">
        <div class="inputFieldBody">
            @commonLabel(constants.FormField.USERNAME.name)
            @commonInputText(signInForm, constants.FormField.USERNAME, Symbol("autocomplete") -> "off", 'id -> "signInUsername", 'onblur -> """checkUserAvailability()""")
            @commonFieldErrorMessage(id = "incorrectUsernameError", message = Messages(constants.View.INCORRECT_USERNAME))
        </div>
    </div>
    <div class="inputField">
        <div class="inputFieldBody">
            @commonLabel(constants.FormField.SIGNUP_PASSWORD.name)
            @commonInputPassword(signInForm, constants.FormField.PASSWORD, 'id -> "signInPassword")
            @commonFieldErrorMessage(id = "incorrectPasswordError", message = Messages(constants.View.INCORRECT_PASSWORD))
        </div>
    </div>
    @formFooter("", "#", Messages(constants.View.SIGN_IN_FORGOT_PASSWORD))
    @formFooter(Messages(constants.View.SIGN_IN_SIGN_UP_MESSAGE), "#", Messages(constants.View.SIGN_IN_SIGN_UP))
}
<script src="@routes.Assets.versioned("javascripts/account/signIn.js")" type="text/javascript"></script>