@import views.account.companion.WalletMnemonics
@import views.html.base.form._

@(walletMnemonicsForm: Form[WalletMnemonics.Data] = WalletMnemonics.form, username: String, address: String, partialMnemonics: Seq[String])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div>
    @commonForm(constants.Form.VERIFY_WALLET_MNEMONICS, walletMnemonicsForm, isModal = true) {
        @commonInputText(walletMnemonicsForm, constants.FormField.USERNAME, Symbol("value") -> username, Symbol("readonly") -> "readonly", Symbol("class") -> "hidden")
        @commonInputText(walletMnemonicsForm, constants.FormField.WALLET_ADDRESS, Symbol("value") -> address, Symbol("readonly") -> "readonly", Symbol("class") -> "hidden")
        @commonInputText(walletMnemonicsForm, constants.FormField.SEED_PHRASE_1)
        @commonInputText(walletMnemonicsForm, constants.FormField.SEED_PHRASE_2)
        @commonInputText(walletMnemonicsForm, constants.FormField.SEED_PHRASE_3)
        @commonInputText(walletMnemonicsForm, constants.FormField.SEED_PHRASE_4)
    }
</div>