@mixin setFont($type, $style, $weight, $size, $lineHeight, $color){
  font-family: $type;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
  color: $color;
}

// Dropdown Menu
.dropdown {
  display: inline-block;
  width: 100%;
  z-index: 999;
  .dropdownHead{
    @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--inactive-gray));
    padding: 10px 12px;
    border: 1px solid var(--inactive-gray);
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: all .5s;
    &.active{
      @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--mantle-off-white));
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: var(--dark);
      background: var(--card-color);
    }
    &::after{
      content: "";
      height: 20px;
      width: 20px;
      background-image: url("../images/icon/downArrowWhite.png");
      background-size: 18px;
      background-repeat: no-repeat;
      position: absolute;
      right: 12px;
      top: 12px;
      transform-origin: center center;
      transition: all .5s;
    }
    &.active::after{
      top:10px;
      transform: rotate(180deg);
    }
    .currentSelected{
      line-height: 20px;
    }
    &.active + .dropdownBody{
      @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--mantle-off-white));
    }
  }
  .dropdownBody{
    @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--inactive-gray));
    padding: 10px 12px;
    position: relative;
    .dropdownBodyInner{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background: var(--card-color);
      display: none;
      border: 1px solid var(--dark);
      border-top: none;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      overflow: hidden;
      .dropdownItem{
        padding: 10px 12px;
        cursor: pointer;
        transition: all .5s;
        background: var(--card-color);
        line-height: 20px;
        position: relative;
        z-index: 89;
        &:nth-last-child(1) {
          padding-bottom: 10px;
        }
      }
    }
  }
}