@import controllers.actions.LoginState
@import models.master
@import views.html.nft.commonNFTCard

@(nfts: Seq[master.NFT], collections: Seq[master.Collection], likedNFTs: Seq[master.WishList])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

<div class="row m-0 p-0 ownedNFTPage">
    @if(nfts.nonEmpty) {
        @nfts.map { nft =>
            @commonNFTCard(collection = collections.find(_.id == nft.collectionId).get, nft = nft, liked = Option(likedNFTs.exists(_.nftId == nft.id)), onClickFunction = JavaScript(s"viewNFT('${nft.id}')"))
        }
    } else {
        <div id="noOwnedNFTsPerPage" class="noNFT"></div>
        <div id="noOwnedNFTFound" class="p-0 m-0">
            <div id="noCollection" class="h-100 mt-3 d-flex flex-column justify-content-center align-items-center emptyOwnedList">
                <div class="message">@Messages(constants.View.NO_COLLECTION_FOUND)</div>
            </div>
        </div>
    }
</div>
<script>setEmptyContainer();</script>