@import controllers.actions.LoginState

@(accountId: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

<div class="item item-center nftContainer m-0">
    <div class="p-0 profile-card">
        <div class="profiles-container">
            <div class="nft-list">
                <div class="nft-list-container m-0">
                    <div id="ownedNFTsPerPage" class="row m-0 ownedNFTsPerPage">
                    </div>
                </div>
                    <!-- Loader -->
                <div class="loading">
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                </div>
                    <!-- End -->
            </div>
        </div>
    </div>
</div>
<link href="@utilities.PublicResource.getVersionedRoute("stylesheets/explorer.css")"/>
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/profile/owned/loadMore.js")" type="text/javascript"></script>
<script>loadMoreOwnedNFTs('@accountId');
window.onscroll = function () {
    loadOwnedNFTsOnScroll('@accountId');
}
</script>