@(heading:String = "")

<div class="header-success">
    <div class="form-top">
        <div class="form-success-icon">
            <img class="checkmark" src="@routes.Assets.versioned("images/icon/errorIcon.png")" height="80px" width="80px"/>
        </div>
        <a class="form-close-btn close-modal" onclick="closeModal()"></a>
    </div>
    <div class="form-body">
        <div class="form-success-message">
            <div class="form-success-message-heading">@heading</div>
        </div>
    </div>
</div>
