@main("AssetMantle Wallet Successful"){
    <div class="container">
        <div class="form-container">
            <div class="main-container">
                <div class="forms">
                    <div class="form">
                        <div class="form-top">
@*                            <div class="form-success-icon"><img src="@routes.Assets.versioned("images/greentick.png")"/></div>*@
                            <div class="form-success-icon">
                                <div class="form-success-animation">
                                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                        <circle class="checkmark-circle" cx="26" cy="26" r="25" fill="none" />
                                        <path class="checkmark-check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                    </svg>
                                </div>
                            </div>
                            <a class="form-close-btn form-hidden" href="#"></a>
                        </div>
                        <div class="form-hidden">
                            <div class="form-success-message">
                                <div class="form-success-message-heading">Wallet Created Successfully</div>
                            </div>
                            <div class="form-success-message-sub-heading">Congratulations, your wallet has been created successfully.</div>
                            <div class="form-address-box">
                                <div class="form-address-box-item">
                                    <span class="address-box-label">Address:</span>
                                    <span class="address-box-text">dwafegrtefdvfhresv -39i539w0rej</span>
                                    <div class="form-copy-icon"><img src="@routes.Assets.versioned("images/copy.png")"/></div>
                                </div>
                            </div>
                            <div class="form-information-message">
                                <div class="form-information-icon"><img src="@routes.Assets.versioned("images/info.png")"/></div>
                                <div class="form-information-text">Please securely store this to login to your wallet in future.</div>
                            </div>
                            <div class="form-accordion">
                                <div class="accordion-box">
                                    <div class="accordion-toggle">
                                        <h4>Show Advanced Properties<span class="icon"></span></h4>
                                    </div>
                                    <div class="accordion-content">
                                        <div class="accordion-item">
                                            <p>Path:</p>
                                            <span>assetmantle@}hkjhkwedhiweh787899hihsiahi89w</span>
                                        </div>
                                        <div class="accordion-item">
                                            <p>Chain: </p>
                                            <span>assetmantle@}hkjhkwedhiweh787899hihsiahi89w</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-button">
                                <button class="form-cancel-button">Cancel</button>
                                <button class="form-next-button">Proceed To Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}