@import controllers.actions.LoginState
@import views.html.base.profile.components._
@import views.html.home._

@(failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@views.html.base.common(constants.View.COLLECTION, failures, warnings, successes, infos)
@menuWithSignIn(user=loginState.username)
<script>
        componentResource('centerContent', jsRoutes.controllers.CollectionController.all())
</script>