@main("Connect Confirmation Redirect To Keplrn") {
    <div class="container">
        <div class="form-container">
            <div class="main-container">
                <div class="forms">
                    <div class="form">
                        <div class="form-top">
                            <div class="form-top-title">
                                <div class="form-top-title-text">Redirecting to keplr</div>
                            </div>
                            <a class="form-close-btn" href="#"></a>
                        </div>
                        <div class="msg-4">
                            The page is redirecting to Keplr. Please wait...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}