@import views.html.base._
@main("Create Wallet"){
    <div class="container">
        <div class="form-container">
            <div class="main-container">
                <div class="forms">
                    <div class="form">
                        <div class="form-top">
                            <div class="form-title">Create A Wallet</div>
@*                            <div class="form-close-btn"><img src="@routes.Assets.versioned("images/Close.png")"/></div>*@
                            <a class="form-close-btn" href="#"></a>
                        </div>
                        <div class="msg-2">
                            Already have a wallet? <a class="link" href="#">Connect</a> &nbsp;or <a class="link" href="#">Import Wallet</a>
                        </div>
                        <div class="form-heading">Points to keep in mind for safety of funds:</div>
                        <div class="form-bullet-list">
                            <ul>
                                <li>Users need to securely store their mnemonic phrase (a.k.a. seed phrase). Losing or exposing the seed phrase can potentially lead to users' funds being stolen.</li>
                                <li>Users can view and save their mnemonic while creating a wallet.</li>
                                <li>Do not share seed phrase with anyone.</li>
                            </ul>
                        </div>
                        <div class="form-copy-item">
                            <div class="form-copy-text">Copy seed phrase</div>
                            <div class="form-copy-icon"><img src="@routes.Assets.versioned("images/copy.png")"/></div>
                        </div>
                        <div class="form-seed-box-list">
                            <div class="form-seed-box">
                                <div class="form-seed-box-number">1</div>
                                <div class="form-seed-box-phrase">monkey</div>
                            </div>
                            <div class="form-seed-box">
                                <div class="form-seed-box-number">12</div>
                                <div class="form-seed-box-phrase">honey</div>
                            </div>
                            <div class="form-seed-box">
                                <div class="form-seed-box-number">18</div>
                                <div class="form-seed-box-phrase">food</div>
                            </div>
                            <div class="form-seed-box">
                                <div class="form-seed-box-number">24</div>
                                <div class="form-seed-box-phrase">house</div>
                            </div>
                        </div>
                        <div class="form-information-message">
                            <div class="form-information-icon"><img src="@routes.Assets.versioned("images/info.png")"/></div>
                            <div class="form-information-text">This will be used for verification on the next screen.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}