@main("Forgot Password Username"){
    <div class="container">
        <div class="form-container">
            <div class="main-container">
                <div class="forms">
                    <div class="form">
                        <div class="form-top">
                            <div class="form-title">Forgot Password</div>
                            <a class="form-close-btn" href="#"></a>
                        </div>
                        <div class="msg-4">
                            Enter your username to reset password.
                        </div>
                        <form>
                            <div class="card">
                                <div class="input username_field">
                                    <input class="input__field" type="text" placeholder=" " id="username" autocomplete="off"/>
                                    <span class="input__label">Username</span>
                                    <i class="fa-regular fa-circle-check" id="btn"></i>
                                </div>
                                <div class="error-message">
                                    <div class="error-info">
                                        <img src="@routes.Assets.versioned("images/error.png")"/>
                                        <lable>Incorrect Username. Please enter again.</lable>
                                    </div>
                                </div>
                            </div>
                            <div class="form-button">
                                <button class="form-next-button" onclick="checkUsername()">Continue</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
}