@main("Reset Password Step 2"){
    <div class="container">
        <div class="form-container">
            <div class="main-container">
                <div class="forms">
                    <div class="form">
                        <div class="form-top">
                            <div class="form-title">Reset Password</div>
                            <a class="form-close-btn" href="#"></a>
                        </div>
                        <div class="msg-4">
                            Enter a new password
                        </div>
                        <form>
                            <div class="card">
                                <div class="input password_field">
                                    <input class="input__field password_input" type="password" placeholder=" " id="password" autocomplete="off" onblur="checkNewPassword()"/>                                    <span class="input__label">Password</span>
                                </div>
                                <div class="error-message">
                                    <div class="error-info error-info-1">
                                        <span class="error-icon"></span>
                                        <span class="error-text">8 to 128 characters</span>
                                    </div>
                                    <div class="error-info error-info-2">
                                        <span class="error-icon"></span>
                                        <span class="error-text">One number</span>
                                    </div>
                                    <div class="error-info error-info-3">
                                        <span class="error-icon"></span>
                                        <span class="error-text">One Upper case letter</span>
                                    </div>
                                    <div class="error-info error-info-4">
                                        <span class="error-icon"></span>
                                        <span class="error-text">One special character (!@@#$%^&*./-_)</span>
                                    </div>
                                </div>
                                <br>
                                <div class="input confirm_password">
                                    <input class="input__field password_input" type="password" placeholder=" " id="confirm_password" oninput="matchConfirmPassword()" autocomplete="off"/>
                                    <span class="input__label">Confirm Password</span>
                                    <i class="fa fa-eye-slash btn" id="btn" onclick="togglePassword()"></i>
                                </div>
                                <div class="error-message">
                                    <div class="error-info">
                                        <img src="@routes.Assets.versioned("images/error.png")"/>
                                        <lable>Password mismatched. Please check the password and try again.</lable>
                                    </div>
                                </div>
                            </div>
                            <div class="form-button">
                                <button class="form-next-button">Continue</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
}