@main("Reset Password Step 1"){
    <div class="container">
        <div class="form-container">
            <div class="main-container">
                <div class="forms">
                    <div class="form">
                        <div class="form-top">
                            <div class="form-title">Reset Password</div>
                            <a class="form-close-btn" href="#"></a>
                        </div>
                        <div class="msg-4">
                            Enter your old password
                        </div>
                        <form>
                            <div class="card">
                                <div class="input password_field">
                                    <input class="input__field password_input" type="password" placeholder=" " id="password" autocomplete="off"/>
                                    <span class="input__label">Password</span>
                                    <i class="fa fa-eye-slash btn" id="btn" onclick="togglePassword()"></i>
                                </div>
                            </div>
                            <div class="form-button">
                                <button class="form-next-button">Continue</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
}