@main("Seed Phrase Verification"){
    <div class="container">
        <div class="form-container">
            <div class="main-container">
                <div class="forms">
                    <div class="form">
                        <div class="form-top">
                            <div class="form-title">Create A Wallet</div>
                            <a class="form-close-btn" href="#"></a>
                        </div>
                        <div class="msg-3">
                            Confirm seed phrase.
                        </div>
                        <div class="form-seed-input-message">Enter your Seed Phrase</div>
                        <div class="form-seed-box-list">
                            <div class="form-seed-box">
                                <div class="form-seed-box-number">1</div>
                                <div class="form-seed-box-phrase">
                                    <input type="text" class="input-phrase-1" oninput="checkPhrase(this)"/>
                                </div>
                            </div>
                            <div class="form-seed-box">
                                <div class="form-seed-box-number">12</div>
                                <div class="form-seed-box-phrase">
                                    <input type="text" class="input-phrase-2" oninput="checkPhrase(this)"/>
                                </div>
                            </div>
                            <div class="form-seed-box">
                                <div class="form-seed-box-number">18</div>
                                <div class="form-seed-box-phrase">
                                    <input type="text" class="input-phrase-3" oninput="checkPhrase(this)"/>
                                </div>
                            </div>
                            <div class="form-seed-box">
                                <div class="form-seed-box-number">24</div>
                                <div class="form-seed-box-phrase">
                                    <input type="text" class="input-phrase-4" oninput="checkPhrase(this)"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-information-message">
                            <div class="form-information-icon"><img src="@routes.Assets.versioned("images/info.png")"/></div>
                            <div class="form-information-text">Do not share seed phrase with anyone.</div>
                        </div>
                        <div class="form-button">
                            <button class="form-back-button">Back</button>
                            <button class="form-next-button disable-button">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}