@import views.html.base.form._

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="modal-header mb-3">
    <h5 class="modal-title" id="staticBackdropLabel">@Messages(constants.View.ADD_NEW_WALLET_OPTION_TITLE)</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()">
                &times;
    </button>
</div>
<p class="sub-heading" id="modalSubtitle">@Messages(constants.View.ADD_NEW_WALLET_OPTION_SUBTITLE)</p>
<div class="dropdown">
    <input type="hidden" class="dp-input" value=""/>
    <div class="dropdownHead" onclick="showOptions(this)">
        <div class="currentSelected">@Messages(constants.View.ADD_NEW_WALLET_OPTION_SELECT_ITEM)</div>
    </div>
    <div class="dropdownBody">
        <div class="dropdownBodyInner">
            <div class="dropdownItem" value="Managed" onclick="setOption(this)">@Messages(constants.View.ADD_NEW_WALLET_OPTION_MANAGED)</div>
            <div class="dropdownItem" value="Unmanaged" onclick="setOption(this)">@Messages(constants.View.ADD_NEW_WALLET_OPTION_UNMANAGED)</div>
        </div>
    </div>
</div>
<div class="mt-3 form-button">
    <button class="form-primary-button" onclick="getForm(@utilities.JsRoutes.getJsRouteString(constants.Form.SIGN_IN.get, ""))">@Messages(constants.View.NEXT)</button>
</div>