@import views.profile.companion.ChangeWalletName
@import views.html.base.form._

@(changeWalletNameForm: Form[ChangeWalletName.Data] = ChangeWalletName.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.CHANGE_WALLET_NAME, changeWalletNameForm) {
    <div class="modal-body">
        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    @views.html.base.label.commonLabel(constants.FormField.WALLET_NAME_PREVIOUS.name)
                    @commonInputText(changeWalletNameForm, constants.FormField.WALLET_NAME_PREVIOUS, Symbol("placeholder") -> Messages(constants.View.WALLET_NAME_PREVIOUS_PLACEHOLDER), Symbol("autocomplete") -> "off")
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    @views.html.base.label.commonLabel(constants.FormField.WALLET_NAME_NEW.name)
                    @commonInputText(changeWalletNameForm, constants.FormField.WALLET_NAME_NEW, Symbol("placeholder") -> Messages(constants.View.WALLET_NAME_NEW_PLACEHOLDER), Symbol("autocomplete") -> "off")
                </div>
            </div>
        </div>
    </div>
}
