@import views.profile.companion.ChangeKeyName
@import views.html.base.form._

@(changeWalletNameForm: Form[ChangeKeyName.Data] = ChangeKeyName.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/userProfile.css")"/>
@commonForm(constants.Form.CHANGE_KEY_NAME, changeWalletNameForm) {
    <div class="modal-body">
        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    @views.html.base.label.commonLabel(constants.FormField.CHANGE_KEY_ADDRESS.name)
                    @commonInputText(changeWalletNameForm, constants.FormField.CHANGE_KEY_ADDRESS, Symbol("autocomplete") -> "off")
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    @views.html.base.label.commonLabel(constants.FormField.CHANGE_KEY_ADDRESS.name)
                    @commonInputText(changeWalletNameForm, constants.FormField.CHANGE_KEY_ADDRESS, Symbol("autocomplete") -> "off")
                </div>
            </div>
        </div>
    </div>
}
