@import views.profile.companion.DeleteAccount
@import views.html.base.form._

@(deleteAccountForm: Form[DeleteAccount.Data] = DeleteAccount.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/userProfile.css")"/>
@commonForm(constants.Form.REMOVE_ACCOUNT, deleteAccountForm) {
    <div class="modal-body">
        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                @commonInputText(deleteAccountForm, constants.FormField.PASSWORD, Symbol("autocomplete") -> "off")
                </div>
            </div>
        </div>
    </div>
}
