@import controllers.actions.LoginState
@import views.html.base.commonAddressValue

@(accountId: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div class="sticky-top item-sticky">
    <div class="card leftInfoCard">
        <div class="d-flex align-items-center profileHeader">
            <div class="profileImage">
                <img src="@routes.Assets.versioned("images/defaultCollectionCover.png")"/>
            </div>
            <div class="profileName">@loginState.username</div>
        </div>
        <div class="row p-2 mx-0 mt-3 justify-content-between align-items-center userAddressBox">
            <div class="col-10 p-0 userAddressData username-data" data-value="@loginState.address">
                @commonAddressValue(message = loginState.address, id = utilities.IdGenerator.getRandomHexadecimal, length = 5)
            </div>
            <div class="col-2 text-end copyIcon" onclick="copyToClipboard(this);
            showSnackbar('', '@Messages(constants.View.ADDRESS_COPIED)', '@Messages(constants.View.NOTIFICATION_TITLE_INFO)');">
                <i id="openWalletMenu" class="bi bi-files iconDefault iconMedium"></i>
            </div>
        </div>
        <div class="mt-2 joinedDate">@Messages(constants.View.PROFILE_JOINED_DATE_LABEL) April 2022</div>
        <div class="profileDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. </div>
        <div class="separator"></div>
        <div class="d-flex gap-3 gap-sm-4 gap-md-2 gap-lg-2 align-items-center w-100">
            <a href="" target="_blank">
                <i class="bi bi-globe2 iconDefault icon"></i>
            </a>
            <a href="" target="_blank">
                <img src="@routes.Assets.versioned("images/icon/twitterYellow.png")" class="icon"/>
            </a>
            <a href="" target="_blank">
                <i class="bi bi-instagram iconDefault icon"></i>
            </a>
        </div>
    </div>
    <div class="card leftInfoCard">
        <div class="d-flex flex-column gap-3">
            <div class="profileStatsBox">
                <div class="d-flex gap-2 align-items-center">
                    <img src="@routes.Assets.versioned("images/icon/totalNFTWhite.png")" class="icon"/>
                    <div class="statsTitle">@Messages(constants.View.PROFILE_STATS_TITLE_TOTAL_NFT)</div>
                </div>
                <div class="mt-1 statsValue">00</div>
            </div>
            <div class="profileStatsBox">
                <div class="d-flex gap-2 align-items-center">
                    <img src="@routes.Assets.versioned("images/icon/totalCollectionWhite.png")" class="icon"/>
                    <div class="statsTitle">@Messages(constants.View.PROFILE_STATS_TITLE_TOTAL_COLLECTION)</div>
                </div>
                <div class="mt-1 statsValue">00</div>
            </div>
            <div class="profileStatsBox">
                <div class="d-flex gap-2 align-items-center">
                    <img src="@routes.Assets.versioned("images/icon/totalSalesWhite.png")" class="icon"/>
                    <div class="statsTitle">@Messages(constants.View.PROFILE_STATS_TITLE_TOTAL_SALES)</div>
                </div>
                <div class="mt-1 statsValue">00</div>
            </div>
        </div>
    </div>
</div>