@import controllers.actions.LoginState
@import views.html.base.commonHorizontalSwitcher
@import scala.collection.immutable.ListMap

@(accountId: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, optionalLoginState: Option[LoginState])

<div class="item item-center centerContainer">
    <div class="centerCard">
        <div class="contentContainer">
            @optionalLoginState match {
                case Some(loginState) => {
                    @if(loginState.username == accountId) {
                        @commonHorizontalSwitcher(
                            ListMap(
                                constants.View.WHITELIST -> routes.javascript.WhitelistController.whitelistSection,
                                constants.View.WISHLIST -> routes.javascript.WishlistController.wishlistSection
                            )
                        )
                    } else {
                        @commonHorizontalSwitcher(
                            ListMap(
                                constants.View.WISHLIST -> views.html.base.modal.errorModal("failed")
                            )
                        )
                    }
                }
                case _ => {
                    @commonHorizontalSwitcher(
                        ListMap(
                            constants.View.WISHLIST -> views.html.base.modal.errorModal("failed")
                        )
                    )
                }
            }

        </div>
    </div>
</div>

<script>
        checkAndPushState(jsRoutes.controllers.ProfileController.viewProfile('@accountId').url, '@accountId', "profile");
</script>
