@import views.profile.companion.UpdateBio
@import views.html.base.form._

@(updateBioForm: Form[UpdateBio.Data] = UpdateBio.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.UPDATE_BIO, updateBioForm) {
    <div class="inputField">
        <div class="inputFieldBody">
            <textarea class="commonTextarea" onkeyup="characterCounter(this, 200);"></textarea>
            <span id="remainingCharacterLabel" class="mt-2 remainingCharacterLabel"></span>
            @commonInputText(updateBioForm, constants.FormField.USER_BIO, Symbol("class") -> "hidden")
        </div>
    </div>
}
<script src="@routes.Assets.versioned("javascripts/profile/settings.js")"></script>
<script>
    initialCharacterCounter(200);
</script>