@import views.profile.companion.ViewMnemonicsPasswordInput
@import views.html.base.form._

@(viewMnemonicsPasswordInputForm: Form[ViewMnemonicsPasswordInput.Data] = ViewMnemonicsPasswordInput.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.VIEW_MNEMONICS_PASSWORD_INPUT, viewMnemonicsPasswordInputForm) {
    <div class="modal-body">
        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    @commonInputText(viewMnemonicsPasswordInputForm, constants.FormField.PASSWORD, Symbol("autocomplete") -> "off")
                </div>
            </div>
        </div>
    </div>
}
