@import views.html.base.forms._

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">@Messages(constants.View.VIEW_MNEMONICS_SEED_PHRASE_TITLE)</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()">
                &times;
    </button>
</div>

<div class="mb-0" id="viewMnemonicsSeedPhraseScreen" style="margin-top: 32px;">
    <div class="d-flex flex-row mb-3 showHideSeeds">
        <span class="me-2">@Messages(constants.View.PROFILE_VERIFY_WALLET_MNEMONICS_SHOW_HIDE_MESSAGE)</span>
        <div class="iconContainer" onclick="showHideSeed()">
            <span class="eyeIcon closeEye">
                <img src="@routes.Assets.versioned("images/icon/hidePassword.png")" width="22px" height="20px"/>
            </span>
            <span class="eyeIcon openEye hidden">
                <img src="@routes.Assets.versioned("images/icon/showPassword.png")" width="22px" height="17px"/>
            </span>
        </div>
    </div>
    <div class="seedsSection"></div>
</div>

<script>
    mnemonicsLayout = "";
    mnemonicsNumber = 1;

    // 12 Seed Phrase
    for(i=1; i<=3; i++){
        mnemonicsLayout += `<div class="d-flex mb-3 form-seed-box-list">`;
        for(j=1; j<=4; j++){
            mnemonicsLayout += `
                <div class="form-seed-box">
                    <div class="form-seed-box-number">${('0' + mnemonicsNumber).slice(-2)}</div>
                    <input type="password" class="mt-2 form-seed-box-phrase mnemonicValue active disable" id="mnemonic${mnemonicsNumber}"/>
                </div>`;
            mnemonicsNumber+=1;
        }
        mnemonicsLayout += `</div>`;
        $(".seedsSection").append(mnemonicsLayout);
        mnemonicsLayout = "";
    }

    // 24 Sedd Phrase
    for(i=1; i<=3; i++){
        mnemonicsLayout += `<div class="d-flex mb-3 form-seed-box-list">`;
        for(j=1; j<=4; j++){
            mnemonicsLayout += `
                <div class="form-seed-box">
                    <div class="form-seed-box-number">${('0' + mnemonicsNumber).slice(-2)}</div>
                    <input type="password" class="mt-2 form-seed-box-phrase mnemonicValue disable" id="mnemonic${mnemonicsNumber}"/>
                </div>`;
            mnemonicsNumber+=1;
        }
        mnemonicsLayout += `</div>`;
        $(".seedsSection").append(mnemonicsLayout);
        mnemonicsLayout = "";
    }

    function showHideSeed(){
        allSeeds = $('.mnemonicValue');
        if (allSeeds[0].type === "password"){
            allSeeds.each(function(){
                $(this).attr("type","text");
            });
            $(".closeEye").addClass("hidden");
            $(".openEye").removeClass("hidden");
        } else {
            allSeeds.each(function(){
                $(this).attr("type","password");
            });
            $(".closeEye").removeClass("hidden");
            $(".openEye").addClass("hidden");
        }
    }
</script>


