@import controllers.actions.LoginState

@(accountId: String, activeTab: String, failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

@views.html.base.common(constants.View.PROFILE, failures, warnings, successes, infos)
<link rel="stylesheet" media="screen" href="@utilities.PublicResource.getVersionedRoute("stylesheets/userProfile.css")"/>
<script>
        componentResource('leftContent', jsRoutes.controllers.ProfileController.profileInfoCard('@accountId'));
        componentResource('centerContent', jsRoutes.controllers.ProfileController.profile('@accountId', '@activeTab'));
        componentResource('rightContent', jsRoutes.controllers.ProfileController.profileActivityCard('@accountId'));
</script>