@import controllers.actions.LoginState
@import views.html.base.buttons.commonPrimaryCallButton
@import views.html.collection.commonCollectionCard

@(collections: Seq[master.Collection], collectionFiles: Seq[master.CollectionFile], totalCollections: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

@if(collections.nonEmpty) {
    @collections.map { collection =>
        <div class="mt-3 singleCollection singleCreatedCollection">
            @commonCollectionCard(collection, JavaScript(s"viewCollection('${collection.id}')"), collectionCoverFile = collectionFiles.find(x => x.id == collection.id && x.documentType == constants.Collection.File.COVER).map(_.fileName), collectionProfileFile = collectionFiles.find(x => x.id == collection.id && x.documentType == constants.Collection.File.PROFILE).map(_.fileName))
        </div>
    }
} else {
    @if(totalCollections == 0) {
        <div id="noCreatedCollectionsPerPage" class="noCollectionLeft"></div>
        <div id="noCollection" class="emptyCreated"></div>
    } else {}
}
<script src="@routes.Assets.versioned("javascripts/profile/created/collectionPerPage.js")" type="text/javascript"></script>
<script>checkNoCollection()</script>