@import controllers.actions.LoginState
@import views.html.collection.commonCollectionCard

@(collections: Seq[master.Collection], drafts: Seq[masterTransaction.CollectionDraft], totalCollections: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

@if(collections.nonEmpty || drafts.nonEmpty) {
    @drafts.map { draft =>
        <div class="mt-3 singleCollection singleCreatedCollection draftCollection">
            @commonCollectionCard(draft.toCollection(), JavaScript(s"getForm(jsRoutes.controllers.CollectionController.editForm('${draft.id}'))"))
        </div>
    }
    @collections.map { collection =>
        <div class="mt-3 singleCollection singleCreatedCollection">
            @commonCollectionCard(collection, JavaScript(s"viewCollection('${collection.id}')"))
        </div>
    }
} else {
    @if(totalCollections == 0) {
        <div id="noCreatedCollectionsPerPage" class="noCollectionLeft"></div>
        <div id="noCollection" class="emptyCreated"></div>
    } else {}
}
<script src="@routes.Assets.versioned("javascripts/profile/created/collectionPerPage.js")" type="text/javascript"></script>
<script>checkNoCollection()</script>