@import views.html.base.form._
@import views.sale.companion.CreateCollectionSale

@(createSaleForm: Form[CreateCollectionSale.Data] = CreateCollectionSale.form, collectionId: Option[String], collections: Map[String, String], whitelistId: Option[String], whitelists: Map[String, String])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.COLLECTION_SALE, createSaleForm) {
    @if(collectionId.getOrElse("") != "") {
        @commonCustomSelect(createSaleForm, constants.FormField.SELECT_COLLECTION_ID, collections, Symbol("value") -> collectionId.get, Symbol("class") -> "custom-select sources filledSelect")
    } else {
        @commonCustomSelect(createSaleForm, constants.FormField.SELECT_COLLECTION_ID, collections, Symbol("class") -> "custom-select sources filledSelect")
    }
    @commonInputInt(createSaleForm, constants.FormField.SALE_NFT_NUMBER)
    @if(whitelistId.getOrElse("") != "") {
        @commonCustomSelect(createSaleForm, constants.FormField.SELECT_WHITELIST_ID, whitelists, Symbol("value") -> whitelistId.get, Symbol("class") -> "custom-select sources filledSelect")
    } else {
        @commonCustomSelect(createSaleForm, constants.FormField.SELECT_WHITELIST_ID, whitelists, Symbol("class") -> "custom-select sources filledSelect")
    }
    @commonInputMicornumber(createSaleForm, constants.FormField.NFT_WHITELIST_SALE_PRICE)
    @commonInputBigDecimal(createSaleForm, constants.FormField.NFT_SALE_CREATOR_FEE)
    @commonInputEpochTIme(createSaleForm, constants.FormField.NFT_SALE_START_EPOCH, setCurrentTime = true)
    @commonInputEpochTIme(createSaleForm, constants.FormField.NFT_SALE_END_EPOCH, setCurrentTime = false)
}