@import views.html.base.forms.formHeader
@(arguments: (Symbol, Any)*)(content: Html)
<div class="@arguments.toMap.get(Symbol("class")).map(_.toString).getOrElse("model-container")">

    <div id="modal">
        <div class="modal-content">
            @content
            @*                       @formHeader() *@
            @*                        <div class="header">*@
            @*                                <h2>Modal Header</h2>*@
            @*                        </div>*@
            <div class="body">
                <p>Modal Body</p>
                <a href="#">Close Link</a>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
</div>