@(arguments: (Symbol, Any)*)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="form-address-box">
    <div class="form-address-box-item">
        @if(arguments.toMap.get('userName).map(_.toString).isDefined){
                <span class="address-box-label">@Messages(constants.View.TOOLTIP_USERNAME)</span>
                <span class="address-box-text">
                    <span class="username-data">@arguments.toMap.get('userName).map(_.toString).getOrElse("")</span>
                    <span class="form-copy-icon" onclick="copyToClipboard(this)"><img src="@routes.Assets.versioned("images/icon/copy.png")"/></span>
                    <span class="form-copy-message">@Messages(constants.View.TOOLTIP_COPIED)</span>
                </span>
        }
        @if(arguments.toMap.get('address).map(_.toString).isDefined){
            <span class="address-box-label">@Messages(constants.View.TOOLTIP_PASSWORD)</span>
            <span class="address-box-text">
                <span class="username-data">@arguments.toMap.get('address).map(_.toString).getOrElse("")</span>
                <span class="form-copy-icon" onclick="copyToClipboard(this)"><img src="@routes.Assets.versioned("images/icon/copy.png")"/></span>
                <span class="form-copy-message">@Messages(constants.View.TOOLTIP_COPIED)</span>
            </span>
        }
    </div>
</div>