@(heading:String = "", subHeading:String = "")

<div class="header-success">
    <div class="form-top">
        <div class="form-success-icon">
            <img class="checkmark" src="@routes.Assets.versioned("images/greentick.png")" height="100px" width="100px"/>
        </div>
    <a class="form-close-btn close-modal"></a>
    </div>
    <div class="form-body">
        <div class="form-success-message">
            <div class="form-success-message-heading">@heading</div>
            <div class="form-success-message-sub-text">@subHeading</div>
        </div>
    </div>
</div>
